/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror { background: #272823; color: rgba(255,255,255,0.8); }
.cm-s-monokai div.CodeMirror-selected { background: #49483E; }
.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.cm-s-monokai .CodeMirror-gutters { background: #272822; border-right: 0px; }
.cm-s-monokai .CodeMirror-guttermarker { color: #f6f6f6; }
.cm-s-monokai .CodeMirror-guttermarker-subtle { color: #c0c0c0; }
.cm-s-monokai .CodeMirror-linenumber { color: rgba(240,240,240,0.3); }
.cm-s-monokai .CodeMirror-cursor { border-left: 3px solid rgba(255,255,255,0.8); line-height: 0.9; }

.cm-s-monokai span.cm-comment { color: #75715e; font-style: italic;}
.cm-s-monokai span.cm-atom { color: #ae81ff; }
.cm-s-monokai span.cm-number { color: #ae81ff; }

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute { color: #66d9ef; }
.cm-s-monokai span.cm-keyword { color: #f92672; }
.cm-s-monokai span.cm-builtin { color: #66d9ef; }
.cm-s-monokai span.cm-string { color: #e6db74; }

.cm-s-monokai span.cm-variable { color: rgba(255,255,255,0.8); }
.cm-s-monokai span.cm-variable-2 { color: #9effff; }
.cm-s-monokai span.cm-variable-3 { color: #66d9ef; }
.cm-s-monokai span.cm-def { color: #fd971f; }
.cm-s-monokai span.cm-bracket { color: rgba(255,255,255,0.8); }
.cm-s-monokai span.cm-tag { color: #f92672; }
.cm-s-monokai span.cm-header { color: #f92672; }
.cm-s-monokai span.cm-link { color: #a6e22e; text-decoration: none;}
.cm-s-monokai span.cm-url { color: #66d9ef; }
.cm-s-monokai span.cm-hr { color: #fd971f; }
.cm-s-monokai span.cm-error { background: #fd2632; color: #f8f8f0; }

.cm-s-monokai span.cm-strong { color: #ae81ff; }
.cm-s-monokai span.cm-em { color: #e6db74; }
/*.cm-s-monokai span.cm-em, .cm-s-monokai span.cm-strong { color: #fd971f; }*/

.cm-s-monokai .CodeMirror-activeline-background { background: #373831; }
.cm-s-monokai .CodeMirror-matchingbracket {
  border: 1px solid white;
  color: white !important;
}
