/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ebebec;
  color: rgba(0,0,0,0.75);
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }
.cm-s-neo .CodeMirror-selected { background:#d2d2d3; }
/* Editor styling */
.cm-s-neo pre { padding:0; }
.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}
.cm-s-neo .CodeMirror-linenumber { color:#e0e2e5; padding:0; }
.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }
.cm-s-neo .CodeMirror-cursor {
  /*width: auto;*/
  border-left: 1.25px solid #6e787c !important;
  /*background: rgba(155,157,162,0.37);*/
  z-index: 1;
}
.cm-s-neo .cm-link { text-decoration: none; }
.cm-s-neo .cm-header { color: #2e383c; }
.cm-s-neo .cm-link { color: #1d75b3; text-decoration: none; }
.cm-s-neo .cm-url { color: #047d65; }
.cm-s-neo .cm-em { color: #b35e14 }
.cm-s-neo .cm-strong { color: #75438a; }
.cm-s-neo .cm-em.cm-strong { color: #b35e14; }
.cm-s-neo .cm-strikethrough { color: #9c3328; }

#previewPanel { box-shadow: -4px 0 10px rgba(0,0,0,0.15); }
