/*

    Name:   One Dark
    Author: Brett Stevenson (http://github.com/JonSn0w)

    Inspired by the 'One Dark' syntax theme from Atom (https://github.com/atom/one-dark-syntax)

*/

.cm-s-one-dark.CodeMirror {
  background-color: hsl(220, 11%, 18%);
  color: hsl(220, 14%, 71%);
}
.cm-s-one-dark .CodeMirror-gutters {
  background: hsl(220, 11%, 18%);
  color: darken(hsl(220, 14%, 71%), 26%);
  border-right: 1px solid fade(hsl(220, 14%, 71%), 15%);
}
.cm-s-one-dark .CodeMirror-guttermarker, .cm-s-one-dark .CodeMirror-guttermarker-subtle, .cm-s-one-dark .CodeMirror-linenumber { color: #8B929F; }
.cm-s-one-dark .CodeMirror-cursor { border-left: 2px solid hsl(220, 100%, 66%); }
.cm-s-one-dark div.CodeMirror-selected { background: lighten(hsl(220, 11%, 18%), 2%); }
.cm-s-one-dark.CodeMirror-focused div.CodeMirror-selected { background: lighten(hsl(220, 11%, 18%), 2%); }
.cm-s-one-dark .CodeMirror-line::selection, .cm-s-one-dark .CodeMirror-line > span::selection, .cm-s-one-dark .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-one-dark .CodeMirror-line::-moz-selection, .cm-s-one-dark .CodeMirror-line > span::-moz-selection, .cm-s-one-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

.cm-s-one-dark .CodeMirror-activeline-background { background: hsla(220, 100%,  80%, .04); }
.cm-s-one-dark .cm-header { color: hsl(355, 65%, 65%); }
.cm-s-one-dark .cm-keyword { color: hsl(286, 60%, 67%); }
.cm-s-one-dark .cm-operator { color: hsl(180, 49%, 60%); }
.cm-s-one-dark .cm-builtin { color: hsl(39, 67%, 69%); }
.cm-s-one-dark .cm-atom { color: hsl(25, 54%, 61%); }
.cm-s-one-dark .cm-number { color: hsl(25, 54%, 61%); }
.cm-s-one-dark .cm-hr { color: hsl(25, 54%, 61%); }
.cm-s-one-dark .cm-def { color: hsl(207, 82%, 66%); }
.cm-s-one-dark .cm-string { color: hsl(95, 38%, 62%); }
.cm-s-one-dark .cm-string-2 { color: hsl(180, 49%, 60%); }
.cm-s-one-dark .cm-comment { color: hsl(220, 10%, 40%); font-style: italic; }
.cm-s-one-dark .cm-meta { color: hsl(95, 38%, 62%); }
.cm-s-one-dark .cm-attribute { color: hsl(25, 54%, 61%); }
.cm-s-one-dark .cm-property { color: hsl(180, 49%, 60%); }
.cm-s-one-dark .cm-qualifier { color: hsl(39, 67%, 69%); }
.cm-s-one-dark .cm-variable { color: hsl(95, 38%, 62%); }
.cm-s-one-dark .cm-variable-2 { color: #hsl(220, 14%, 71%); }
.cm-s-one-dark .cm-variable-3 { color: #hsl(220, 14%, 71%); }
.cm-s-one-dark .cm-link { color: hsl(180, 49%, 60%); text-decoration: none; }
.cm-s-one-dark .cm-tag { color: hsl(355, 65%, 65%); }
.cm-s-one-dark .cm-bracket { color: hsl(220, 14%, 71%) !important; }
.cm-s-one-dark .cm-url { color: hsl(95, 38%, 62%); }
.cm-s-one-dark .cm-em { color: hsl(39, 67%, 69%); }
.cm-s-one-dark .cm-strong { color: hsl(286, 60%, 67%); }
.cm-s-one-dark .cm-error {
  color: rgba(255, 255, 255, 1.0);
  background-color: hsl(5, 48%, 51%);
}
.cm-s-one-dark .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
