/*
	Name:       Panda Syntax
	Author:     Siamak Mokhtari (http://github.com/siamak/)
	CodeMirror template by Siamak Mokhtari (https://github.com/siamak/atom-panda)
*/

.cm-s-panda {
	background: #292A2B;
	color: rgba(255,255,255,0.75);
	line-height: 1.5;
}
.cm-s-panda .CodeMirror-cursor { border-color: #ff2c6d; }
.cm-s-panda .CodeMirror-activeline-background {
  background: rgba(99, 123, 156, 0.1);
}
.cm-s-panda .CodeMirror-cursor {
    border-left: 2px solid rgba(255,255,255,0.8);
}
.cm-s-panda .CodeMirror-selected { background: rgba(255,255,255,0.4); }
.cm-s-panda .cm-comment { font-style: italic; color: #676B79; }
.cm-s-panda .cm-operator { color: #f3f3f3; }
.cm-s-panda .cm-link { color: #FFB86C; text-decoration: none; }
.cm-s-panda .cm-string { color: #09E9C8; text-decoration: none; }
.cm-s-panda .cm-string-2 { color: #FFB86C; }
.cm-s-panda .cm-tag { color: #ff2c6d; }
.cm-s-panda .cm-meta { color: #b084eb; }
.cm-s-panda .cm-number { color: #FFB86C; }
.cm-s-panda .cm-atom { color: #ff2c6d; }
.cm-s-panda .cm-keyword { color: #FF75B5; }
.cm-s-panda .cm-variable { color: #ffb86c; }
/*.cm-s-panda .cm-variable-2 { color: #ff9ac1; }*/
/*.cm-s-panda .cm-variable-3 { color: #ff9ac1; }*/

.cm-s-panda .cm-def { color: #e6e6e6; }
.cm-s-panda .cm-property { color: #f3f3f3; }
.cm-s-panda .cm-unit { color: #ffb86c; }
.cm-s-panda .cm-attribute { color: #ffb86c; }

.cm-s-panda .cm-header { color: #ff2c6d; }
.cm-s-panda .cm-url { color: #09E9C8; }
.cm-s-panda .cm-em { color: #ff9ac1; }
.cm-s-panda .cm-strong { color: #b084eb; }
.cm-s-panda .cm-strikethrough { color: #ff2c6d; }

.cm-s-panda .CodeMirror-matchingbracket {
    border-bottom: 1px dotted #09E9C8;
    padding-bottom: 2px;
    color: #e6e6e6;
}
.cm-s-panda .CodeMirror-gutters {
    background: #292a2b;
    border-right-color: rgba(255, 255, 255, 0.1);
}
.cm-s-panda .CodeMirror-linenumber { color: #e6e6e6; opacity: 0.6; }
