/*
solarized-light theme for code-mirror
http://ethanschoonover.com/solarized-light
*/

/*
solarized-light color palette
http://ethanschoonover.com/solarized-light/img/solarized-light-palette.png
*/

.solarized-light.base03 { color: #002b36; }
.solarized-light.base02 { color: #073642; }
.solarized-light.base01 { color: #586e75; }
.solarized-light.base00 { color: #657b83; }
.solarized-light.base0 { color: #839496; }
.solarized-light.base1 { color: #93a1a1; }
.solarized-light.base2 { color: #eee8d5; }
.solarized-light.base3  { color: #fdf5e9; }
.solarized-light.solar-yellow  { color: #b58900; }
.solarized-light.solar-orange  { color: #cb4b16; }
.solarized-light.solar-red { color: #dc322f; }
.solarized-light.solar-magenta { color: #d33682; }
.solarized-light.solar-violet  { color: #6c71c4; }
.solarized-light.solar-blue { color: #268bd2; }
.solarized-light.solar-cyan { color: #2aa198; }
.solarized-light.solar-green { color: #859900; }

/* Color scheme for code-mirror */

.cm-s-solarized-light {
  line-height: 1.45em;
  color-profile: sRGB;
  rendering-intent: auto;
}
.cm-s-solarized-light {
  background-color: #fdf5e9;
  color: #60777d;
  text-shadow: #eee8d5 0 1px;
}

.cm-s-solarized-light .CodeMirror-widget {
  text-shadow: none;
}

.cm-s-solarized-light .cm-header { color: #268bd2; }
.cm-s-solarized-light .cm-quote { color: #93a1a1; }

.cm-s-solarized-light .cm-keyword { color: #cb4b16; }
.cm-s-solarized-light .cm-atom { color: #d33682; }
.cm-s-solarized-light .cm-number { color: #d33682; }
.cm-s-solarized-light .cm-def { color: #2aa198; }

.cm-s-solarized-light .cm-variable { color: #839496; }
/*.cm-s-solarized-light .cm-variable-2 { color: #b58900; }
.cm-s-solarized-light .cm-variable-3 { color: #6c71c4; }*/

.cm-s-solarized-light .cm-property { color: #2aa198; }
.cm-s-solarized-light .cm-operator { color: #6c71c4; }

.cm-s-solarized-light .cm-comment { color: #586e75; font-style:italic; }

.cm-s-solarized-light .cm-string { color: #859900; }
.cm-s-solarized-light .cm-string-2 { color: #b58900; }

.cm-s-solarized-light .cm-meta { color: #859900; }
.cm-s-solarized-light .cm-qualifier { color: #b58900; }
.cm-s-solarized-light .cm-builtin { color: #d33682; }
.cm-s-solarized-light .cm-bracket { color: #cb4b16; }
.cm-s-solarized-light .CodeMirror-matchingbracket { color: #859900; }
.cm-s-solarized-light .CodeMirror-nonmatchingbracket { color: #dc322f; }
.cm-s-solarized-light .cm-tag { color: #6c71c4; }
.cm-s-solarized-light .cm-attribute { color: #2aa198; }
/*.cm-s-solarized-light .cm-hr {
  color: transparent;
  border-top: 1px solid #586e75;
  display: block;
}*/
.cm-s-solarized-light .cm-link { color: #2aa198; text-decoration: none;}
.cm-s-solarized-light .cm-special { color: #6c71c4; }
.cm-s-solarized-light .cm-em {
  color: #cb4b16;
  text-decoration: none;
  text-decoration-style: dotted;
}
.cm-s-solarized-light .cm-strong { color: #d33682; font-weight: 500; }
.cm-s-solarized-light span.cm-strong.cm-em { color: #6c71c4; }
.cm-s-solarized-light span.cm-strikethrough { color: #6c71c4; }
.cm-s-solarized-light .cm-error,
.cm-s-solarized-light .cm-invalidchar {
  color: #586e75;
  border-bottom: 1px dotted #dc322f;
}

.cm-s-solarized-light div.CodeMirror-selected { background: #eee8d5; }
.cm-s-solarized-light .CodeMirror-line::selection, .CodeMirror-line > span::selection,  .CodeMirror-line > span > span::selection { background: #eee8d5; }
.cm-s-solarized-light .CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #eee8d5; }

/* Editor styling */

/* Remove gutter border */
.cm-s-solarized-light .CodeMirror-gutters {
  border-right: 0;
}

/* Gutter colors and line number styling based of color scheme (dark / light) */

/* Light */
.cm-s-solarized-light .CodeMirror-gutters {
  background-color: #eee8d5;
}

.cm-s-solarized-light .CodeMirror-linenumber {
  color: #839496;
}

/* Common */
.cm-s-solarized-light .CodeMirror-linenumber {
  padding: 0 5px;
}
.cm-s-solarized-light .CodeMirror-guttermarker-subtle { color: #586e75; }
.cm-s-solarized-light .CodeMirror-guttermarker { color: #cb4b16; }

.cm-s-solarized-light .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #586e75;
}

/* Cursor */
.cm-s-solarized-light .CodeMirror-cursor { border-left: 1px solid #819090 !important; }

/* Active line */
.cm-s-solarized-light .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.06);
}

#previewPanel { box-shadow: -8px 0 18px rgba(0,0,0,0.2); }
