/*

    Name:       yeti
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original yeti color scheme by Jesse Weed (https://github.com/jesseweed/yeti-syntax)

*/


.cm-s-yeti.CodeMirror {
  background-color: #ECEAE8 !important;
  color: rgba(0,0,0,0.5) !important;
  border: none;
}

.cm-s-yeti .CodeMirror-gutters {
  color: #adaba6;
  background-color: #E5E1DB;
  border: none;
}
.cm-s-yeti .CodeMirror-cursor { border-left: 2px solid #d1c9c0; }
.cm-s-yeti .CodeMirror-linenumber { color: #adaba6; }
.cm-s-yeti.CodeMirror-focused div.CodeMirror-selected { background: #DCD8D2; }
.cm-s-yeti .CodeMirror-line::selection, .cm-s-yeti .CodeMirror-line > span::selection, .cm-s-yeti .CodeMirror-line > span > span::selection { background: #DCD8D2; }
.cm-s-yeti .CodeMirror-line::-moz-selection, .cm-s-yeti .CodeMirror-line > span::-moz-selection, .cm-s-yeti .CodeMirror-line > span > span::-moz-selection { background: #DCD8D2; }
.cm-s-yeti span.cm-comment { color: #c4b8ae; }
.cm-s-yeti span.cm-string, .cm-s-yeti span.cm-string-2 { color: #86b0d8; }
.cm-s-yeti span.cm-number { color: #a074c4; }
.cm-s-yeti span.cm-variable { color: #45a5db; }
.cm-s-yeti span.cm-variable-2 { color: #a074c4; }
.cm-s-yeti span.cm-def { color: #45a5db; }
.cm-s-yeti span.cm-operator { color: #85b95e; }
.cm-s-yeti span.cm-keyword { color: #85b95e; }
.cm-s-yeti span.cm-atom { color: #a074c4; }
.cm-s-yeti span.cm-meta { color: #86b0d8; }
.cm-s-yeti span.cm-tag { color: #86b0d8; }
.cm-s-yeti span.cm-attribute { color: #85b95e; }
.cm-s-yeti span.cm-qualifier { color: #86b0d8; }
.cm-s-yeti span.cm-property { color: #a074c4; }
.cm-s-yeti span.cm-builtin { color: #a074c4; }
.cm-s-yeti span.cm-variable-3 { color: #86b0d8; }
.cm-s-yeti span.cm-link { color: #85b95e; text-decoration: none; }
.cm-s-yeti span.cm-tag { color: #a074c4; }
.cm-s-yeti span.cm-strong { color: #a074c4; }
.cm-s-yeti span.cm-em { color: #45a5db; }
.cm-s-yeti .CodeMirror-activeline-background { background: #E7E4E0; }
.cm-s-yeti .CodeMirror-matchingbracket { text-decoration: underline; }

#leftFade {
  background: -webkit-linear-gradient(top, #ECEAE8 35%, transparent);
}

#previewPanel { box-shadow: -4px 0 12px rgba(0,0,0,0.075); }
