
.cm-header-1 {
  font-size: 1.75em;
}

.cm-header-2 {
  font-size: 1.55em;
}

.cm-header-3 {
  font-size: 1.4em;
}

.cm-header-4 {
  font-size: 1.25em;
}

.cm-header-5, .cm-header-6 {
  font-size: 1.1em;
}
