.modal-content {
  position: relative;
  background: -webkit-linear-gradient(top, #272625, #232221) !important;
  color: #e5e5e5;
  top: 20px;
  border-radius: 15px;
  overflow-y: auto; }

.modal--default__content {
  position: relative;
  width: 100%;
  padding: 0.2em 0.8em;
  background: transparent; }
  .modal--default__content td {
    letter-spacing: 0.035em;
    padding: 2px 20px 2px; }

.modal-inset {
  background: -webkit-linear-gradient(top, #272625, #232221) !important;
  overflow: hidden; }
  .modal-inset .modal-header {
    background: transparent;
    border-bottom: none; }
  .modal-inset .modal-close {
    position: absolute;
    top: 9px;
    right: 20px; }
  .modal-inset .modal--default__content {
    position: relative;
    background: #d2d0ce;
    width: 100%;
    padding: 0.35em 0.5em;
    padding-right: 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }

.modal-header {
  background: transparent;
  border: none;
  padding: 8px 15px; }

.modal-title {
  font-size: 22px;
  font-weight: 200; }

#unsaved-modal .modal-dialog {
  width: 400px;
  margin: 100px auto !important; }
  #unsaved-modal .modal-dialog .modal-content {
    background: -webkit-linear-gradient(top, #292728, #222) !important; }
  #unsaved-modal .modal-dialog .modal-header {
    padding: 10px 8px 7px; }
    #unsaved-modal .modal-dialog .modal-header .modal-title {
      position: relative;
      top: -2px;
      margin: 0 0 0 6px; }
    #unsaved-modal .modal-dialog .modal-header .modal-close {
      position: absolute;
      background: transparent !important;
      top: 7px;
      right: 18px;
      width: 15px;
      height: auto;
      float: right; }
  #unsaved-modal .modal-dialog .modal-body {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14.5px;
    padding: 2px 13px; }
    #unsaved-modal .modal-dialog .modal-body .unsaved-icon {
      display: inline-block;
      color: rgba(255, 255, 255, 0.6);
      font-size: 3.5em;
      float: left;
      margin-left: 1px;
      margin-right: 8px;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
    #unsaved-modal .modal-dialog .modal-body #unsaved-body {
      position: relative;
      top: 4px;
      left: 8px; }
  #unsaved-modal .modal-dialog .unsaved-buttons {
    float: right;
    margin: 4px 0px 10px 52%; }
    #unsaved-modal .modal-dialog .unsaved-buttons button {
      font-size: 13.5px;
      font-weight: 300;
      border-radius: 6px;
      margin: 6px 10px 8px 0; }
      #unsaved-modal .modal-dialog .unsaved-buttons button:last-child {
        margin-right: 18px; }

.modal-content {
  background: -webkit-linear-gradient(top, #333231, #292827);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  border: 1px outset #303030; }
  .modal-content .modal-body {
    background-image: -webkit-linear-gradient(top, #292728, #222);
    color: rgba(255, 255, 255, 0.75);
    font-size: 15.5px;
    font-weight: 300;
    line-height: 1.45;
    padding: 8px 15px; }

.align-buttons {
  margin-bottom: 9px; }
  .align-buttons #leftAlign {
    position: relative;
    left: -2px;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important; }
    .align-buttons #leftAlign i {
      left: -1px; }
  .align-buttons #centerAlign {
    position: relative;
    left: -10px; }
  .align-buttons #rightAlign {
    position: relative;
    left: -14px;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important; }
    .align-buttons #rightAlign i {
      right: 1px; }

.button-group {
  background: -webkit-linear-gradient(top, #454344, #2a2829);
  height: 28px;
  border-radius: 0px !important;
  margin-top: 10px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 10px !important;
  transition: all 200ms ease-in-out;
  transition: box-shadow 50ms ease-in-out; }
  .button-group i {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.55em;
    top: -5px; }
  .button-group.on {
    background: #393738;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); }
    .button-group.on i {
      position: relative;
      color: #de545f;
      top: -3px;
      font-size: 0.7em; }
    .button-group.on:hover {
      background: #393738;
      color: #de545f;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); }
  .button-group:last-child {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important; }

.modal-body-inset {
  background-image: -webkit-linear-gradient(top, #292827, #232221);
  color: #343332;
  padding: 2.5%; }
  .modal-body-inset .text-input {
    padding: 0 !important; }
    .modal-body-inset .text-input textarea {
      position: relative;
      background: transparent;
      font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace;
      letter-spacing: 0.035em;
      top: 3px;
      left: 5px;
      border-radius: 15px;
      border-color: transparent;
      padding: 3px;
      padding-top: 6px;
      padding-left: 6px;
      resize: none; }
      .modal-body-inset .text-input textarea ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.7); }
  .modal-body-inset button {
    float: right; }

.modal-footer {
  border-top-color: #494949; }
  .modal-footer button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: rgba(255, 255, 255, 0.75);
    border: 1px inset #3a3f3d;
    border-radius: 6px; }

.modal-close {
  position: absolute;
  background: transparent !important;
  top: -2px;
  right: 0;
  border: none;
  float: right;
  cursor: initial;
  box-shadow: none !important; }
  .modal-close img {
    position: absolute;
    width: 14.5px;
    opacity: 1;
    filter: none;
    cursor: pointer;
    transition: opacity 300ms ease-in-out; }
  .modal-close .active {
    opacity: 1 !important;
    z-index: 1; }
  .modal-close .inactive {
    z-index: 9; }
    .modal-close .inactive:hover {
      opacity: 0; }

#table-modal .modal-dialog {
  width: 35%;
  border-radius: 20px;
  margin: 60px auto; }

#table-modal .modal-header {
  background: transparent;
  height: 19px;
  border-bottom: none;
  padding: 0 10px; }
  #table-modal .modal-header h4 {
    margin: 6px 6px 0; }

#table-modal .table-content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.035em;
  width: 90%;
  text-align: left;
  margin: 22px auto 3px 30px; }
  #table-modal .table-content span {
    display: inline-block;
    position: relative;
    font-size: 0.75em;
    font-weight: 300;
    top: -4px;
    margin-right: 8px; }

#table-modal .modal-close {
  background: transparent !important;
  border: none;
  float: right; }
  #table-modal .modal-close img {
    position: absolute;
    width: 15px;
    top: 12px;
    right: 14px; }
  #table-modal .modal-close:active > img, #table-modal .modal-close > img:hover {
    content: url("../img/buttons/close_active.png"); }

#table-modal ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  margin: 4px auto 5px;
  padding: 0; }
  #table-modal ul li {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    width: 40%;
    margin-bottom: 2px; }
    #table-modal ul li input[type="number"] {
      background: #373737;
      color: rgba(255, 255, 255, 0.6);
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
      border: 1px inset #3A3A3A;
      border-radius: 12px;
      margin-top: 3px;
      margin-bottom: 5px;
      width: 85%;
      padding: 4px 12px 5px; }
      #table-modal ul li input[type="number"]::-webkit-inner-spin-button {
        background-image: -webkit-linear-gradient(top, #333, #222);
        color: rgba(255, 255, 255, 0.7); }
    #table-modal ul li #table-button {
      display: inline-block;
      text-shadow: -2px 2px #323031;
      background-image: -webkit-linear-gradient(top, #555354, #2d2b2c);
      box-shadow: inset 0 0 0 1px #2c2a2b;
      border: none;
      border-radius: 100px;
      color: rgba(255, 255, 255, 0.6) !important;
      text-align: center;
      letter-spacing: 5px;
      width: 32px;
      height: 32px;
      padding-left: 5px;
      overflow: hidden;
      outline: none !important;
      box-shadow: inset 0 3px 0 transparent, 0 3px 3px rgba(0, 0, 0, 0.2);
      transition: all 300ms cubic-bezier(0.67, 0.13, 0.1, 0.81); }
      #table-modal ul li #table-button:hover i {
        color: rgba(255, 255, 255, 0.9); }
      #table-modal ul li #table-button:active {
        box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(2px); }
      #table-modal ul li #table-button i:before {
        position: relative;
        left: 3px; }
    #table-modal ul li:last-child {
      width: 15%; }

#custom-css-modal .modal-dialog {
  width: 500px; }

#markdown-modal .modal-close img {
  top: 2px;
  right: -8px; }

#markdown-modal .modal-body-inset {
  max-height: 460px;
  padding-top: 1.25%; }

#markdown-modal .modal--default__content {
  max-height: 385px;
  overflow-y: auto; }

#markdown-modal .markdown-help-content {
  width: 100%;
  border-spacing: 0; }
  #markdown-modal .markdown-help-content tr {
    line-height: 30px; }
    #markdown-modal .markdown-help-content tr:nth-child(even) {
      background-color: #b2b0ad; }
    #markdown-modal .markdown-help-content tr:first-child td {
      border-top: 0; }
    #markdown-modal .markdown-help-content tr td:last-child {
      border-right: none;
      padding-left: 20px; }
  #markdown-modal .markdown-help-content td {
    width: 50%;
    border-top: 1px solid rgba(38, 50, 56, 0.1);
    border-right: 1px solid rgba(38, 50, 56, 0.1);
    padding-left: 15px; }
    #markdown-modal .markdown-help-content td ul {
      margin: 0;
      padding-left: 12px; }
    #markdown-modal .markdown-help-content td pre {
      font-size: 12px;
      padding: 9px; }
  #markdown-modal .markdown-help-content #header {
    font-size: 24px;
    font-weight: 600;
    padding-left: 12px;
    padding-bottom: 5px; }
  #markdown-modal .markdown-help-content #code {
    padding-left: 13px; }
  #markdown-modal .markdown-help-content #code-block {
    padding-left: 8px; }
  #markdown-modal .markdown-help-content #icon {
    font-size: 2.5em;
    padding: 7px 15px; }

#about-modal {
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif; }
  #about-modal .modal-dialog {
    width: 35%;
    height: 50%;
    border-radius: 20px;
    margin: 80px auto; }
  #about-modal .modal-header {
    background: transparent;
    height: 19px;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0; }
  #about-modal .modal-body {
    background-image: -webkit-linear-gradient(top, #292827, #252423);
    padding-top: 0; }
  #about-modal .about-content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
    width: 90%;
    text-align: center;
    margin: 30px auto 50px; }
  #about-modal .modal-close {
    background: transparent !important;
    border: none;
    float: right;
    overflow: visible; }
    #about-modal .modal-close img {
      position: absolute;
      width: 15px;
      top: 3px;
      right: -4px; }
    #about-modal .modal-close:active > img, #about-modal .modal-close > img:hover {
      content: url("../img/buttons/close_active.png"); }
  #about-modal #hyde-img {
    width: 80%;
    height: auto;
    margin: auto;
    margin: 25px 10% 5px; }
  #about-modal a {
    color: #de545f;
    font-size: 14px;
    border-bottom: none; }
    #about-modal a:hover, #about-modal a:active {
      text-decoration: none;
      border-bottom: 1px solid rgba(222, 84, 95, 0.6); }
  #about-modal ul {
    list-style: none;
    margin: 4px auto;
    padding: 0; }
    #about-modal ul li {
      font-size: 13px;
      line-height: 1.65;
      margin-bottom: 2px; }
  #about-modal #license {
    font-size: 12px; }
  #about-modal #name {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    letter-spacing: 0.035em; }
    #about-modal #name:hover {
      color: #de545f;
      text-decoration: none !important; }
  #about-modal #check-updates-modal {
    font-size: 19px;
    font-weight: 400;
    margin-top: 4px;
    transition: all 400ms ease-in; }
    #about-modal #check-updates-modal a:hover, #about-modal #check-updates-modal a:active {
      font-weight: 600;
      letter-spacing: 0.04em;
      border-bottom: none !important; }

.modal-button {
  background-image: -webkit-linear-gradient(top, #555354, #2d2b2c);
  color: rgba(255, 255, 255, 0.75);
  font-size: 13.5px;
  letter-spacing: 0.06em;
  text-shadow: -2px 2px #323031;
  border: none;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #2c2a2b;
  padding: 5px 11px 6px;
  margin: 12px 6px 8px 0;
  transition: all 300ms ease-in-out; }
  .modal-button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: inset 0 0 0 1px #2e2c2d, 0 5px 15px #222021; }
  .modal-button:active {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: inset 0 0 0 1px #2e2c2d, inset 0 5px 30px #222021; }

#emoji-modal .modal-dialog {
  width: 480px; }

#emoji-modal .modal-body-inset {
  padding: 2.5% 2.5% 0; }

#emoji-modal #emoji-table {
  max-height: 350px;
  overflow-y: auto; }

.emoji-list {
  display: inline-block;
  padding: 8px; }
  .emoji-list img {
    height: 28px;
    width: auto; }

.modal pre {
  background: #3a393b;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 15px 0 20px;
  padding: 10px 18px;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5); }

.modal code {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
  background: #3a393b;
  color: rgba(255, 255, 255, 0.7);
  font-size: 90%;
  letter-spacing: 0.045em;
  line-height: 1.9;
  border-radius: 9px;
  padding: 3px 9px 4px; }
