.CodeMirror-vscrollbar {
    width: 10px;
    overflow-y: hidden !important;
}

.CodeMirror-vscrollbar:hover {
    overflow-y: scroll !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
    background: none;
}

::-webkit-scrollbar {
    background-color: rgba(0,0,0,0.05);
}

::-webkit-scrollbar-thumb {
    background: #42403E;
    border-radius: 10px;
}
