
$text-color: rgba(255,255,255,0.75);
$text-subtle-color: rgba(255,255,255,0.4);
$text-emphasis-color: #f0f0f0;
$accent-color: hsl(353, 68%, 60%);

$system-font: "Roboto","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-serif: "Open Sans","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
$serif: Garamond,Times,Georgia,serif;
$monospaced: "Source Code Pro","Menlo","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace;



html, body, section, .full-height {
    height: 100%;
}

body {
    background: #f6f5f4;
    font-family: $system-font !important;
    font-size: 13.5px;
    resize: both;
    overflow: hidden;
}

#editArea {
    height: -webkit-calc(100% - 28px);
    padding: 0px 15px 0;
}

label {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.0175em;
    color: $text-color;
    margin-right: 6px;
    margin-bottom: 5px;
}

#pad {
    font-family: $monospaced;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    > pre {
        background-color: #3e3e3e;
        color: $text-color;
    }
}

.frame {
    position: absolute;
    height: 33px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    #draggable {
        position: absolute;
        height: 100%;
        width: -webkit-calc(100% - 75px);
        top: 0;
        left: 0;
    }
    .icon > img {
        display: inline-block;
        position: fixed;
        height: 20px;
        width: 20px;
        left: 9px;
        margin: 8px 5px;
    }
    #title {
        position: absolute;
        display: inline-block;
        color: #bbb;
        font-size: 12px;
        top: 10px;
        left: 44px;
        #titlePath {
            display: inline-block;
            color: #bbb;
            font-size: 12px;
        }
    }
}

#metacity {
    position: absolute;
    right: 0.5%;
    z-index: 999999999;
    button {
        display: inline-block;
        background: transparent;
        outline: none;
        border: none;
        float: right;
        margin: 3px 0px;
        padding: 2px 1px;
        > img {
            display: inline-block;
            height: 21px;
            width: 21px;
            padding: 4px;
        }
    }
    #minimize:active > img {
        content: url('../img/min_active.png');
    }
    #minimize > img:hover {
        content: url('../img/min_active.png');
    }
    #maximize:active > img {
        content: url('../img/max_active.png');
    }
    #maximize > img:hover {
        content: url('../img/max_active.png');
    }
    #close {
        margin-right: 8px;
        &:active > img, > img:hover {
            content: url('../img/close_active.png');
        }
    }
}

#appMenu {
    position: fixed;
    background-color: #282726;
    color: $text-color !important;
    font-size: 11px;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border: 1px inset #323435;
    visibility: visible;
    z-index: 9999999;
    :focus,
    :active:focus,
    .active:focus,
    .focus,
    :active.focus,
    .active.focus {
        outline: none !important;
    }
    .hidden {
        visibility: hidden;
    }
    .btn-group {
        top: -10px;
        > button {
            display: inline-block;
            background: transparent;
            color: $text-subtle-color;
            font-size: 11px;
            height: 23px;
            width: 40px;
            border-radius: 2px;
            white-space: nowrap;
            border-right: 1px inset #393b40;
            padding: 3px 0 2px;
            &:hover, &:focus, &:active {
                background: #313029;
                color: $text-color;
                border-top: 1px inset #424443;
                border-bottom: 1px inset #424443;
            }
        }
        .dropdown-menu {
            background-color: #2d2e2c;
            color: $text-color;
            font-size: 11px;
            top: 82%;
            z-index: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            > li {
                padding: 2px 0;
                > a {
                    display: inline;
                    background-color: transparent;
                    color: $text-color;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 0.06em;
                    text-decoration: none !important;
                    padding: 3px 15px 3px 10px;
                    &:hover, &:focus, &:active {
                        color: $text-emphasis-color;
                    }
                }
                > span {
                    display: inline;
                    position: relative;
                    color: rgba(255,255,255,0.3);
                    font-size: 10px;
                    font-weight: 200;
                    text-align: right;
                    right: 10px;
                    float: right;
                    padding-top: 1.5px;
                }
                &:hover, &:active {
                    background: #3a3b39;
                    box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
                    > a {
                        color: $text-emphasis-color;
                    }
                }
            }
            .dropdown-divider {
                background: rgba(255,255,255,0.075);
                height: 1px;
                width: 98%;
                margin: 4px auto;
                padding: 0;
            }
        }
    }
    #draggable-menu {
        display: inline-block;
        height: 100%;
        width: 75%;
    }
}


.dropdown-submenu {
    position: relative;
    background-color: #2d2e2c;
    color: $text-color;
    font-size: 11px;
    top: 82%;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
        > li {
            padding: 2px 0;
            > a {
                display: inline;
                background-color: transparent;
                color: $text-color;
                font-size: 11px;
                letter-spacing: 0.06em;
                text-decoration: none !important;
                padding: 3px 15px 3px 10px;
                &:hover, &:focus, &:active {
                    color: $text-emphasis-color;
                }
            }
            > span {
                display: inline;
                position: relative;
                color: rgba(255,255,255,0.2);
                font-size: 10px;
                font-weight: 200;
                text-align: right;
                right: 10px;
                float: right;
                padding-top: 1.5px;
            }
            &:hover, &:active {
                background: #3a3b39;
                box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
                > a {
                    color: $text-emphasis-color;
                }
            }
        }
    }
}

#buttons {
    display: inline-block;
    color: $text-color;
    font-size: 12px;
    height: 30px;
    padding: 0 9px;
    > button {
        background-image: -webkit-linear-gradient(#454746, #242625);
        color: $text-color;
        border: 1px outset #4a4f4d;
        border-radius: 4px;
        margin-right: 2px;
        padding-bottom: 3px;
        > img {
            height: 12px;
            width: 12px;
            margin: 0 5px 3px -1px;
        }
    }
}

.toolbar-buttons > a {
    border: 1px outset #4a4f4d;
    box-shadow: 0.5px 1px 3px rgba(0,0,0,0.3);
    margin-right: 1.5px;
    padding: 5px;
    &:hover {
        color: $text-emphasis-color !important;
        border-color: #656766;
    }
}

.bottom-bar {
    position: absolute;
    background-image: -webkit-linear-gradient(top, #2d2a2c, #232220);
    color: #b6b5b4;
    font-size: 11px;
    height: 28px;
    width: 100%;
    bottom: 0%;
    left: 0;
    border-top: 1px solid lighten(#282726, 5.5%);
    padding: 2px;
    z-index: 99999;
    resize: both;
    #bottom-file {
        display: inline-block;
        position: relative;
        font-size: 11px;
        top: 4px;
        bottom: 2px;
        margin: 0px 4px 0px 12px;
    }
    #file-status {
        display: inline-block;
        position: relative;
        color: $accent-color;
        font-size: 14px;
        top: 2px;
        left: -1px;
        line-height: 0.5;
        visibility: hidden;
    }
    #wordcount {
        display: inline-block;
        position: relative;
        font-size: 11px;
        top: 4px;
        left: 1.5%;
        bottom: 2px;
        margin: 0px 6px 0px 15px;
    }
    > label {
        display: inline-block;
        position: absolute;
        color: #b6b5b4;
        font-size: 12px;
        font-weight: 600;
        right: 1%;
        margin: 4px 5px;
    }
    button {
        position: absolute;
        display: inline-block;
        background: transparent;
        border: none;
        outline: none !important;
    }
    #syncScroll {
        font-size: 14.5px;
        right: 4%;
        margin-top: 4px;
    }
    #togglePreview {
        font-size: 16.5px;
        right: 0.75%;
        margin-top: 2px;
    }
}

// .pref {
//     background-color: #282726;
//     font-size: 12px;
//     float: right;
//     width: 50%;
//     text-align: right;
//     border-bottom: 1px solid lighten(#282726, 4%);
//     box-shadow: 4px 1px 3px 3px rgba(0,0,0,0.2);
//     padding: 14px 10px 6px;
// }

.prevToggle {
    position: absolute;
    display: inline-block;
    top: 17%;
    right: 1%;
    font-size: 10px;

    input {
        width: 12px;
        margin: 2px 2px 0;
    }

    input[type="radio"] {
        display: inline-block;
        position: relative;
        left: 23px;
        opacity: 0;
        cursor: pointer;
        + label {
            color: $text-color;
            span {
                display: inline-block;
                width: 19px;
                height: 19px;
                margin: 0 6px 3px 5px;
                vertical-align: middle;
                background: url(../img/radio.png) 0px top no-repeat;
                cursor: pointer;
            }
        }
        &:checked + label span {
            background: url(../img/radio.png) -24px top no-repeat;
        }
    }
}

input[type="checkbox"] {
    display: inline-block;
    position: relative;
    left: 23px;
    opacity: 0;
    + label {
        color: $text-color;
        span {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: 0 6px 3px 5px;
            vertical-align: middle;
            background: url(../img/check.png) 0px top no-repeat;
            cursor: pointer;
        }
    }
    + span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: 0 6px 3px 5px;
        vertical-align: middle;
        background: url(../img/check.png) 0px top no-repeat;
        cursor: pointer;
    }
    &:checked + label span {
        background: url(../img/check.png) -24px top no-repeat;
    }
    &:checked + span {
        background: url(../img/check.png) -24px top no-repeat;
    }
}

.mode {
    background-color: #282726;
    float: left;
    width: 100%;
    text-align: left;
    box-shadow: 0 1px 3px 3px rgba(0,0,0,0.125);
    padding: 2px 10px 2px;
    border-bottom: 1px solid lighten(#282726, 4%);
}

#side-trigger {
    display: inline-block;
    position: absolute;
    background: transparent;
    height: 100%;
    width: 12px;
    left: 0;
    margin: 0;
    z-index: 9999;
    &:hover {
        button img {
            visibility: visible;
        }
    }
}

#side-button {
    position: absolute;
    background: transparent;
    border: none;
    top: 37%;
    left: 0;
    cursor: pointer;
    z-index: -99;
    > img {
        position: absolute;
        height: 48px;
        width: 24px;
        top: 0;
        left: -2px;
        cursor: pointer;
    }
}

#sidebar {
    display: none;
    position: absolute;
    font-family: 'Gotham Rounded', serif;
    background: #252726;
    color: $text-color;
    height: 100%;
    width: 250px;
    top: 35px;
    left: 0;
    border: 1px outset #888786;
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    z-index: 99;
    #side-logo {
        position: relative;
        width: 70%;
        height: auto;
        left: 15%;
        margin: 42px auto;
        opacity: 0.9;
    }
    #side-menu {
        position: relative;
        font-size: 25px;
        font-weight: 200;
        list-style: none;
        top: 1%;
        padding: 0;
        li {
            text-align: center;
            padding: 2px 0;
            a {
                color: $text-color;
                &:hover, &:active {
                    color: rgba(255,255,255,0.85);
                }
            }
            &:after {
                display: block;
                position: relative;
                content: '';
                background: rgba(255,255,255,0.2);
                height: 1px;
                width: 200px;
                border: none;
                margin: 3px auto;
                padding: 0;
            }
        }
    }
    #side-icons {
        width: 40%;
        text-shadow: 0 2px rgba(0,0,0,0.3);
        margin: 45px auto 0;
        padding: 0;
        li {
            position: relative;
            font-size: 23px;
            color: #666;
            padding-right: 12px;
            &:first-child {
                font-size: 27px;
            }
            &:last-child {
                font-size: 21px;
                bottom: 3px;
                padding-right: 0;
            }
            &:hover, &:active {
                color: #888;
            }
        }
    }
}

.mdHtml {
    display:none;
    width:100%;
    height:100%;
    resize:none;
    overflow:auto;
    border: none;
}

.optContainer{
    position:fixed;
    background-color: #282726;
    top: 32px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
    box-shadow: 0 1px 9px rgba(0,0,0,0.5);
}

#htmlPreview {
    background: #f6f5f4;
    &:focus {
        outline: 1px solid #ECE6E6;
    }
}

#toolbarArea{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 50%;
    height: 35px;
    display:none;
    border-bottom: 1px #2a2a2a solid;
    background-color: #302f2e;
    box-shadow: 0 0 6px rgba(0,0,0,0.75);
}

a#angleToolBar {
    color: $text-subtle-color;
    &:hover {
        color: rgba(255,255,255,0.9);
    }
}

.topFade {
    position: absolute;
    height: 45px;
    width: 98%;
    top: 0;
    z-index: 999999;
}

#leftPanel {
    position: absolute;
    left: 0;
    width: 50%;
    height: -webkit-calc(100% - 28px);
    .topFade {
        left: 0;
    }
}

#textPanel {
    background: hsl(220, 11%, 18%);
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    text-rendering: geometricPrecision;
    > div {
        font-size: 9.5pt;
        line-height: 1.5;
        padding-top: 0px;
    }
    #plainText {
        background: transparent;
        outline:none;
        border:none;
        resize:none;
    }
}

#rightPanel {
    position: absolute;
    right: 0;
    width: 50%;
    height: -webkit-calc(100% - 28px);
    .topFade {
        background-image: -webkit-linear-gradient(top, #f5f4f3 40%, transparent);
        right: 2%;
    }
}

#previewPanel {
    background: #f6f5f4;
    font-family: $sans-serif !important;
    height: 100%;
    width: 100%;
    padding: 27px 15px 0;
    overflow-y: auto;
    text-rendering: geometricPrecision;
}

.editor-toolbar{
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: rgba(255,255,255,0.55) !important;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    line-height: 24px;
    padding: 4px 10px 0px 6px;
    &:hover {
        border-color: #95a5a6;
        color: $text-emphasis-color !important;
    }
    &.active {
      color: $text-emphasis-color !important;
    }
    &.inactive {
        color: $text-subtle-color !important;
    }
}

.separator {
    display: inline-block;
    width: 0;
    border-left: 2px outset #3f3e3c;
    border-right: 1px outset #2f2e2c;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
}

.toolContainer{
    width: 16px;
    float: left;
    margin: 3.5px 5px 0 0;
}

.modal--default__content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: #d2d0ce;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
}

.modal-header {
    background-image: -webkit-linear-gradient(top, #333231, #292827);
    border-bottom-color: #494949;
}

.modal-header .close {
    position: relative;
    color: #fff;
    font-size: 25px;
    top: -3px;
    right: 3px;
}

.modal-content {
    position: relative;
    background: #353433;
    color: #e5e5e5;
    top: 20px;
    border-radius: 15px;
    overflow-y: auto;
}

.modal-body {
    background-image: -webkit-linear-gradient(top, #302928, #232221);
    color: #343332;
}

.modal-footer {
    border-top-color: #494949;
    > button {
        background-image: -webkit-linear-gradient(#454746, #242625);
        color: $text-color;
        border: 1px inset #3a3f3d;
        border-radius: 6px;
    }
}

.modal-footer > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: $text-color;
    border: 1px inset #3a3f3d;
    border-radius: 6px;
}

pre {
    background: #454545;
    color: #eee;
    border-radius: 10px;
}

code {
    background: #414141;
    color: #eee;
    white-space: nowrap;
}

.markdown-help-content {
    width: 100%;
    border-spacing: 0;
    tr {
        line-height: 30px;
        &:nth-child(even) {
            background-color: #b2b0ad;
        }
        &:first-child td {
            border-top: 0;
        }
    }
    td {
        border-top: 1px solid rgba(38,50,56,.1);
        min-width: 180px;
    }
}

.markdown-help-content tr {
    line-height: 30px;
}

.markdown-help-content tr:nth-child(even) {
    background-color: #b2b0ad;
}

.markdown-help-content tr:first-child td {
    border-top: 0;
}
.markdown-help-content td {
    border-top: 1px solid rgba(38,50,56,.1);
    min-width: 180px;
}

.preview-dark-mode{
    /*background: rgb(248,246,245);*/
    color: #3a3a3a;
    textarea{
        background: rgb(248,246,245);
        color: #3a3a3a;
    }
}

::-webkit-scrollbar {
    // background-color: rgba(76,75,72,0.3);
    width: 8px;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background: transparent;
    // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #42403E;
    border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#markdown  {
    color: #2a2a2a;
    font-family: $sans-serif;
    font-size: 10pt;
    letter-spacing: 0.035em;
    line-height: 1.45;
    text-rendering: geometricPrecision;
    overflow: auto;
    h1 {
        color: #333;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.45;
        border-bottom: 1px solid #e1e3ea;
        margin-top: 22px;
        margin-bottom: 27px;
    }
    h2 {
        color: #333;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.4;
        border-bottom: 1px solid #e1e3ea;
        margin-bottom: 24px;
    }
    h3 {
        color: #333;
        font-size: 23px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 21px;
    }
    h4 {
        color: #333;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;
    }
    h5 {
        color: #666;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 14px;
    }
    img {
        vertical-align: middle;
        // max-width: 90%;
        // height: auto;
    }
    ol, ul {
        line-height: 1.75;
    }
    a {
        color: #237aa7;
        text-decoration: none;
    }
    a:focus, a:hover, a:active {
        color: #23728c;
        text-decoration: none;
    }
    hr {
        border-top: 1px solid #ddd;
    }
    p {
        margin: 0 0 16px !important;
    }
    pre {
      background: #424242;
      color: $text-color;
      border-radius: 10px;
      margin: 15px 0;
      padding: 9.5px 18px;
    }
    pre code {
      color: $text-color;
      letter-spacing: 0.045em;
      border-radius: 10px;
    }
    blockquote {
        background: rgba(0,0,0,0.05);
        color: rgba(0,0,0,0.65);
        font-size: 13.5px;
        border-left: 3px solid rgba(0,0,0,0.5);
        border-radius: 5px;
        margin-top: 15px;
        padding: 10px 20px 1px;
        > p {
            margin-bottom: 0;
        }
    }
    table {
        border-collapse: collapse;
        margin-left: 10px;
        tr {
            background-color: #f8f7f5;
            border: 1px solid #c6cbd1;
            &:nth-child(2n) {
                background-color: #ecedee;
            }
        }
        th {
            font-size: 10.5pt;
            font-weight: 600;
            padding: 8px 13px !important;
        }
        th, td {
            border: 1px solid #dfe2e5;
            padding: 6px 13px;
        }
        thead tr {
            line-height: 1.5;
        }
    }
    kbd {
        background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
        color: rgba(0,0,0,0.7);
        font-size: 8pt;
        border: solid 1px #c6cbd1;
        border-bottom-color: #959da5;
        border-radius: 6px;
        box-shadow: inset 0 -0.5px 0 #959da5;
    }
    >*:first-child  {
        margin-top: 0 !important;
    }
    >*:last-child {
        margin-bottom: 0 !important;
    }
}

.fa-link {
    color: rgba(255,255,255,0.65);
}

.fa-unlink {
    color: #666564;
}

.fa-eye {
    color: rgba(255,255,255,0.65);
}

.fa-eye-slash {
    color: #666564;
}
