$text-color: rgba(255,255,255,0.75);
$text-subtle-color: rgba(255,255,255,0.4);
$text-emphasis-color: #f0f0f0;
$accent-color: hsl(355, 68%, 60%);

$sans-serif: "Roboto","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
$preview-font: "Open Sans","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
$serif: "Lora",Garamond,Times,Georgia,serif;
$monospaced: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace;


html, body, section, .full-height {
  height: 100%;
}

body {
  background: #f6f5f5;
  font-family: $sans-serif !important;
  font-size: 13.5px;
  resize: both;
  overflow: hidden;
}

*:focus {
  outline: none;
}

#editArea {
  height: -webkit-calc(100% - 28px);
  padding: 0 15px 0;
}

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.0175em;
  color: $text-color;
  margin-right: 6px;
  margin-bottom: 5px;
}

#pad {
  font-family: $monospaced;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#draggable {
  position: absolute;
  height: 26px;
  width: -webkit-calc(100% - 125px);
  top: 0;
  right: 80px;
  z-index: 99999999;
}

#menuToggle {
  position: absolute;
  top: -1.25%;
  left: 0.5%;
  outline: none !important;
  cursor: pointer;
  z-index: 9999;
  button {
    display: block;
    font-size: 1.95em;
    background: transparent;
    color: rgba(255,255,255,0.07);
    border: none;
    outline: none !important;
    transform: scale(1);
    transition: color 300ms ease-in-out;
    transition: all 200ms ease-in-out;
    z-index: 99;
    &:hover {
      color: rgba(255,255,255,0.45);
    }
    &:active, &:visited {
      transform: scale(0.85);
    }
  }
  &:hover {
    color: $text-color;
  }
}

#metacity {
  position: absolute;
  top: -2px;
  right: 0.25%;
  z-index: 99999;
  .winButton {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    margin: 3px 0;
    padding: 2px 1px;
    float: right;
    img {
      display: inline-block;
      height: 21px;
      width: auto;
      padding: 4px;
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }
    .active {
      position: fixed;
      z-index: -1;
    }
    .inactive:hover {
      opacity: 0;
    }
  }
  #close {
    margin-right: 9px;
    float: right;
  }
}

#appMenu {
  position: fixed;
  background-image: -webkit-linear-gradient(top, #323232 1%, #2d2c2b 25%, #252423, #1a1918);
  color: $text-color !important;
  font-size: 11px;
  width: 100%;
  height: 27px;
  top: 0;
  left: 0;
  border: 1px outset #2b2d30;
  border-bottom: 2px solid #212121;
  // box-shadow: 0 1px 20px rgba(0,0,0,0.3);
  transition-delay: 3s;
  transition: top 5000ms ease;//cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 9999;
  :focus, :active:focus,.active:focus,
  .focus,:active.focus,.active.focus {
    outline: none !important;
  }
  .hidden {
    top: -23px;
    transition-delay: 3s;
    transition: top 5000ms ease;//cubic-bezier(0.17, 0.04, 0.03, 0.75);
  }
  .btn-group {
    font-size: 11px;
    top: 1px;
    height: 100%;
    &:first-child {
      margin-left: 6px;
    }
    .dropdown-toggle {
      display: inline-block;
      background: -webkit-linear-gradient(top, #2d2d2d 5%, #262524 40%, #222120, #121110);
      color: rgba(255,255,255,0.5);
      font-size: 11px;
      font-weight: 300;
      letter-spacing: 0.08em;
      height: 25px;
      width: 40px;
      top: -1px;
      border-radius: 2px;
      white-space: nowrap;
      border: 1px outset #6a6a6a;
      border-left: 1px outset #37393d;
      border-top: none;
      border-bottom: none;
      padding: 2px 0;
      transition: all .0145s .02s ease-out;
      &:hover {
        background: transparent;
        color: $text-color;
      }
    }
    &.open {
      .dropdown-toggle {
        background: #323131;
        color: $text-color;
        border: 1px inset #434443;
        border-right: none;
        box-shadow: inset 0 1px 6px rgba(0,0,0,.2);
      }
    }
    .dropdown-menu {
      background-color: #2c2b2b;
      color: rgba(255,255,255,0.65);
      font-size: 11px;
      min-width: 175px;
      top: 82%;
      box-shadow: 1px 3px 12px rgba(0,0,0,0.5);
      border-top-left-radius: 0;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin: 3px 0 0;
      z-index: 9;
      li {
        padding: 2px 0;
        cursor: pointer;
        transition: all 100ms ease-in;
        a {
          display: inline;
          background-color: transparent;
          color: rgba(255,255,255,0.65);
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.09em;
          text-decoration: none !important;
          padding: 3px 15px 3px 10px;
          &:hover, &:active {
            color: $text-emphasis-color;
          }
        }
        span {
          display: inline;
          position: relative;
          color: rgba(255,255,255,0.3);
          font-size: 10px;
          font-weight: 200;
          text-align: right;
          right: 10px;
          float: right;
          padding-top: 1.5px;
        }
        &:hover, &:active {
          background: #3a373a;
          box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
          a {
            color: $text-emphasis-color;
          }
          span {
            font-weight: 400;
            color: saturate(lighten($accent-color, 2%), 16%);
          }
        }
      }
      .dropdown-divider {
        background: rgba(255,255,255,0.075);
        color: rgba(255,255,255,0.65);
        height: 1px;
        width: 98%;
        margin: 4px auto;
        padding: 0;
        cursor: default;
      }
    }
  }
}

.caret {
  color: fade($text-subtle-color, 10%);
  float: right;
  margin: 5px 9px 0 0;
}

.dropdown-submenu {
  position: relative;
  background-color: #2c2b2c;
  color: rgba(255,255,255,0.65);
  font-size: 11px;
  top: 82%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 0;
  .sub {
    top: -5px !important;
    li > a {
      color: rgba(255,255,255,0.65) !important;
    }
  }
  .dropdown-menu {
    top: 0;
    left: 99.55%;
    max-height: 1500%;
    margin-top: 1px;
    overflow-y: auto;
    z-index: -9;
    li {
      padding: 2px 0;
      a {
        display: inline;
        background-color: transparent;
        color: rgba(255,255,255,0.65);
        font-size: 11px;
        letter-spacing: 0.06em;
        text-decoration: none !important;
        padding: 3px 15px 3px 10px;
        &:hover, &:focus, &:active {
          color: $text-emphasis-color;
        }
      }
      span {
        display: inline;
        position: relative;
        color: rgba(255,255,255,0.2);
        font-size: 10px;
        font-weight: 200;
        text-align: right;
        right: 10px;
        float: right;
        padding-top: 1.5px;
      }
      &:hover, &:active {
        background: #3a393b;
        box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
        a {
          color: $text-emphasis-color;
        }
        span {
          font-weight: 400;
          color: saturate(lighten($accent-color, 2%), 20%);
        }
      }
    }
  }
}

#buttons {
  display: inline-block;
  color: $text-color;
  font-size: 12px;
  height: 30px;
  padding: 0 9px;
  > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: $text-color;
    border: 1px outset #4a4f4d;
    border-radius: 4px;
    margin-right: 2px;
    padding-bottom: 3px;
    > img {
      height: 12px;
      width: 12px;
      margin: 0 5px 3px -1px;
    }
  }
}

.toolbar-buttons {
  a {
    position: relative;
    top: 0;
    border: 1px outset #4a4f4d;
    box-shadow: 0.5px 1px 3px rgba(0,0,0,0.3);
    margin-right: 1.5px;
    padding: 4.5px 5px 5px;
    transition: top 100ms ease-in-out;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $text-emphasis-color !important;
      border-color: #4a4f4d;
    }
    &:active, &:focus {
      background: #333;
      border: 1px inset #454443;
      box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
      transform: translateY(0.5px);
    }
  }
  [data-tooltip]:hover:after {
    top: 150% !important;
    left: 20% !important;
    font-weight: 300;
    transition: opacity 200ms linear 1s;
  }
}

.bottom-bar {
  position: absolute;
  background: -webkit-linear-gradient(top, #2f2f2f 5%, #2b2b2b 35%, #222120, #1d1d1d 98%);
  color: #b6b5b4;
  font-size: 11px;
  height: 28px;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1px outset #2d2c2c;
  box-shadow: 0 -1px 28px rgba(0,0,0,0.2);
  padding: 2px;
  z-index: 99999;
  resize: both;
  div {
    letter-spacing: 0.025em;
    cursor: default;
  }
  label {
    display: inline-block;
    position: absolute;
    color: #b6b5b4;
    font-size: 12px;
    font-weight: 600;
    right: 1%;
    margin: 4px 5px;
  }
  button {
    position: absolute;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none !important;
  }
  #bottom-file {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 3px;
    bottom: 2px;
    margin: 0 4px 0 12px;
  }
  #file-status {
    display: inline-block;
    position: relative;
    color: $accent-color;
    font-size: 14px;
    top: 2px;
    left: -1px;
    line-height: 0.5;
    visibility: hidden;
  }
  #wordcount {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 3px;
    left: 0;
    bottom: 2px;
    margin: 0 6px 0 15px;
  }
  #draggable {
    position: absolute;
    height: 100%;
    width: -webkit-calc(100% - 240px);
    top: 0;
    left: 17%;
  }
  #syncScrollToggle {
    font-size: 14.5px;
    right: 2.5em;
    margin-top: 4px;
    &:after {
      top: -190%;
      right: 0px;
      left: auto;
      opacity: 0;
      transition: opacity 200ms linear 1s;
    }
    &:hover:after {
      opacity: 0.9;
      transition: opacity 200ms linear 1s;
    }
  }
  #previewToggle {
    font-size: 17.5px;
    right: 0.4em;
    margin-top: 1px;
    &:after {
      top: -150%;
      right: 0px;
      left: auto;
      opacity: 0;
      transition: opacity 200ms linear 1s;
    }
    &:hover:after {
      opacity: 0.9;
      transition: opacity 200ms linear 1s;
    }
  }
}

.prevToggle {
  position: absolute;
  display: inline-block;
  top: 17%;
  right: 1%;
  font-size: 10px;

  input {
    width: 12px;
    margin: 2px 2px 0;
  }

  input[type="radio"] {
    display: inline-block;
    position: relative;
    left: 23px;
    opacity: 0;
    cursor: pointer;
    + label {
      color: $text-color;
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 6px 3px 5px;
        vertical-align: middle;
        background: url(../img/buttons/radio.png) -2px top no-repeat;
        cursor: pointer;
      }
    }
    &:checked + label span {
      background: url(../img/buttons/radio.png) -33px top no-repeat;
    }
  }
}

#previewPanel {
  input[type="checkbox"] {
    color: #000;
    left: 0;
    opacity: 1;
    &[disabled] {
      cursor: default;
    }
  }
}

input[type="checkbox"] {
  display: inline-block;
  position: relative;
  left: 23px;
  opacity: 0;
  + label {
    color: $text-color;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 6px 3px 5px;
      vertical-align: middle;
      background: url(../img/buttons/checkbox.png) -2px top no-repeat;
      cursor: pointer;
    }
  }
  + span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 6px 3px 5px;
    vertical-align: middle;
    background: url(../img/buttons/checkbox.png) -2px top no-repeat;
    cursor: pointer;
  }
  &:checked + label span {
    background: url(../img/buttons/checkbox.png) -33px top no-repeat;
  }
  &:checked + span {
    background: url(../img/buttons/checkbox.png) -33px top no-repeat;
  }
}

.mode {
  background-color: #282726;
  float: left;
  width: 100%;
  text-align: left;
  box-shadow: 0 1px 3px 3px rgba(0,0,0,0.125);
  padding: 2px 10px 2px;
  border-bottom: 1px solid lighten(#282726, 4%);
}

.trigger {
  position: absolute;
  display: inline-block;
  background: transparent;
  margin: 0;
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 9999;
  &.top {
    height: 12px;
    width: 100%;
    top: 26px;
    left: 0;
  }
  &.left {
    height: 100%;
    width: 12px;
    left: 0;
  }
  &.right {
    height: 100%;
    width: 12px;
    right: 0;
  }
  &:hover {
    .trigger-button {
      visibility: visible !important;
      i {
        visibility: visible !important;
      }
    }
  }
}

.trigger-button {
	position: absolute;
	background: #302e2f;
	height: 50px;
	width: 50px;
	border-radius: 100px;
  border: 1px solid  #3a3839;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.7);
	i {
		display: block;
		position: relative;
		font-size: 1em;
		top: -webkit-calc(50% - 0.4em);
		left: 65%;
		&:before {
			color: rgba(255,255,255,0.8);
		}
	}
}

#top-button {
  left: -webkit-calc(50% - 25px);
	top: -220%;
  z-index: -9;
  i {
    top: -webkit-calc(70% - 0.4em);
		left: 39%;
  }
}

#side-button {
  top: -webkit-calc(50% - 50px);
	left: -210%;
}

#sidebar {
  display: block;
  position: absolute;
  background-image: -webkit-linear-gradient(#343233 40%, #292728);
  color: $text-color;
  height: 100%;
  width: 240px;
  top: 0;
  left: -250px;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 99999;
}
#side-logo {
  position: relative;
  width: 68%;
  height: auto;
  left: 0;
  margin: 25px 16% 20px;
  opacity: 0.9;
}
#side-menu {
  position: relative;
  font-size: 22px;
  font-weight: 200;
  list-style: none;
  top: 1.5%;
  padding: 0;
  li {
    text-align: center;
    padding: 2px 0;
    a {
      color: rgba(255,255,255,0.65);
      cursor: pointer;
      &:hover, &:active {
        color: rgba(255,255,255,0.8);
        font-weight: 300;
        text-decoration: none;
      }
    }
    &:after {
      display: block;
      position: relative;
      content: '';
      background: rgba(255,255,255,0.1);
      height: 1px;
      width: 200px;
      border: none;
      margin: 3px auto;
      padding: 0;
    }
  }
}
#sidebar-icons {
  width: 40%;
  text-shadow: 0 2px rgba(0,0,0,0.2);
  margin: 55px 30% 8px;
  padding: 0;
  li {
    position: relative;
    font-size: 25px;
    color: rgba(255,255,255,0.3);
    padding-right: 13px;
    cursor: pointer;
    &:first-child {
      font-size: 27.5px;
      top: 0;
      padding-right: 10px;
    }
    &:last-child {
      font-size: 22px;
      top: -1px;
      padding-right: 0;
    }
    &:hover, &:active {
      color: #888;
    }
    &:hover:after {
      visibility: visible;
    }
    &:after {
      position: absolute;
      top: 125%;
      left: 25%;
      visibility: hidden;
      transition: visibility 1s ease;
    }
  }
}

#settings-menu {
  display: block;
  position: absolute;
  background-image: -webkit-linear-gradient(#313031 10%, #2a2a2a);
  color: $text-color;
  height: 95.5%;
  width: 310px;
  top: 0;
  left: -330px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  margin-bottom: 30px;
  padding: 12px 12px 30px 16px;
  outline: none !important;
  z-index: 99999;
  .title {
    display: none;
    position: fixed;
    background: -webkit-linear-gradient(top, #313031 73%, transparent);
    top: 0;
    width: 290px;
    padding: 5px 0 10px;
    vertical-align: middle;
    z-index: 99999999999;
    img {
      display: inline-block;
      height: 34px;
      width: auto;
      margin: -15px 10px 13px 2px;
    }
    h2 {
      display: inline-block;
      font-size: 48px;
      font-weight: 200;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  .settings-section {
    position: relative;
    top: 70px;
    padding: 4px 0 6px 16px;
    h3 {
      color: rgba(255,255,255,0.85);
      font-size: 32px;
      font-weight: 200;
      margin-top: 4px;
      margin-left: -3px;
      margin-bottom: 8px;
    }
    ul {
      color: rgba(255,255,255,0.65);
      list-style: none;
      padding-left: 10px;
      li {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.045em;
        line-height: 2.1;
        margin-bottom: 4px;
        .btn-group {
          position: absolute;
          font-size: 16px;
          left: 45.5%;
          max-width: 50%;
          padding-top: 4px;
          .filter-option {
            font-size: 13.5px;
            font-weight: 300;
            letter-spacing: 0.055em;
          }
          .btn.btn-default {
            background: -webkit-linear-gradient(bottom, #2d2c2d, #3d3c3d);
            color: rgba(255,255,255,0.75);
            top: 3px;
            left: -4px;
            letter-spacing: 0.04em;
            border: 1px outset #3c3c3c;
            box-shadow: 0.5px 0.75px 4px rgba(0,0,0,0.2);
            padding: 2px 8px 0 10px;
            outline: none !important;
          }
          .caret {
            position: relative;
            top: -10px;
            left: 9px;
          }
        }
        .btn-group.open {
          z-index: 999;
        }
      }
    }
    hr {
      position: relative;
      background: rgba(255,255,255,0.06);
      height: 1px;
      left: -4px;
      border-top: none;
      box-shadow: 0 2px 3px rgba(0,0,0,0.45);
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
  .dropdown-menu {
    background: #2b292a;
    color: rgba(255,255,255,0.6);
    top: 31px;
    border: 1px outset #333132;
    padding: 0;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
    z-index: -9;
    ul {
      padding-left: 0;
      li {
        &:hover, &:active, &:focus {
          background: #3b393a;
        }
        a {
          color: rgba(255,255,255,0.6);
          font-size: 14px;
          padding: 3px 12px;
          &:hover, &:active, &:focus {
            background: #2b292a;
            color: $accent-color;
            outline: none !important;
          }
          &:hover {
            background: #383736;
            box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
          }
        }
      }
    }
  }
  .input-group.spinner {
    position: relative;
    display: inline-block;
    left: 16px;
    width: 25% !important;
    vertical-align: middle;
    .form-control {
      background: #3a3839;
      color: rgba(255,255,255,0.7);
      font-weight: 300;
      left: 0;
      height: 26px;
      border: 1px inset #403e3f;
      border-radius: 6px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35), 0px 0.25px 4px rgba(255, 255, 255, 0.15);
      padding: 0 0 0 9px;
      z-index: -99;
    }
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    top: 1px;
    left: -16.5px;
    width: 0;
    vertical-align: middle;
    .btn {
      display: block;
      position: relative;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 5.75px 7.5px;
      margin-left: -1px;
      border: 1px outset #4b4a4c;
      border-radius: 0;
      box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.3);
      outline: none !important;
      &:first-child {
        // background: #262626;
        background: -webkit-linear-gradient(bottom, #222 5%, #2e2c2d, #2e2c2d 90%);
        border-top-right-radius: 6px;
      }
      &:last-child {
        background: -webkit-linear-gradient(top, #222 5%, #2e2c2d, #2e2c2d 90%);
        border-bottom-right-radius: 6px;
        margin-top: -2px;
      }
      &:active i {
        color: $accent-color;
      }
    }
    i {
      position: absolute;
      color: rgba(255,255,255,0.5);
      font-size: 11px;
      top: -0.7px;
      left: 4.5px;
    }
  }
  .menu, .input {
    line-height: 38px;
    vertical-align: middle;
  }
  .toggle {
    position: relative;
    left: -5px;
    margin-bottom: 2px;
    input[type="checkbox"] {
      height: 20px;
      width: auto;
      margin: 4px 5px -9px -10px;
      cursor: pointer;
    }
    input[type="checkbox"] + span {
      margin: 1.5px 10px 5px 0;
    }
    &:hover:after {
      transition: all 600ms ease;
    }
  }
  hr {
    position: relative;
    border-top: 1px outset rgba(255,255,255,0.125);
    left: -4px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 15px;
    cursor: grab;
  }
  [data-tooltip]:hover:after {
    position: relative;
    background: transparent;
    color: $text-subtle-color;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.7;
    top: 100%;
    left: 15%;
    max-width: 100%;
    border: none;
    box-shadow: none;
    word-wrap: break-word;
    white-space: normal;
    opacity: 0;
    padding: 0 4px 2px;
    transition: opacity 0s linear 1s;
  }
}

#settings-trigger {
  left: -310px;
  div {
    left: -210%;
  }
}

#settings-button {
  position: absolute;
  background: transparent;
  border: none;
  top: 40%;
  left: 0;
  cursor: pointer;
  z-index: -99;
  img {
    position: absolute;
    height: 56px;
    width: 28px;
    top: 0;
    left: -3px;
    cursor: pointer;
  }
}

.optContainer{
  position:fixed;
  background-color: #282726;
  top: 32px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  box-shadow: 0 1px 9px rgba(0,0,0,0.5);
}

#toolbar {
  display:none;
  position: fixed;
  background-image: -webkit-linear-gradient(top, #343233, #2c2a2b);
  top: 0;
  left: 0;
  width: 50%;
  height: 35px;
  border-bottom: 1px #2a2a2a solid;
  box-shadow: 0 0 6px rgba(0,0,0,0.75);
  transition: width 600ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 999;
}

.topFade {
  position: absolute;
  top: 0;
  height: 40px;
  width: -webkit-calc(100% - 11px);
  transition: width 0ms !important;
  z-index: 100;
}


#textPanel {
  font-family: $monospaced;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  text-rendering: geometricPrecision;
  > div {
    font-size: 11.5px;
    letter-spacing: 0.0275em;
    line-height: 1.5;
    padding-top: 0;
  }
  #plainText {
    background: transparent;
    outline:none;
    border:none;
    resize:none;
  }
}

#leftPanel {
  position: absolute;
  left: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px);
  transition: width 700ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  .topFade {
    left: 0;
    transition-duration: 0ms;
  }
}

.CodeMirror {
  font-size: 0.9em;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

#rightPanel {
  position: absolute;
  right: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px);
  transition: 700ms cubic-bezier(0.17, 0.04, 0.03, 0.55);
  .topFade {
    background-image: -webkit-linear-gradient(top, #f6f5f5 25%, transparent);
    right: 10px;
  }
}

#previewPanel {
  background: #f6f5f5;
  font-family: $preview-font;
  height: 100%;
  width: 100%;
  padding: 27px 15px 27px;
  overflow-y: auto;
  text-rendering: geometricPrecision;
}

.editor-toolbar{
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: rgba(255,255,255,0.55) !important;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  padding: 4px 10px 0 6px;
  &:hover {
    border-color: #95a5a6;
    color: $text-emphasis-color !important;
  }
  &.active {
    color: $text-emphasis-color !important;
  }
  &.inactive {
    color: $text-subtle-color !important;
  }
}

.separator {
  display: inline-block;
  width: 0;
  border-left: 2px outset #3f3e3c;
  border-right: 1px outset #2f2e2c;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

.toolContainer {
  width: 16px;
  float: left;
  margin: 3.5px 5px 0 0;
}

// Text input fields
.form-group {
  margin-left: -5px;
  margin-bottom: 5px;
  label {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.035em;
    line-height: 2.1;
    margin-bottom: 0;
  }
  input[type="text"] {
    background: #3a3a3a;
    color: rgba(255,255,255,0.6);
    letter-spacing: 0.03em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);
    border: 1px inset #3d3d3d;
    border-radius: 12px;
    padding: 4px 10px 5px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
}

@mixin gradientBg($direction, $startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient($direction,  $startColor 0, $endColor 80%,$endColor 100%);
  background: -webkit-linear-gradient($direction,  $startColor 0, $endColor 80%,$endColor 100%);
  background: linear-gradient($direction,  $startColor 0, $endColor 80%,$endColor 100%);
}

.bg-gradient1 span,
.bg-gradient1:before {
  @include gradientBg(180deg, #3e3d3c, #2f2e2d);
}

// When trialing whitespace is visible
.cm-trailingspace,
.cm-trailing-space-a,
.cm-trailing-space-new-line {
  color: rgba(255,255,255,0.15) !important;
}

.search-dialog {
  position: absolute;
  background: #302f2e;
  top: 90%;
  left: 0;
  width: 50%;
  height: 50px;
  border: 1px outset #424140;
  border-radius: 5px;
  z-index: 99999;
  visibility: hidden;
  #search-icon {
    position: relative;
    background: transparent;
    color: rgba(255,255,255,0.6);
    top: 8.5%;
    left: 2.5%;
    width: 5%;
    height: auto;
    text-shadow: 4px 0 1px rgba(0,0,0,0.6);
  }
}

pre {
  background: #454540;
  color: #eee;
  border-radius: 10px;
}

code {
  font-family: $monospaced !important;
  background: #515151;
  color: rgba(255,255,255,0.75);
  white-space: nowrap;
  letter-spacing: 0.05em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(left, #4d4c4b, #353433);
  border-radius: 10px;
}

#htmlPreview {
  display: none;
  font-family: $preview-font;
  background: #f6f5f5;
  color: #2a2a2a;
  width: 100%;
  height: 100%;
  letter-spacing: 0.0375em;
  line-height: 1.5;
  border: none;
  word-wrap: break-word;
  text-rendering: geometricPrecision;
  overflow-y: auto;
  outline: none !important;
  resize: none;
}

// .alert-success, .alert-info, .alert-warning, .alert-danger {
//   width: auto !important;
//   min-width: 250px !important;
//   max-width: 350px !important;
//   box-shadow: 0 2px 8px rgba(0,0,0,0.3);
//   margin-top: 20px !important;
//   padding: 9px 30px 10px 12px !important;
//   outline: none !important;
//   span {
//     letter-spacing: 0.05em !important;
//     line-height: 1.35;
//     vertical-align: middle;
//     &:nth-child(4) {
//       display: block;
//       width: 90% !important;
//       max-height: 36px !important;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       padding-left: 10px;
//     }
//     &:nth-child(2) {
//       width: 8% !important;
//       float: left !important;
//       // padding-left: 10px;
//     }
//     strong {
//       font-size: 1.15em !important;
//     }
//     &:before {
//       position: relative !important;
//       font-size: 1.85em !important;
//       top: -0.35px !important;
//       margin-right: 3px !important;
//       margin-bottom: 20px !important;
//     }
//   }
//   button {
//     top: 26.65% !important;
//     outline: none !important;
//   }
// }
// .alert-success {
//   // border: 1px solid #3c763d;
//   .close {
//     color: rgba(#3c763d, 0.95) !important;
//   }
// }
// .alert-info {
//   // border: 1px solid #31708f;
//   .close {
//     color: #31708f !important;
//   }
// }
// .alert-warning {
//   background: #f8eccc;
//   color: #8a6c3a !important;
//   // color: #9a814b !important;
//   // border: 1px solid #9a814b;
//   .close {
//     color: #9a814b !important;
//   }
// }
// .alert-danger {
//   // border: 1px solid #a94442;
//   .close {
//     color: #a94442 !important;
//   }
// }


[data-tooltip]:after {
  content: "";
  display: block;
  position: absolute;
  background: transparent;
  color: $text-color;
  font-family: $sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  border-radius: 4px;
  white-space: nowrap;
  margin-left: -5px;
  padding: 4px 6px;
  opacity: 0;
  transition: opacity 200ms linear 1s;
  z-index: 20;
}

[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  background-image: -webkit-linear-gradient(top, #383637, #373635);
  color: $text-color;
  font-family: $sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  left: 5%;
  top: -250%;
  border-radius: 4px;
  box-shadow: 0 0 4px #222;
  white-space: nowrap;
  margin-left: -5px;
  padding: 4px 6px;
  border: 1px outset #444;
  opacity: 0.9;
  transition: opacity 200ms linear 1s;
  z-index: 20;
}

.fa-link {
  color: rgba(255,255,255,0.65);
}

.fa-unlink {
  color: #666564;
}

.fa-eye {
  color: rgba(255,255,255,0.65);
}

.fa-eye-slash {
  color: #666564;
}

// Scale app typography according to device resolution
@media screen and (max-device-width: 2750px) {
  .CodeMirror pre {
    font-size: 0.95em !important;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 10.5px !important;
  }
}

@media screen and (max-device-width: 2000px) {
  .CodeMirror pre {
    font-size: 1em !important;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 11px !important;
  }
}

@media screen and (max-device-width: 1400px) {
  .CodeMirror pre {
    font-size: 1.05em !important;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 12px !important;
  }
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  min-width: 51px;
  font-size: 17px;
  padding: 0 20px;
  border: none;
  overflow: visible;
  width: 51px;
  height: 32px;
  z-index: 0;
  text-align: left;
}
.switch__input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: -1;
}
.switch__toggle {
  background-color: #333;//#fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  box-shadow: inset 0 0 0 2px #151515;
}
.switch__handle {
  box-sizing: border-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  border-radius: 28px;
  height: 28px;
  width: 28px;
  background-color: #333;//#fff;
  left: 1px;
  top: 2px;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  box-shadow: 0 0 0 1px #444, 0 3px 2px rgba(0,0,0,0.25);
}
.switch--active .switch__handle {
  transition-duration: 0s;
}
input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px darken($accent-color, 10%);//#5198db;
  background-color: darken($accent-color, 10%);//#5198db;
}
input:checked + .switch__toggle .switch__handle {
  left: 21px;
  box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}
input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch__touch {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
}
.switch.switch--material {
  width: 36px;
  height: 24px;
  margin-left: 5px;
  padding: 0 10px;
  min-width: 36px;
}
.switch.switch--material .switch__toggle {
  background-color: #414141;//#b0afaf;
  margin-top: 5px;
  height: 14px;
  box-shadow: none;
}
.switch.switch--material .switch__input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: -1;
}
.switch.switch--material .switch__handle {
  background-image: -webkit-radial-gradient(#333, #2e2e2e);//#f1f1f1;
  left: 0px;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  border: 1px outset #424242;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
}
.switch.switch--material input:checked + .switch__toggle {
  background: desaturate(darken($accent-color, 5%), 2%);//#77c2bb;
  box-shadow: none;
}
.switch.switch--material input:checked + .switch__toggle .switch__handle {
  left: 16px;
  background-color: #383838;//#009688;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.switch.switch--material input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch.switch--material .switch__handle:before {
  background: transparent;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.12);
  transition: box-shadow 0.1s linear;
}
.switch.switch--material.switch--active .switch__handle:before {
  box-shadow: 0px 0px 0px 14px rgba(0,0,0,0.12);
}
.switch.switch--material.switch--active input:checked + .switch__toggle .switch__handle:before {
  box-shadow: 0px 0px 0px 14px darken($accent-color, 10%);//#009688;
}
.switch.switch--material .switch__touch {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -15px;
  right: -15px;
}
