html, body, section, .full-height {
  height: 100%; }

body {
  background: #282726;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 13.5px;
  resize: both;
  overflow: hidden; }

#editArea {
  padding: 74px 15px 0; }

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.0175em;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 6px;
  margin-bottom: 5px; }

#pad {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#markdown {
  overflow: auto; }
  #markdown > pre {
    background-color: #3e3e3e;
    color: rgba(255, 255, 255, 0.75); }

.frame {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #353334, #282726);
  color: #8C8C8C;
  height: 37px;
  width: 100%;
  top: 0;
  left: 0;
  /*border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;*/
  z-index: 9999; }
  .frame #draggable {
    position: absolute;
    height: 125%;
    width: -webkit-calc(100% - 75px);
    top: 0;
    left: 0; }
  .frame .icon > img {
    display: inline-block;
    position: fixed;
    height: 20px;
    width: 20px;
    left: 9px;
    margin: 8px 5px; }
  .frame #title {
    position: absolute;
    display: inline-block;
    color: #bbb;
    font-size: 12px;
    top: 9px;
    left: 44px; }
    .frame #title #titlePath {
      display: inline-block;
      color: #bbb;
      font-size: 12px; }
  .frame > button {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    float: right;
    margin: 3px 0px;
    padding: 2px 1px;
    z-index: 9999999; }
    .frame > button > img {
      display: inline-block;
      height: 21px;
      width: 21px;
      padding: 4px; }
  .frame #minimize:hover, .frame #minimize:active > img {
    content: url("../img/min_active.png"); }
  .frame #maximize:hover, .frame #maximize:active > img {
    content: url("../img/max_active.png"); }
  .frame #close {
    margin-right: 8px; }
    .frame #close:hover, .frame #close:active > img {
      content: url("../img/close_active.png"); }

#appMenu {
  position: fixed;
  background-color: #282726;
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 11px;
  width: 100%;
  height: 0;
  top: 34px;
  left: 0;
  border: 1px inset #424443;
  visibility: visible;
  z-index: 999999; }
  #appMenu :focus,
  #appMenu :active:focus,
  #appMenu .active:focus,
  #appMenu .focus,
  #appMenu :active.focus,
  #appMenu .active.focus {
    outline: none !important; }
  #appMenu .hidden {
    visibility: hidden; }
  #appMenu .btn-group > button {
    display: inline-block;
    background: transparent;
    color: rgba(255, 255, 255, 0.4);
    font-size: 11px;
    height: 26px;
    width: 40px;
    border-radius: 2px;
    white-space: nowrap;
    border-right: 1px inset #393b40;
    padding: 4px 0 5px; }
    #appMenu .btn-group > button:hover, #appMenu .btn-group > button:focus, #appMenu .btn-group > button:active {
      background: #313029;
      color: #f2f2f2;
      border-top: 1px inset #424443;
      border-bottom: 1px inset #424443; }
  #appMenu .btn-group .dropdown-menu {
    background-color: #2d2e2c;
    color: rgba(255, 255, 255, 0.75);
    font-size: 11px;
    top: 82%;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    #appMenu .btn-group .dropdown-menu > li {
      padding: 2px 0; }
      #appMenu .btn-group .dropdown-menu > li > a {
        display: inline;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.75);
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 0.06em;
        text-decoration: none !important;
        padding: 3px 15px 3px 10px; }
        #appMenu .btn-group .dropdown-menu > li > a:hover, #appMenu .btn-group .dropdown-menu > li > a:focus, #appMenu .btn-group .dropdown-menu > li > a:active {
          color: #f2f2f2; }
      #appMenu .btn-group .dropdown-menu > li > span {
        display: inline;
        position: relative;
        color: rgba(255, 255, 255, 0.3);
        font-size: 10px;
        font-weight: 200;
        text-align: right;
        right: 10px;
        float: right;
        padding-top: 1.5px; }
      #appMenu .btn-group .dropdown-menu > li:hover, #appMenu .btn-group .dropdown-menu > li:active {
        background: #3a3b39;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4); }
        #appMenu .btn-group .dropdown-menu > li:hover > a, #appMenu .btn-group .dropdown-menu > li:active > a {
          color: #f2f2f2; }
    #appMenu .btn-group .dropdown-menu .dropdown-divider {
      background: rgba(255, 255, 255, 0.075);
      height: 1px;
      width: 98%;
      margin: 4px auto;
      padding: 0; }

.dropdown-submenu {
  position: relative;
  background-color: #2d2e2c;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  top: 82%;
  z-index: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px; }
    .dropdown-submenu .dropdown-menu > li {
      padding: 2px 0; }
      .dropdown-submenu .dropdown-menu > li > a {
        display: inline;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.75);
        font-size: 11px;
        letter-spacing: 0.06em;
        text-decoration: none !important;
        padding: 3px 15px 3px 10px; }
        .dropdown-submenu .dropdown-menu > li > a:hover, .dropdown-submenu .dropdown-menu > li > a:focus, .dropdown-submenu .dropdown-menu > li > a:active {
          color: #f2f2f2; }
      .dropdown-submenu .dropdown-menu > li > span {
        display: inline;
        position: relative;
        color: rgba(255, 255, 255, 0.2);
        font-size: 10px;
        font-weight: 200;
        text-align: right;
        right: 10px;
        float: right;
        padding-top: 1.5px; }
      .dropdown-submenu .dropdown-menu > li:hover, .dropdown-submenu .dropdown-menu > li:active {
        background: #3a3b39;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4); }
        .dropdown-submenu .dropdown-menu > li:hover > a, .dropdown-submenu .dropdown-menu > li:active > a {
          color: #f2f2f2; }

#buttons {
  display: inline-block;
  /*background-image: -webkit-linear-gradient(#2a2d2c, #1e2120);*/
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  height: 30px;
  padding: 0 9px; }
  #buttons > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: rgba(255, 255, 255, 0.75);
    border: 1px outset #4a4f4d;
    border-radius: 4px;
    margin-right: 2px;
    padding-bottom: 3px; }
    #buttons > button > img {
      height: 12px;
      width: 12px;
      margin: 0 5px 3px -1px; }

.toolbar-buttons > a {
  /*background: -webkit-linear-gradient(#3c3e3d, #292b2a);*/
  border: 1px outset #4a4f4d;
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.3);
  margin-right: 1.5px;
  padding: 5px; }
  .toolbar-buttons > a:hover {
    color: #f2f2f2 !important;
    border-color: #656766; }

.bottom-bar {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #2d2a2c, #232220);
  color: #b6b5b4;
  font-size: 12px;
  height: 28px;
  width: 100%;
  bottom: 0%;
  left: 0;
  /*border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;*/
  border-top: 1px solid #363534;
  padding: 2px;
  z-index: 99999;
  resize: both; }
  .bottom-bar #bottom-file {
    display: inline-block;
    position: relative;
    font-size: 12px;
    bottom: 2px;
    margin: 5.25px 4px 4px 12px; }
  .bottom-bar #wordcount {
    display: inline-block;
    position: relative;
    font-size: 12px;
    bottom: 2px;
    margin: 5.25px 6px 4px 15px; }
  .bottom-bar > label {
    display: inline-block;
    position: absolute;
    color: #b6b5b4;
    font-size: 12px;
    font-weight: 600;
    right: 1%;
    margin: 4px 5px; }
  .bottom-bar #syncScroll {
    display: inline-block;
    position: absolute;
    background: transparent;
    font-size: 14.5px;
    border: none;
    outline: none !important;
    right: 1.25%;
    margin-top: 6.125px; }

.pref {
  background-color: #282726;
  font-size: 12px;
  float: right;
  width: 50%;
  text-align: right;
  border-bottom: 1px solid #323130;
  box-shadow: 4px 1px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 14px 10px 6px; }
  .pref > input {
    width: 12px;
    margin: 2px 2px 0; }

input[type="radio"] {
  display: inline-block;
  position: relative;
  left: 23px;
  opacity: 0;
  cursor: pointer; }
  input[type="radio"] + label {
    color: rgba(255, 255, 255, 0.75); }
    input[type="radio"] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: 0 6px 3px 5px;
      vertical-align: middle;
      background: url(../img/radio.png) 0px top no-repeat;
      cursor: pointer; }
  input[type="radio"]:checked + label span {
    background: url(../img/radio.png) -24px top no-repeat; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    color: rgba(255, 255, 255, 0.75); }
    input[type="checkbox"] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: -1px  6px 0 5px;
      vertical-align: middle;
      background: url(../img/check.png) 0px top no-repeat;
      cursor: pointer; }
  input[type="checkbox"]:checked + label span {
    background: url(../img/check.png) -24px top no-repeat; }

.mode {
  background-color: #282726;
  float: left;
  width: 50%;
  text-align: left;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.125);
  padding: 14px 10px 6px;
  border-bottom: 1px solid #323130; }

#side-trigger {
  display: inline-block;
  position: absolute;
  background: transparent;
  height: 100%;
  width: 12px;
  left: 0;
  margin: 0;
  z-index: 99999999; }
  #side-trigger:hover button img {
    visibility: visible; }

#side-button {
  display: inline-block;
  position: absolute;
  background: transparent;
  border: none;
  top: 37%;
  left: 0;
  cursor: pointer; }
  #side-button > img {
    display: inline-block;
    position: absolute;
    height: 48px;
    width: 24px;
    top: 0;
    left: -2px;
    cursor: pointer; }

#sidebar {
  display: inline-block;
  position: absolute;
  background: #252726;
  color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 375px;
  left: 0; }

.mdHtml {
  display: none;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  border: none; }

.optContainer {
  position: fixed;
  background-color: #282726;
  top: 32px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5); }

#htmlPreview:focus {
  outline: 1px solid #ECE6E6; }

#toolbarArea {
  position: fixed;
  top: 74px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 35px;
  display: none;
  border-bottom: 1px #2a2a2a solid;
  background-color: #302f2e;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); }

a#angleToolBar {
  color: rgba(255, 255, 255, 0.4); }
  a#angleToolBar:hover {
    color: rgba(255, 255, 255, 0.9); }

#textPanel {
  padding: 0;
  overflow: scroll;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); }
  #textPanel > div {
    padding-top: 8px; }

#previewPanel {
  background: #f6f5f5;
  text-rendering: geometricPrecision;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75); }

.editor-toolbar {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.55) !important;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  padding: 4px 10px 0px 6px; }
  .editor-toolbar:hover {
    /*background: #fcfcfc;*/
    border-color: #95a5a6;
    color: #f2f2f2 !important; }
  .editor-toolbar.active {
    color: #f2f2f2 !important; }
  .editor-toolbar.inactive {
    color: rgba(255, 255, 255, 0.4) !important; }

.separator {
  display: inline-block;
  width: 0;
  border-left: 2px outset #3f3e3c;
  border-right: 1px outset #2f2e2c;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px; }

.toolContainer {
  width: 16px;
  float: left;
  margin-right: 5px; }

.modal--default__content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background: #d2d0cd;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }

.modal-header {
  border-bottom-color: #494949; }

.modal-header .close {
  position: relative;
  color: #fff;
  font-size: 25px;
  top: -3px;
  right: 3px; }

.modal-content {
  position: relative;
  background: #353334;
  color: #e5e5e5;
  top: 20px;
  border-radius: 15px; }

.modal-body {
  color: #333; }

.modal-footer {
  border-top-color: #494949; }
  .modal-footer > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: rgba(255, 255, 255, 0.75);
    border: 1px inset #3a3f3d;
    border-radius: 6px; }

.modal-footer > button {
  background-image: -webkit-linear-gradient(#454746, #242625);
  color: rgba(255, 255, 255, 0.75);
  border: 1px inset #3a3f3d;
  border-radius: 6px; }

pre {
  background: #454545;
  color: #eee;
  border-radius: 10px; }

code {
  background: #414141;
  color: #eee; }

.markdown-help-content {
  width: 100%;
  border-spacing: 0; }
  .markdown-help-content tr {
    line-height: 30px; }
    .markdown-help-content tr:nth-child(even) {
      background-color: #b2b0ad; }
    .markdown-help-content tr:first-child td {
      border-top: 0; }
  .markdown-help-content td {
    border-top: 1px solid rgba(38, 50, 56, 0.1);
    min-width: 180px; }

.markdown-help-content tr {
  line-height: 30px; }

.markdown-help-content tr:nth-child(even) {
  background-color: #b2b0ad; }

.markdown-help-content tr:first-child td {
  border-top: 0; }

.markdown-help-content td {
  border-top: 1px solid rgba(38, 50, 56, 0.1);
  min-width: 180px; }

.preview-dark-mode {
  /*background: rgb(248,246,245);*/
  color: #3a3a3a; }
  .preview-dark-mode textarea {
    background: #f8f6f5;
    color: #3a3a3a; }

.CodeMirror-linenumbers {
  color: rgba(255, 255, 255, 0.4); }

::-webkit-scrollbar {
  background-color: rgba(76, 75, 72, 0.3);
  width: 8px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #42403E;
  border-radius: 10px; }

#markdown {
  font-size: 14px;
  text-rendering: geometricPrecision;
  overflow: auto; }
  #markdown h1 {
    color: #333;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 1.25;
    border-bottom: 1px solid #eaecef;
    margin-bottom: 20px; }
  #markdown h2 {
    color: #333;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    border-bottom: 1px solid #eaecef;
    margin-bottom: 15px; }
  #markdown h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1; }
  #markdown h4 {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.05; }
  #markdown img {
    width: auto;
    max-width: 100%;
    height: auto; }
  #markdown ol, #markdown ul {
    line-height: 1.75; }
  #markdown a {
    color: #237aa7;
    text-decoration: none; }
  #markdown a:focus, #markdown a:hover, #markdown a:active {
    color: #23728c;
    text-decoration: none; }
  #markdown hr {
    border-top: 1px solid #ddd; }
  #markdown pre {
    background: #424242;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: 15px 0;
    padding: 9.5px 18px; }
  #markdown pre code {
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.045em;
    border-radius: 10px; }
  #markdown blockquote {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px; }

.fa-link {
  color: rgba(255, 255, 255, 0.9); }

.fa-unlink {
  color: #a6a5a4; }