html, body, section, .full-height {
  height: 100%; }

body {
  background: #f6f5f4;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 13.5px;
  resize: both;
  overflow: hidden; }

#editArea {
  height: -webkit-calc(100% - 28px);
  padding: 0 15px 0; }

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.0175em;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 6px;
  margin-bottom: 5px; }

#pad {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#markdown {
  overflow: auto; }
  #markdown > pre {
    background-color: #3e3e3e;
    color: rgba(255, 255, 255, 0.75); }

.frame {
  position: absolute;
  height: 33px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999; }
  .frame #draggable {
    position: absolute;
    height: 100%;
    width: -webkit-calc(100% - 125px);
    top: 0;
    left: 4%; }
  .frame .icon > img {
    display: inline-block;
    position: fixed;
    height: 20px;
    width: 20px;
    left: 9px;
    margin: 8px 5px; }
  .frame #title {
    position: absolute;
    display: inline-block;
    color: #bbb;
    font-size: 12px;
    top: 10px;
    left: 44px; }
    .frame #title #titlePath {
      display: inline-block;
      color: #bbb;
      font-size: 12px; }

#menuToggle {
  position: absolute;
  top: -0.75%;
  left: 0.5%;
  outline: none !important;
  cursor: pointer;
  z-index: 9999999; }
  #menuToggle button {
    display: block;
    font-size: 1.75em;
    background: transparent;
    color: rgba(255, 255, 255, 0.07);
    border: none;
    outline: none !important;
    z-index: 99; }
    #menuToggle button:hover {
      color: rgba(255, 255, 255, 0.5); }
  #menuToggle:hover {
    color: rgba(255, 255, 255, 0.75); }

#metacity {
  position: absolute;
  top: -2px;
  right: 0.25%;
  z-index: 999999999; }
  #metacity button {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    float: right;
    margin: 3px 0;
    padding: 2px 1px; }
    #metacity button > img {
      display: inline-block;
      height: 21px;
      width: 21px;
      padding: 4px; }
  #metacity #minimize:active > img {
    content: url("../img/min_active.png"); }
  #metacity #minimize > img:hover {
    content: url("../img/min_active.png"); }
  #metacity #maximize:active > img {
    content: url("../img/max_active.png"); }
  #metacity #maximize > img:hover {
    content: url("../img/max_active.png"); }
  #metacity #close {
    margin-right: 8px; }
    #metacity #close:active > img, #metacity #close > img:hover {
      content: url("../img/close_active.png"); }

#appMenu {
  position: fixed;
  background-image: -webkit-linear-gradient(top, #303030, #262524);
  color: rgba(255, 255, 255, 0.75) !important;
  font-size: 11px;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  border-bottom: 1px outset #494b50;
  visibility: visible;
  z-index: 9999; }
  #appMenu :focus,
  #appMenu :active:focus,
  #appMenu .active:focus,
  #appMenu .focus,
  #appMenu :active.focus,
  #appMenu .active.focus {
    outline: none !important; }
  #appMenu .hidden {
    visibility: hidden; }
  #appMenu .btn-group {
    top: -8px;
    height: 100%; }
    #appMenu .btn-group:first-child {
      margin-left: 6px; }
    #appMenu .btn-group > button {
      display: inline-block;
      background: transparent;
      color: rgba(255, 255, 255, 0.4);
      font-size: 11px;
      height: 23px;
      width: 40px;
      border-radius: 2px;
      white-space: nowrap;
      border-left: 1px outset #37393d;
      border-right: 1px outset #494b50;
      padding: 3px 0 2px; }
      #appMenu .btn-group > button:hover, #appMenu .btn-group > button:focus, #appMenu .btn-group > button:active {
        background: #313029;
        color: rgba(255, 255, 255, 0.75);
        border-top: 1px inset #424443;
        border-bottom: 1px inset #424443; }
    #appMenu .btn-group .dropdown-menu {
      background-color: #2d2e2c;
      color: rgba(255, 255, 255, 0.75);
      font-size: 11px;
      min-width: 175px;
      top: 82%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: 0; }
      #appMenu .btn-group .dropdown-menu li {
        padding: 2px 0;
        cursor: pointer; }
        #appMenu .btn-group .dropdown-menu li a {
          display: inline;
          background-color: transparent;
          color: rgba(255, 255, 255, 0.65);
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.06em;
          text-decoration: none !important;
          padding: 3px 15px 3px 10px; }
          #appMenu .btn-group .dropdown-menu li a:hover, #appMenu .btn-group .dropdown-menu li a:focus, #appMenu .btn-group .dropdown-menu li a:active {
            color: #f0f0f0; }
        #appMenu .btn-group .dropdown-menu li span {
          display: inline;
          position: relative;
          color: rgba(255, 255, 255, 0.3);
          font-size: 10px;
          font-weight: 200;
          text-align: right;
          right: 10px;
          float: right;
          padding-top: 1.5px; }
        #appMenu .btn-group .dropdown-menu li:hover, #appMenu .btn-group .dropdown-menu li:active {
          background: #3a3b39;
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4); }
          #appMenu .btn-group .dropdown-menu li:hover a, #appMenu .btn-group .dropdown-menu li:active a {
            color: #f0f0f0; }
          #appMenu .btn-group .dropdown-menu li:hover span, #appMenu .btn-group .dropdown-menu li:active span {
            font-weight: 400;
            color: #f34957; }
      #appMenu .btn-group .dropdown-menu .dropdown-divider {
        background: rgba(255, 255, 255, 0.075);
        height: 1px;
        width: 98%;
        margin: 4px auto;
        padding: 0; }
        #appMenu .btn-group .dropdown-menu .dropdown-divider:hover {
          background: rgba(255, 255, 255, 0.075);
          color: rgba(255, 255, 255, 0.75); }
  #appMenu #draggable-menu {
    display: inline-block;
    height: 100%;
    width: 75%; }

.caret {
  color: fade(rgba(255, 255, 255, 0.4), 10%);
  float: right;
  margin: 5px 9px 0 0; }

.dropdown-submenu {
  position: relative;
  background-color: #2d2e2c;
  color: rgba(255, 255, 255, 0.75);
  font-size: 11px;
  top: 82%;
  z-index: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .dropdown-submenu .sub {
    top: -5px !important; }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px; }
    .dropdown-submenu .dropdown-menu > li {
      padding: 2px 0; }
      .dropdown-submenu .dropdown-menu > li > a {
        display: inline;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.75);
        font-size: 11px;
        letter-spacing: 0.06em;
        text-decoration: none !important;
        padding: 3px 15px 3px 10px; }
        .dropdown-submenu .dropdown-menu > li > a:hover, .dropdown-submenu .dropdown-menu > li > a:focus, .dropdown-submenu .dropdown-menu > li > a:active {
          color: #f0f0f0; }
      .dropdown-submenu .dropdown-menu > li > span {
        display: inline;
        position: relative;
        color: rgba(255, 255, 255, 0.2);
        font-size: 10px;
        font-weight: 200;
        text-align: right;
        right: 10px;
        float: right;
        padding-top: 1.5px; }
      .dropdown-submenu .dropdown-menu > li:hover, .dropdown-submenu .dropdown-menu > li:active {
        background: #3a3b39;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4); }
        .dropdown-submenu .dropdown-menu > li:hover > a, .dropdown-submenu .dropdown-menu > li:active > a {
          color: #f0f0f0; }

#buttons {
  display: inline-block;
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
  height: 30px;
  padding: 0 9px; }
  #buttons > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: rgba(255, 255, 255, 0.75);
    border: 1px outset #4a4f4d;
    border-radius: 4px;
    margin-right: 2px;
    padding-bottom: 3px; }
    #buttons > button > img {
      height: 12px;
      width: 12px;
      margin: 0 5px 3px -1px; }

.toolbar-buttons > a {
  border: 1px outset #4a4f4d;
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.3);
  margin-right: 1.5px;
  padding: 5px; }
  .toolbar-buttons > a:hover {
    color: #f0f0f0 !important;
    border-color: #656766; }

.bottom-bar {
  position: absolute;
  background-image: -webkit-linear-gradient(top, #333231, #252423);
  color: #b6b5b4;
  font-size: 11px;
  height: 28px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #363534;
  padding: 2px;
  z-index: 99999;
  resize: both; }
  .bottom-bar #bottom-file {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 4px;
    bottom: 2px;
    margin: 0 4px 0 12px; }
  .bottom-bar #file-status {
    display: inline-block;
    position: relative;
    color: #de545f;
    font-size: 14px;
    top: 2px;
    left: -1px;
    line-height: 0.5;
    visibility: hidden; }
  .bottom-bar #wordcount {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 4px;
    left: 0;
    bottom: 2px;
    margin: 0 6px 0 15px; }
  .bottom-bar #draggable {
    position: absolute;
    height: 100%;
    width: -webkit-calc(100% - 240px);
    top: 0;
    left: 17%; }
  .bottom-bar > label {
    display: inline-block;
    position: absolute;
    color: #b6b5b4;
    font-size: 12px;
    font-weight: 600;
    right: 1%;
    margin: 4px 5px; }
  .bottom-bar button {
    position: absolute;
    display: inline-block;
    background: transparent;
    border: none;
    outline: none !important; }
  .bottom-bar #syncScroll {
    font-size: 14.5px;
    right: 2.5em;
    margin-top: 4px; }
  .bottom-bar #togglePreview {
    font-size: 17.5px;
    right: 0.4em;
    margin-top: 1px; }

.prevToggle {
  position: absolute;
  display: inline-block;
  top: 17%;
  right: 1%;
  font-size: 10px; }
  .prevToggle input {
    width: 12px;
    margin: 2px 2px 0; }
  .prevToggle input[type="radio"] {
    display: inline-block;
    position: relative;
    left: 23px;
    opacity: 0;
    cursor: pointer; }
    .prevToggle input[type="radio"] + label {
      color: rgba(255, 255, 255, 0.75); }
      .prevToggle input[type="radio"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: 0 6px 3px 5px;
        vertical-align: middle;
        background: url(../img/radio.png) 0 top no-repeat;
        cursor: pointer; }
    .prevToggle input[type="radio"]:checked + label span {
      background: url(../img/radio.png) -24px top no-repeat; }

input[type="checkbox"] {
  display: inline-block;
  position: relative;
  left: 23px;
  opacity: 0; }
  input[type="checkbox"] + label {
    color: rgba(255, 255, 255, 0.75); }
    input[type="checkbox"] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin: 0 6px 3px 5px;
      vertical-align: middle;
      background: url(../img/check.png) 0 top no-repeat;
      cursor: pointer; }
  input[type="checkbox"] + span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 0 6px 3px 5px;
    vertical-align: middle;
    background: url(../img/check.png) 0 top no-repeat;
    cursor: pointer; }
  input[type="checkbox"]:checked + label span {
    background: url(../img/check.png) -24px top no-repeat; }
  input[type="checkbox"]:checked + span {
    background: url(../img/check.png) -24px top no-repeat; }

.mode {
  background-color: #282726;
  float: left;
  width: 100%;
  text-align: left;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.125);
  padding: 2px 10px 2px;
  border-bottom: 1px solid #323130; }

#side-trigger {
  display: inline-block;
  position: absolute;
  background: transparent;
  height: 100%;
  width: 12px;
  left: 0;
  margin: 0;
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 9999; }
  #side-trigger:hover button img {
    visibility: visible; }

#side-button {
  position: absolute;
  background: transparent;
  border: none;
  top: 45%;
  left: 0;
  cursor: pointer;
  z-index: -99; }
  #side-button > img {
    position: absolute;
    height: 56px;
    width: 28px;
    top: 0;
    left: -2px;
    cursor: pointer; }

#sidebar {
  display: block;
  position: absolute;
  background: #31302f;
  color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 250px;
  top: 0;
  left: -250px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 99999; }
  #sidebar #side-logo {
    position: relative;
    width: 70%;
    height: auto;
    left: 0;
    margin: 15px 15%;
    opacity: 0.9; }
  #sidebar #side-menu {
    position: relative;
    font-size: 22px;
    font-weight: 200;
    list-style: none;
    top: 1%;
    padding: 0; }
    #sidebar #side-menu li {
      text-align: center;
      padding: 2px 0; }
      #sidebar #side-menu li a {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer; }
        #sidebar #side-menu li a:hover, #sidebar #side-menu li a:active {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none; }
      #sidebar #side-menu li:after {
        display: block;
        position: relative;
        content: '';
        background: rgba(255, 255, 255, 0.1);
        height: 1px;
        width: 200px;
        border: none;
        margin: 3px auto;
        padding: 0; }
  #sidebar #side-icons {
    width: 40%;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    margin: 30px auto 0;
    padding: 0; }
    #sidebar #side-icons li {
      position: relative;
      font-size: 23px;
      color: #666;
      padding-right: 12px; }
      #sidebar #side-icons li:first-child {
        font-size: 27px; }
      #sidebar #side-icons li:last-child {
        font-size: 21px;
        bottom: 3px;
        padding-right: 0; }
      #sidebar #side-icons li:hover, #sidebar #side-icons li:active {
        color: #888; }

.mdHtml {
  display: none;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  border: none; }

.optContainer {
  position: fixed;
  background-color: #282726;
  top: 32px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5); }

#htmlPreview {
  background: #f6f5f4; }
  #htmlPreview:focus {
    outline: 1px solid #ECE6E6; }

#toolbarArea {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 50%;
  height: 35px;
  display: none;
  border-bottom: 1px #2a2a2a solid;
  background-image: -webkit-linear-gradient(top, #353334, #302f2e);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  z-index: 9999; }

#angleToolBar {
  color: rgba(255, 255, 255, 0.4); }
  #angleToolBar:hover {
    color: rgba(255, 255, 255, 0.9); }

.topFade {
  position: absolute;
  height: 45px;
  width: 98%;
  top: 0;
  z-index: 1010; }

#textPanel {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  text-rendering: geometricPrecision; }
  #textPanel > div {
    font-size: 8.5pt;
    line-height: 1.5;
    padding-top: 0; }
  #textPanel #plainText {
    background: transparent;
    outline: none;
    border: none;
    resize: none; }

#leftPanel {
  position: absolute;
  left: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px); }
  #leftPanel .topFade {
    left: 0; }

.CodeMirror {
  font-size: 0.9em;
  letter-spacing: 0.02em;
  line-height: 1.6; }

#rightPanel {
  position: absolute;
  right: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px); }
  #rightPanel .topFade {
    background-image: -webkit-linear-gradient(top, #f6f5f4 25%, transparent);
    right: 2%; }

#previewPanel {
  background: #f6f5f4;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif !important;
  height: 100%;
  width: 100%;
  padding: 27px 15px 0;
  overflow-y: auto;
  text-rendering: geometricPrecision; }

.editor-toolbar {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.55) !important;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  padding: 4px 10px 0 6px; }
  .editor-toolbar:hover {
    border-color: #95a5a6;
    color: #f0f0f0 !important; }
  .editor-toolbar.active {
    color: #f0f0f0 !important; }
  .editor-toolbar.inactive {
    color: rgba(255, 255, 255, 0.4) !important; }

.separator {
  display: inline-block;
  width: 0;
  border-left: 2px outset #3f3e3c;
  border-right: 1px outset #2f2e2c;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px; }

.toolContainer {
  width: 16px;
  float: left;
  margin: 3.5px 5px 0 0; }

.modal-content {
  position: relative;
  background: #353433;
  color: #e5e5e5;
  top: 20px;
  border-radius: 15px;
  overflow-y: auto; }

.modal--default__content {
  position: relative;
  width: 100%;
  padding: 0.8em;
  background: transparent; }

.modal-inset .modal-header {
  border-bottom: none; }
.modal-inset .modal--default__content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background: #d2d0ce;
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }

.modal-header {
  background-image: -webkit-linear-gradient(top, #333231, #292827);
  border-bottom-color: #494949;
  padding: 10px 15px; }

.modal-title {
  font-weight: 200; }

#unsaved-modal .modal-title {
  margin: 0 0 0 6px; }
#unsaved-modal .modal-dialog {
  width: 425px;
  margin: 95px auto !important; }
#unsaved-modal .modal-header {
  padding: 10px; }
  #unsaved-modal .modal-header .close {
    top: 7px;
    right: 13px; }
#unsaved-modal .modal-body {
  padding: 5px 15px; }

#unsaved-body {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15.5px;
  line-height: 1.6; }

#unsavedDeny {
  color: rgba(255, 255, 255, 0.4); }
  #unsavedDeny:hover, #unsavedDeny:active {
    color: rgba(255, 255, 255, 0.75); }

.modal-body-inset {
  background-image: -webkit-linear-gradient(top, #302928, #232221);
  color: #343332; }

.modal-footer {
  border-top-color: #494949; }
  .modal-footer > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: rgba(255, 255, 255, 0.75);
    border: 1px inset #3a3f3d;
    border-radius: 6px; }

.close img {
  position: absolute;
  width: 16px;
  top: 6px;
  right: 1px;
  opacity: 1;
  filter: none; }
.close:active > img, .close > img:hover {
  content: url("../img/close_active.png"); }

#markdown-modal .close img {
  top: 18px;
  right: 12px; }

#about-modal .modal-dialog {
  width: 42%;
  border-radius: 20px;
  margin: 80px auto; }
#about-modal .modal-header {
  background: transparent;
  height: 19px;
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0; }
#about-modal .modal-body {
  background-image: -webkit-linear-gradient(top, #292827, #252423);
  padding-top: 0; }
#about-modal .about-content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.035em;
  width: 90%;
  text-align: center;
  margin: 20px auto 10px; }
#about-modal .close img {
  position: absolute;
  width: 16px;
  top: 12px;
  right: 14px; }
#about-modal .close:active > img, #about-modal .close > img:hover {
  content: url("../img/close_active.png"); }
#about-modal #hyde-img {
  width: 50%;
  height: auto;
  margin: auto;
  margin: 8px 4px 5px; }
#about-modal a {
  color: #de545f;
  font-size: 14px;
  border-bottom: none; }
  #about-modal a:hover, #about-modal a:active {
    text-decoration: none;
    border-bottom: 1px solid rgba(222, 84, 95, 0.6); }
#about-modal ul {
  list-style: none;
  margin: 4px auto;
  padding: 0; }
  #about-modal ul li {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 2px; }
#about-modal #check-updates {
  font-size: 19px;
  font-weight: 400;
  margin-top: 5px; }
  #about-modal #check-updates a:hover, #about-modal #check-updates a:active {
    font-weight: 600;
    border-bottom: none !important; }

.bg-gradient1 span,
.bg-gradient1:before {
  background: #3e3d3c;
  background: -moz-linear-gradient(180deg, #3e3d3c 0%, #2f2e2d 80%, #2f2e2d 100%);
  background: -webkit-linear-gradient(180deg, #3e3d3c 0%, #2f2e2d 80%, #2f2e2d 100%);
  background: linear-gradient(180deg, #3e3d3c 0%, #2f2e2d 80%, #2f2e2d 100%); }

.cm-trailingspace, .cm-trailing-space-new-line {
  color: rgba(255, 255, 255, 0.15) !important;
  text-decoration: underline; }

.search-dialog {
  position: absolute;
  background: #302f2e;
  top: 90%;
  left: 0;
  width: 50%;
  height: 50px;
  border: 1px outset #424140;
  border-radius: 5px;
  z-index: 99999;
  visibility: hidden; }
  .search-dialog #search-icon {
    position: relative;
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    top: 10%;
    left: 2%;
    width: 5%;
    height: auto; }

/* fancy Button */
.modal-button {
  display: inline-block;
  margin: 20px 10px 5px;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.07em;
  text-transform: none;
  line-height: 24px;
  color: #ffffff;
  position: relative; }
  .modal-button:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 40px;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: -1;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out; }
  .modal-button i {
    margin-top: -2px;
    font-size: 1.265em;
    vertical-align: middle; }
  .modal-button span {
    position: relative;
    display: inline-block;
    padding: 2px 8px;
    border: 1px outset #5a5a5a;
    border-radius: 5px;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d; }
  .modal-button:focus {
    color: #ffffff; }
  .modal-button:hover {
    color: #ffffff; }
    .modal-button:hover span {
      filter: brightness(1.15) contrast(1.2); }
    .modal-button:hover:before {
      bottom: 3px;
      filter: blur(6px) brightness(0.8); }
  .modal-button:active span {
    filter: brightness(0.95) contrast(1.5);
    transform: scale(0.96); }
  .modal-button.pop-onhover span {
    border-radius: 4px; }
  .modal-button.pop-onhover:before {
    opacity: 0;
    bottom: 10px; }
  .modal-button.pop-onhover:hover:before {
    bottom: -7px;
    opacity: 1;
    filter: blur(16px); }
  .modal-button.pop-onhover:hover span {
    transform: scale(1); }
  .modal-button.pop-onhover:hover:active span {
    filter: brightness(1) contrast(1);
    transform: scale(1);
    transition: all 0.2s ease-out; }
  .modal-button.pop-onhover:hover:active:before {
    bottom: 0;
    filter: blur(5px) brightness(0.85);
    transition: all 0.2s ease-out; }

pre {
  background: #454545;
  color: #eee;
  border-radius: 10px; }

code {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
  background: #414141;
  color: #eee;
  white-space: nowrap; }

.markdown-help-content {
  width: 100%;
  border-spacing: 0; }
  .markdown-help-content tr {
    line-height: 30px; }
    .markdown-help-content tr:nth-child(even) {
      background-color: #b2b0ad; }
    .markdown-help-content tr:first-child td {
      border-top: 0; }
    .markdown-help-content tr td:last-child {
      border-right: none;
      padding-left: 20px; }
  .markdown-help-content td {
    width: 50%;
    border-top: 1px solid rgba(38, 50, 56, 0.1);
    border-right: 1px solid rgba(38, 50, 56, 0.1);
    padding-left: 15px; }
    .markdown-help-content td ul {
      margin: 0;
      padding-left: 12px; }
    .markdown-help-content td pre {
      font-size: 12px;
      padding: 9px; }
  .markdown-help-content #header {
    font-size: 24px;
    font-weight: 600;
    padding-left: 12px;
    padding-bottom: 5px; }
  .markdown-help-content #code {
    padding-left: 13px; }
  .markdown-help-content #code-block {
    padding-left: 8px; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #42403E;
  border-radius: 10px; }

#markdown {
  color: #2a2a2a;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  letter-spacing: 0.0375em;
  line-height: 1.45;
  text-rendering: geometricPrecision;
  overflow: auto; }
  #markdown h1 {
    color: #333;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.45;
    border-bottom: 1px solid #e1e3ea;
    margin-top: 22px;
    margin-bottom: 27px; }
  #markdown h2 {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    border-bottom: 1px solid #e1e3ea;
    margin-bottom: 24px; }
  #markdown h3 {
    color: #333;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 21px; }
  #markdown h4 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px; }
  #markdown h5 {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 14px; }
  #markdown img {
    max-width: 95%;
    vertical-align: middle;
    box-sizing: content-box; }
  #markdown ol, #markdown ul {
    line-height: 1.6; }
  #markdown li {
    margin-bottom: 5px; }
  #markdown a {
    color: #237aa7;
    text-decoration: none; }
  #markdown a:focus, #markdown a:hover, #markdown a:active {
    color: #23728c;
    text-decoration: none; }
  #markdown hr {
    border-top: 1px solid #ddd; }
  #markdown p {
    margin: 0 0 16px !important; }
  #markdown pre {
    background: #424242;
    color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    margin: 15px 0;
    padding: 9.5px 18px; }
  #markdown pre code {
    font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
    color: rgba(255, 255, 255, 0.75);
    letter-spacing: 0.045em;
    border-radius: 10px; }
  #markdown blockquote {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.65);
    font-size: 13.5px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 20px 1px; }
    #markdown blockquote > p {
      margin-bottom: 0; }
  #markdown table {
    border-collapse: collapse;
    margin-left: 10px; }
    #markdown table tr {
      background-color: #f8f7f5;
      border: 1px solid #c6cbd1; }
      #markdown table tr:nth-child(2n) {
        background-color: #ecedee; }
    #markdown table th {
      font-size: 10.5pt;
      font-weight: 600;
      padding: 8px 13px !important; }
    #markdown table th, #markdown table td {
      border: 1px solid #dfe2e5;
      padding: 6px 13px; }
    #markdown table thead tr {
      line-height: 1.5; }
  #markdown kbd {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
    color: rgba(0, 0, 0, 0.7);
    font-size: 8pt;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 6px;
    box-shadow: inset 0 -0.5px 0 #959da5; }
  #markdown > *:first-child {
    margin-top: 0 !important; }
  #markdown > *:last-child {
    margin-bottom: 0 !important; }

.fa-link {
  color: rgba(255, 255, 255, 0.65); }

.fa-unlink {
  color: #666564; }

.fa-eye {
  color: rgba(255, 255, 255, 0.65); }

.fa-eye-slash {
  color: #666564; }