_site
.sass-cache
.DS_store
Gemfile.lock
.jekyll-metadata
node_modules/*
jspm_packages/*
gulpconfig.json
config.js
_layouts/post_old.html
images/AI/*
images/orig/*
images/res/*
images/pre-optimize/*
images/favicon.ico
TODO.md

#Non-minified javascript
js/index.js
js/jekyll-search.js
js/main.js
js/scroll-top.js
js/util.js
