_site
.sass-cache
.DS_store
Gemfile.lock
.jekyll-metadata
node_modules/*
jspm_packages/*
gulpconfig.json
config.js
_layouts/post_old.html
images/AI/*
images/orig/*
images/res/*
images/pre-optimize/*
images/favicon.ico
TODO.md
*_.png

#Non-minified javascript
js/*.js
!js/*.min.js

*.ai
*.ps
