$text-color: rgba(255,255,255,0.75);
$text-subtle-color: rgba(255,255,255,0.4);
$text-emphasis-color: #f0f0f0;
$preview-background: #fcfafd;
$accent-color: hsl(355, 68%, 60%);

$sans-serif: 'Roboto','Segoe UI','Helvetica Neue',Helvetica,Arial,sans-serif;
$preview-font: 'Open Sans','Helvetica Neue','Segoe UI',Helvetica,Arial,sans-serif;
$serif: 'Lora',Garamond,Times,Georgia,serif;
$monospaced: 'Source Code Pro','Monaco','Ubuntu Mono','Dejavu Sans Mono','Consolas',monospace;


html, body, section, .full-height {
  height: 100%;
}

body {
  background: $preview-background;
  font-family: $sans-serif !important;
  font-size: 13.5px;
  resize: both;
  overflow: hidden;
}

*:focus {
  outline: none;
}

#editArea {
  height: -webkit-calc(100% - 28px);
  padding: 0 15px;
}

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.0175em;
  color: $text-color;
  margin-right: 6px;
  margin-bottom: 5px;
}

#pad {
  font-family: $monospaced;
  border: 0;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#draggable {
  position: absolute;
  height: 26px;
  width: -webkit-calc(100% - 125px);
  top: 0;
  right: 80px;
  z-index: 99999999;
}

#menuToggle {
  position: absolute;
  top: -1.65%;
  left: 0.3%;
  outline: none !important;
  cursor: pointer;
  z-index: 900;
  button {
    display: block;
    font-size: 1.95em;
    background: transparent;
    color: rgba(255,255,255,0.07);
    border: 0;
    outline: none !important;
    transform: scale(1);
    transition: color 1000ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
    transition: all 200ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
    padding: 3px 4px 0;
    z-index: 99;
    &:hover {
      color: $text-subtle-color;
    }
    &:active, &:visited {
      transform: scale(0.85);
    }
  }
  &:hover {
    color: $text-color;
  }
}

#metacity {
  position: absolute;
  top: -2px;
  right: 0.25%;
  z-index: 1000;
  .window-button {
    display: inline-block;
    background: transparent;
    outline: none;
    border: 0;
    margin: 3px 0;
    padding: 2px 0.75px;
    float: right;
    img {
      display: inline-block;
      width: 20px;
      height: auto;
      padding: 2px 3px 2px 4px;
      opacity: 1;
      overflow: visible;
      background-size: cover;
      transition: opacity 200ms ease-in-out;
    }
    .hover {
      position: fixed;
      top: 5px;
      width: 20px;
      height: auto;
      padding: 2px 3px 2px 4px;
      overflow: visible;
      background-size: cover;
      transition: opacity 200ms ease-in-out;
      z-index: -1;
    }
    .active {
      position: fixed;
      top: 5px;
      width: 20px;
      height: auto;
      padding: 2px 3px 2px 4px;
      overflow: visible;
      background-size: cover;
      transition: opacity 200ms ease-in-out;
      z-index: -1;
    }
    &:hover {
      .inactive {
        opacity: 0;
      }
    }
    &:active {
      .inactive {
        opacity: 0;
      }
      .hover {
        opacity: 0;
      }
    }
  }
  #close {
    margin-right: 9px;
    float: right;
  }
}

#appMenu {
  position: fixed;
  // background: -webkit-linear-gradient(top, #222 0%, #2a2a2a 40%, #121212 150%), -webkit-linear-gradient(bottom, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.25) 200%);
  // background-image: -webkit-linear-gradient(top, #323232 1%, #2d2c2b 25%, #252423, #1a1918);
  background: -webkit-linear-gradient(top, #2f2f2f 5%, #282726 40%, #262524 60%, #191817 90%);
  background-blend-mode: multiply;
  color: $text-color !important;
  font-size: 11px;
  width: 100%;
  height: 27px;
  top: 0;
  left: 0;
  border: 1px outset #2b2d30;
  border-bottom: 1px solid #212121;
  // box-shadow: 0 1px 20px rgba(0,0,0,0.3);
  transition-delay: 3s;
  transition: top 5000ms ease;//cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 999;
  :focus, :active:focus,.active:focus,
  .focus,:active.focus,.active.focus {
    outline: none !important;
  }
  .hidden {
    top: -23px;
    transition-delay: 3s;
    transition: top 5000ms ease;//cubic-bezier(0.17, 0.04, 0.03, 0.75);
  }
  .btn-group {
    font-size: 11px;
    top: 1px;
    height: 100%;
    &:first-child {
      margin-left: 6px;
    }
    .dropdown-toggle {
      display: inline-block;
      background: -webkit-linear-gradient(top, #2d2d2d 5%, #262524 40%, #222120, #121110);
      color: rgba(255,255,255,0.5);
      font-size: 11px;
      font-weight: 300;
      letter-spacing: 0.08em;
      height: 23px;
      width: 40px;
      top: -0.5px;
      border-radius: 2px;
      white-space: nowrap;
      border: 1px outset #6a6a6a;
      border-left: 1px outset #37393d;
      border-top: 0;
      border-bottom: 0;
      padding: 2px 0;
      transition: all 0.0145s 0.02s ease-out;
      &:hover {
        // background: transparent;
        color: $text-color;
      }
    }
    &.open {
      .dropdown-toggle {
        // background: #323131;
        background: #343234;
        color: $text-color;
        border: 1px inset #434443;
        border-right: 0;
        box-shadow: inset 0 0 4px rgba(0,0,0,0.25);
      }
    }
    .dropdown-menu {
      // background-color: #2c2b2b;
      background-color: #343234;
      color: rgba(255,255,255,0.65);
      font-size: 11px;
      min-width: 170px;
      top: 95%;
      box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.35);
      border-top-left-radius: 0;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin: 0;
      padding: 3px 0;
      cursor: pointer;
      z-index: 9;
      li {
        height: 24px;
        padding: 2px 0;
        cursor: pointer;
        transition: all 100ms ease-in;
        a {
          display: inline;
          position: relative;
          background-color: transparent;
          color: rgba(255,255,255,0.65);
          font-size: 11px;
          font-weight: 300;
          letter-spacing: 0.09em;
          text-decoration: none !important;
          top: 2px;
          padding: 3px 15px 3px 10px;
          &:hover, &:active {
            color: $text-emphasis-color;
          }
        }
        span {
          display: inline;
          position: relative;
          color: rgba(255,255,255,0.3);
          font-size: 10px;
          font-weight: 200;
          text-align: right;
          right: 10px;
          float: right;
          margin-top: 2px;
          padding-top: 1.5px;
        }
        &:hover, &:active {
          background: #2f2b2c;
          box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
          a {
            color: $text-emphasis-color;
          }
          span {
            font-weight: 400;
            color: saturate(lighten($accent-color, 2%), 16%);
          }
        }
      }
      .dropdown-divider {
        height: 0;
        width: 98%;
        border-top: 1px solid rgba(0,0,0,0.25);
        margin: 2px auto;
        padding: 0;
        &:hover {
          background: none;
          border-radius: 0;
          border-top: 1px solid rgba(0,0,0,0.15);
          box-shadow: none;
        }
      }
      .caret {
        color: fade($text-subtle-color, 10%);
        float: right;
        margin: 7px 9px 0 0 !important;
      }
    }
  }
}

.caret {
  color: fade($text-subtle-color, 10%);
  float: right;
  margin: 4px 9px 0 0 !important;
}

.dropdown-submenu {
  position: relative;
  // background-color: #2c2b2c;
  // background-color: #3d3a3b;
  color: rgba(255,255,255,0.65);
  font-size: 11px;
  top: 82%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 0;
  .sub {
    top: -3px !important;
    border-radius: 3px !important;
    li > a {
      color: rgba(255,255,255,0.65) !important;
    }
  }
  .dropdown-menu {
    top: 0;
    left: 99.55%;
    max-height: 1500%;
    margin-top: 1px;
    overflow-y: auto;
    z-index: -9;
    li {
      padding: 2px 0;
      a {
        display: inline;
        background-color: transparent;
        color: rgba(255,255,255,0.65);
        font-size: 11px;
        letter-spacing: 0.06em;
        text-decoration: none !important;
        padding: 3px 15px 3px 10px;
        &:hover, &:focus, &:active {
          color: $text-emphasis-color;
        }
      }
      span {
        display: inline;
        position: relative;
        color: rgba(255,255,255,0.2);
        font-size: 10px;
        font-weight: 200;
        text-align: right;
        right: 10px;
        float: right;
        padding-top: 1.5px;
      }
      &:hover, &:active {
        background: #3a393b;
        box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
        a {
          color: $text-emphasis-color;
        }
        span {
          font-weight: 400;
          color: saturate(lighten($accent-color, 2%), 20%);
        }
      }
    }
  }
}

#buttons {
  display: inline-block;
  color: $text-color;
  font-size: 12px;
  height: 30px;
  padding: 0 9px;
  > button {
    background-image: -webkit-linear-gradient(#454746, #242625);
    color: $text-color;
    border: 1px outset #4a4f4d;
    border-radius: 4px;
    margin-right: 2px;
    padding-bottom: 3px;
    > img {
      height: 12px;
      width: 12px;
      margin: 0 5px 3px -1px;
    }
  }
}

.toolbar-buttons {
  a {
    position: relative;
    top: 0;
    vertical-align: middle;
    border: 1px outset #4a4f4d;
    box-shadow: 0.5px 1px 3px rgba(0,0,0,0.3);
    margin-right: 1.5px;
    padding: 3.5px 5px 5px 4.25px;
    transition: top 100ms ease-in-out;
    transition: color 200ms ease-in-out;
    &::before {
      text-align: center;
      vertical-align: middle;
    }
    &:hover {
      color: $text-emphasis-color !important;
      border-color: #4a4f4d;
    }
    &:active, &:focus {
      background: #333;
      border: 1px inset #454443;
      box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
      transform: translateY(0.5px);
    }
  }
  [data-tooltip]:hover::after {
    top: 150% !important;
    left: 20% !important;
    font-weight: 300;
    transition: opacity 200ms linear 1s;
  }
}

.bottom-bar {
  position: absolute;
  // background: -webkit-linear-gradient(top, #282628 0%, #2b2a2b 30%, #191919 150%), -webkit-linear-gradient(bottom, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.025) 200%);
  background: -webkit-linear-gradient(top, #1d1d1d 12%, #212021 45%, #141414 100%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.025) 200%);
  background: -webkit-linear-gradient(top, #232223 45%, #141414 100%), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.025) 200%);
  background-blend-mode: multiply;
  color: #b6b5b4;
  font-size: 11px;
  height: 28px;
  width: 100%;
  bottom: 0;
  left: 0;
  // border: 1px outset #2d2c2c;
  box-shadow: 0 -0.25px 10px rgba(0, 0, 0, 0.65);
  padding: 3px 0 2px;
  z-index: 1010;
  resize: both;
  div {
    letter-spacing: 0.025em;
    cursor: default;
  }
  label {
    display: inline-block;
    position: absolute;
    color: #b6b5b4;
    font-size: 12px;
    font-weight: 600;
    right: 1%;
    margin: 4px 5px;
  }
  button {
    position: absolute;
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none !important;
  }
  #bottomFile {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 3px;
    bottom: 2px;
    margin: 0 4px 0 12px;
  }
  #fileStatus {
    display: inline-block;
    position: relative;
    color: $accent-color;
    font-size: 14px;
    top: 2px;
    left: -1px;
    line-height: 0.5;
    visibility: hidden;
  }
  #wordCount {
    display: inline-block;
    position: relative;
    font-size: 11px;
    top: 3px;
    left: 0;
    bottom: 2px;
    margin: 0 6px 0 15px;
  }
  #draggable {
    position: absolute;
    height: 100%;
    width: -webkit-calc(100% - 240px);
    top: 0;
    left: 17%;
  }
  .bottom-icons button {
    top: 2px;
  }
  #syncScrollToggle {
    font-size: 14.5px !important;
    right: 2.5em !important;
    margin-top: 2.5px !important;
    &::after {
      top: -190% !important;
      right: 0 !important;
      left: auto !important;
      transition: opacity 200ms linear 1s !important;
    }
  }
  #previewToggle {
    font-size: 17.5px;
    right: 0.35em;
    margin-top: -0.5px;
    &::after {
      top: -150%;
      right: 0;
      left: auto;
      opacity: 0;
      transition: opacity 200ms linear 1s;
    }
    &:hover::after {
      opacity: 0.9;
      transition: opacity 200ms linear 1s;
    }
  }
}

input[type='checkbox'] {
  display: inline-block;
  position: relative;
  left: 23px;
  opacity: 0;
  + label {
    color: $text-color;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 6px 3px 5px;
      vertical-align: middle;
      background: url('../img/buttons/checkbox.png') -2px top no-repeat;
      cursor: pointer;
    }
  }
  + span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 6px 3px 5px;
    vertical-align: middle;
    background: url('../img/buttons/checkbox.png') -2px top no-repeat;
    cursor: pointer;
  }
  &:checked + label span {
    background: url('../img/buttons/checkbox.png') -33px top no-repeat;
  }
  &:checked + span {
    background: url('../img/buttons/checkbox.png') -33px top no-repeat;
  }
}

.trigger {
  position: absolute;
  display: inline-block;
  background: transparent;
  margin: 0;
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 999;
  &.top {
    height: 12px;
    width: 100%;
    top: 26px;
    left: 0;
  }
  &.left {
    height: 100%;
    width: 12px;
    left: 0;
  }
  &.right {
    height: 100%;
    width: 12px;
    right: 0;
  }
  &:hover {
    .trigger-button {
      visibility: visible !important;
      cursor: pointer;
      i {
        width: 20px;
        visibility: visible !important;
      }
    }
  }
}

.trigger-button {
  position: absolute;
  background: #302e2f;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: 1px solid  #3a3839;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.7);
  i {
    display: block;
    position: relative;
    font-size: 1em;
    top: -webkit-calc(50% - 0.4em);
    left: 65%;
    &::before {
      color: rgba(255,255,255,0.8);
		}
	}
}

#sideButton {
  top: -webkit-calc(50% - 50px);
  left: -210%;
}

#sidebar {
  display: block;
  position: absolute;
  // background-image: -webkit-linear-gradient(#343233 40%, #292728);
  background-image: -webkit-radial-gradient(top, circle cover, #343233 30%, #292728 90%);
  color: $text-color;
  height: 100%;
  width: 240px;
  top: 0;
  left: -250px;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 999;
}
#sideLogo {
  position: relative;
  width: 68%;
  height: auto;
  left: 0;
  margin: 25px 16% 17px;
  opacity: 0.9;
}
#sideMenu {
  position: relative;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 0.025em;
  list-style: none;
  top: 1.5%;
  padding: 0;
  li {
    text-align: center;
    padding: 2px 0;
    a {
      color: rgba(255,255,255,0.65);
      transition: all 300ms linear;
      cursor: pointer;
      &:hover, &:active {
        color: rgba(255,255,255,0.7);
        font-weight: 300;
        text-decoration: none;
      }
    }
    &::after {
      display: block;
      position: relative;
      content: '';
      background: rgba(255,255,255,0.085);
      height: 1px;
      width: 200px;
      border: 0;
      box-shadow: 0 2px 4px rgba(0,0,0,0.4);
      margin: 3px auto;
      padding: 0;
    }
  }
}
#sidebarIcons {
  width: 40%;
  text-shadow: 0 2px rgba(0,0,0,0.2);
  margin: 55px 72px 8px;
  padding: 0;
  li {
    position: relative;
    font-size: 25px;
    color: rgba(255,255,255,0.3);
    padding-right: 13px;
    cursor: pointer;
    &:first-child {
      font-size: 27.5px;
      top: 0;
      padding-right: 10px;
    }
    &:last-child {
      font-size: 22px;
      top: -1px;
      padding-right: 0;
    }
    &:hover, &:active {
      color: #888;
    }
    &:hover::after {
      visibility: visible;
    }
    &::after {
      position: absolute;
      top: 125%;
      left: 25%;
      visibility: hidden;
      transition: visibility 1s ease;
    }
  }
}

#settingsMenu {
  display: block;
  position: absolute;
  // background-image: -webkit-linear-gradient(#313031 10%, #2a2a2a);
  background-image: -webkit-radial-gradient(top, circle cover, #323031 22%, #2b292a 80%);
  // background-image: -webkit-radial-gradient(top, circle cover, #343233 25%, #292728 80%);
  background-blend-mode: multiply;
  color: $text-color;
  height: -webkit-calc(100% - 22px);
  // width: 310px;
  width: 300px;
  top: 0;
  left: -330px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
  transition: left 500ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  margin-bottom: 30px;
  padding: 12px 8px 30px 16px;
  outline: none !important;
  cursor: default;
  z-index: 1005;
  &:focus, &.active {
    background: #fff !important;
  }
  .title {
    display: none;
    position: fixed;
    background: -webkit-linear-gradient(top, #323031 73%, transparent);
    top: 0;
    width: 280px;
    padding: 14px 0 8px;
    vertical-align: middle;
    z-index: 99999;
    img {
      display: inline-block;
      height: 36px;
      width: auto;
      margin: -11px 12px 13px 2px;
    }
    h2 {
      display: inline-block;
      font-size: 48px;
      font-weight: 200;
      margin-top: 7px;
      margin-bottom: 12px;
    }
  }
  .settings-section {
    position: relative;
    top: 80px;
    padding: 2px 0 6px 17px;
    h3 {
      color: rgba(255,255,255,0.775);
      font-size: 30px;
      font-weight: 200;
      margin-top: 4px;
      margin-left: -3px;
      margin-bottom: 10px;
    }
    ul {
      color: rgba(255,255,255,0.65);
      list-style: none;
      padding-left: 10px;
      li {
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.05em;
        line-height: 2.1;
        margin-bottom: 4px;
        cursor: default;
        .btn-group {
          position: absolute;
          font-size: 16px;
          left: 45.5%;
          max-width: 50%;
          .filter-option {
            position: relative;
            font-size: 13.5px;
            font-weight: 300;
            letter-spacing: 0.055em;
            top: 2px;
          }
          .btn.btn-default {
            background: -webkit-linear-gradient(top, #3d3c3d, #2a292a);
            color: $text-color;
            top: 3px;
            left: -4px;
            height: 29px;
            letter-spacing: 0.04em;
            border: 1px outset #3c3c3c;
            box-shadow: 1.5px 0.75px 4px rgba(0, 0, 0, 0.2), inset 0 0 2px 1px rgba(0, 0, 0, 0.35), inset 0 1px 1px 1px rgba(255, 255, 255, 0.1);
            padding: 1px 8px 0 11px;
            transition: all 250ms ease-in-out;
            outline: none !important;
            &:hover, &:focus, &:active {
              color: rgba(255,255,255,0.85);
            }
          }
          .caret {
            position: relative;
            top: -13px;
            left: 8px;
          }
        }
        .btn-group.open {
          z-index: 999;
        }
      }
      .select {
        margin-bottom: 7px;
      }
    }
    hr {
      position: relative;
      background: rgba(255,255,255,0.06);
      height: 1px;
      left: -4px;
      border-top: 0;
      box-shadow: 0 2px 3px rgba(0,0,0,0.45);
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
  .dropdown-menu {
    background: #353335;
    color: rgba(255,255,255,0.6);
    top: 34px;
    left: -4px;
    border: 1px solid #353335;
    padding: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
    z-index: -9;
    ul {
      padding-left: 0;
      li {
        &:hover, &:active, &:focus {
          background: #3b393a;
        }
        a {
          color: rgba(255,255,255,0.6);
          font-size: 14px;
          font-weight: 300;
          padding: 3px 12px;
          &:hover, &:active, &:focus {
            background: #323032;
            color: $accent-color;
            font-weight: 400;
            outline: none !important;
          }
          &:hover {
            background: #2f2d2f;
            // box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
          }
        }
      }
    }
  }
  .input-group.spinner {
    position: relative;
    display: inline-block;
    left: 16px;
    width: 25% !important;
    vertical-align: middle;
    .form-control {
      background: #3c393a;
      color: rgba(255,255,255,0.7);
      font-weight: 300;
      left: 0;
      height: 26px;
      border: 1px inset #403e3f;
      border-radius: 6px;
      box-shadow: inset 0 0 5px rgba(0,0,0,0.35), 0 0.25px 4px rgba(255,255,255,0.15);
      padding: 1px 0 0 7px;
      z-index: -99;
    }
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    top: 1px;
    left: -16.5px;
    width: 0;
    vertical-align: middle;
    .btn {
      display: block;
      position: relative;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 5.75px 7.5px;
      margin-left: -1px;
      border: 1px outset #4b4a4c;
      border-radius: 0;
      box-shadow: -1px 0 6px rgba(0,0,0,0.3);
      outline: none !important;
      &:first-child {
        // background: #262626;
        background: -webkit-linear-gradient(bottom, #222 5%, #2e2c2d, #2e2c2d 90%);
        border-top-right-radius: 6px;
      }
      &:last-child {
        background: -webkit-linear-gradient(top, #222 5%, #2e2c2d, #2e2c2d 90%);
        border-bottom-right-radius: 6px;
        margin-top: -2px;
      }
      &:active i {
        color: $accent-color;
      }
    }
    i {
      position: absolute;
      color: rgba(255,255,255,0.5);
      font-size: 11px;
      top: -0.7px;
      left: 4.5px;
    }
  }
  .menu, .input {
    line-height: 38px;
    vertical-align: middle;
  }
  .toggle {
    position: relative;
    left: -5px;
    margin-bottom: 2px;
    cursor: default;
    label {
      cursor: pointer;
    }
    input[type='checkbox'] {
      height: 20px;
      width: auto;
      margin: 4px 5px -9px -10px;
      cursor: pointer;
    }
    input[type='checkbox'] + span {
      margin: 1.5px 10px 5px 0;
    }
    &:hover::after {
      transition: all 600ms ease;
    }
  }
  hr {
    position: relative;
    border-top: 1px outset rgba(255,255,255,0.125);
    left: -4px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 15px;
    cursor: grab;
  }

  .input-group.spinner {
    position: relative;
    display: inline-block;
    left: 16px;
    width: 25% !important;
    vertical-align: middle;
    .form-control {
      background: #3c393a;
      color: rgba(255,255,255,0.7);
      font-weight: 300;
      left: 0;
      height: 26px;
      border: 1px inset #403e3f;
      border-radius: 6px;
      box-shadow: inset 0 0 5px rgba(0,0,0,0.35), 0 0.25px 4px rgba(255,255,255,0.15);
      padding: 1px 0 0 7px;
      z-index: -99;
    }
  }

  // [data-tooltip]:hover:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   background-image: -webkit-linear-gradient(top, #444345, #383736);
  //   width: 0;
  //   left: 3.75em;
  //   bottom: -0.45em;
  //   border: 1em solid #444345;
  //   border-left: 1em solid transparent;
  //   border-right: 1em solid transparent;
  //   border-bottom: 1em solid transparent;
  //   transform: rotate(180deg);
  //   transition: opacity 200ms linear 1.25s;
  //   opacity: 0.9;
  //   z-index: 9999;
  // }

  [data-tooltip]:hover::after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background-image: -webkit-linear-gradient(top, #444345, #383736);
    color: $text-color;
    font-family: $sans-serif;
    font-size: 12.5px;
    font-weight: 300;
    letter-spacing: 0.07em;
    line-height: 1.55;
    top: 98%;
    left: 22%;
    max-width: 100%;
    border-radius: 8px;
    padding: 4px 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    white-space: normal;
    transition: opacity 225ms linear 1.25s;
    // z-index: 99;
  }
}

#settingsTrigger {
  left: -310px;
  div {
    left: -210%;
  }
}

#toolbar {
  display: none;
  position: fixed;
  background-image: -webkit-linear-gradient(top, #343134, #2c2a2c);
  top: 0;
  left: 0;
  width: 50%;
  height: 34px;
  border-bottom: 1px #2a2a2a solid;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transition: width 600ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  z-index: 950;
}

.top-fade {
  position: absolute;
  top: 0;
  height: 35px;
  width: -webkit-calc(100% - 11px);
  transition: width 0ms !important;
  z-index: 100;
}

#textPanel {
  font-family: $monospaced;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  text-rendering: geometricPrecision;
  > div {
    font-size: 11.5px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 0 0 30px;
  }
  #markdownText {
    background: transparent;
    outline: none;
    border: 0;
    resize: none;
  }
}

#leftPanel {
  position: absolute;
  left: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px);
  transition: width 700ms cubic-bezier(0.17, 0.04, 0.03, 0.75);
  .top-fade {
    top: 0;
    left: 0;
    transition-duration: 0ms;
  }
}

.CodeMirror {
  font-size: 0.9em;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

#rightPanel {
  position: absolute;
  right: 0;
  width: 50%;
  height: -webkit-calc(100% - 28px);
  transition: 700ms cubic-bezier(0.17, 0.04, 0.03, 0.55);
  .top-fade {
    background-image: -webkit-linear-gradient(top, $preview-background 10%, transparent);
    right: 10px;
  }
}

#previewPanel {
  background: $preview-background;
  font-family: $preview-font;
  height: 100%;
  width: 100%;
  padding: 20px 15px 27px;
  margin-top: 0.5px;
  overflow-y: auto;
  text-rendering: geometricPrecision;
  input[type='checkbox'] {
    color: #000;
    left: 0;
    opacity: 1;
    &[disabled] {
      cursor: default;
    }
  }
  [data-tooltip]:hover::after {
    display: inline-flex;
    position: absolute;
    background: rgba(#424140, 0.7);
    color: rgba(#fff, 0.85);
    font-family: $sans-serif;
    font-size: 11.5px;
    top: auto;
    left: auto;
    border-radius: 4px;
    border-color: rgba(#666, 0.7);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.7);
    margin-top: 1.9em;
    margin-left: -4em;
    padding: 0 4px;
    opacity: 1 !important;
  }
}

.editor-toolbar {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: rgba(255,255,255,0.55) !important;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  line-height: 24px;
  padding: 4px 10px 0 6px;
  &:hover {
    border-color: #95a5a6;
    color: $text-emphasis-color !important;
  }
  &.active {
    color: $text-emphasis-color !important;
  }
  &.inactive {
    color: $text-subtle-color !important;
  }
}

.separator {
  display: inline-block;
  width: 0;
  border-left: 2px outset #3f3e3c;
  border-right: 1px outset #2f2e2c;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

// .toolContainer {
//   width: 16px;
//   float: left;
//   margin: 3.5px 5px 0 0;
// }

// Text input fields
.form-group {
  margin-left: -5px;
  margin-bottom: 5px;
  label {
    color: rgba(255, 255, 255, 0.65);
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.035em;
    line-height: 2.1;
    margin-bottom: 0;
  }
  input[type='text'] {
    background: #3c393a;
    color: rgba(255,255,255,0.6);
    letter-spacing: 0.03em;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);
    border: 1px inset #3d3d3d;
    border-radius: 12px;
    padding: 5px 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }
}

#editMenu {
  min-width: 175px !important;
}

#viewMenu {
  min-width: 195px !important;
}

@mixin gradientBg($direction, $start-color, $end-color) {
  background: $start-color;
  background: -webkit-linear-gradient($direction,  $start-color 0, $end-color 80%,$end-color 100%);
  background: linear-gradient($direction,  $start-color 0, $end-color 80%,$end-color 100%);
}

.bg-gradient1 span,
.bg-gradient1::before {
  @include gradientBg(180deg, #3e3d3c, #2f2e2d);
}

.cm-header {
  letter-spacing: 0.025em;
}

// When trialing whitespace is visible
.cm-trailingspace,
.cm-trailing-space-a,
.cm-trailing-space-new-line {
  color: rgba(255,255,255,0.1) !important;
  text-decoration-style: solid;
}

.search-dialog {
  position: absolute;
  background: #302f2e;
  top: 90%;
  left: 0;
  width: 50%;
  height: 50px;
  border: 1px outset #424140;
  border-radius: 5px;
  z-index: 999;
  visibility: hidden;
  #searchIcon {
    position: relative;
    background: transparent;
    color: rgba(255,255,255,0.6);
    top: 8.5%;
    left: 2.5%;
    width: 5%;
    height: auto;
    text-shadow: 4px 0 1px rgba(0,0,0,0.6);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(right, #4d4c4b, #252423);
  // border: 1px solid #3a3938;
  border-radius: 15px;
}

#htmlPreview {
  display: none;
  background: $preview-background;
  color: #2a2a2a;
  font-family: $preview-font;
  letter-spacing: 0.0375em;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  border: 0;
  word-wrap: break-word;
  text-rendering: geometricPrecision;
  padding: 0 20px;
  overflow-y: auto;
  outline: none !important;
  resize: none;
}

// [data-tooltip]:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background-image: -webkit-linear-gradient(top, #333132, #323130);
//   width: 0;
//   left: 1em;
//   bottom: 0.75em;
//   border: 1em solid #323130;
//   border-left: 1em solid transparent;
//   border-right: 1em solid transparent;
//   border-bottom: 1em solid transparent;
//   transition: opacity 200ms linear 1.25s;
//   opacity: 0;
//   z-index: 9999;
// }

[data-tooltip]::after {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  color: $text-color;
  font-family: $sans-serif;
  font-size: 12px;
  letter-spacing: 0.055em;
  border-radius: 4px;
  white-space: nowrap;
  margin-left: -5px;
  padding: 4px 6px;
  opacity: 0;
  transition: opacity 200ms linear 1.25s;
  z-index: 20;
}

// [data-tooltip]:hover:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background-image: -webkit-linear-gradient(top, #383637, #373635);
//   width: 0;
//   left: 1em;
//   bottom: 0.75em;
//   border: 1em solid #323130;
//   border-left: 1em solid transparent;
//   border-right: 1em solid transparent;
//   border-bottom: 1em solid transparent;
//   transition: opacity 200ms linear 1.25s;
//   opacity: 1;
//   z-index: 9999;
// }

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  background-image: -webkit-linear-gradient(top, #333132, #323130);
  color: $text-color;
  font-family: $sans-serif;
  font-size: 12px;
  letter-spacing: 0.055em;
  left: 5%;
  top: -250%;
  border-radius: 4px;
  box-shadow: 0 0.5px 6px 0 rgba(0,0,0,0.7);
  white-space: nowrap;
  margin-left: -5px;
  padding: 4px 8px;
  border: 1px outset #444;
  opacity: 0.9 !important;
  transition: opacity 200ms linear 1.25s;
  z-index: 20;
}

.fa-link {
  color: rgba(255,255,255,0.65);
}

.fa-unlink {
  color: #666564;
}

.fa-eye {
  color: rgba(255,255,255,0.65);
}

.fa-eye-slash {
  color: #666564;
}

// Scale app typography according to device resolution
@media screen and (max-device-width: 2750px) {
  .CodeMirror pre {
    font-size: 0.95em;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 10.5px !important;
  }
}

@media screen and (max-device-width: 2000px) {
  .CodeMirror pre {
    font-size: 1em;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 11px !important;
  }
}

@media screen and (max-device-width: 1400px) {
  .CodeMirror pre {
    font-size: 1.05em;
  }
  .dropdown-toggle, .dropdown-menu, .dropdown-item,
  .bottom-bar > div {
    font-size: 12px !important;
  }
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  min-width: 51px;
  font-size: 17px;
  padding: 0 20px;
  border: 0;
  overflow: visible;
  width: 51px;
  height: 32px;
  z-index: 0;
  text-align: left;
}
.switch__input {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: -1;
}
.switch__toggle {
  background-color: #333;//#fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  box-shadow: inset 0 0 0 2px #151515;
}
.switch__handle {
  box-sizing: border-box;
  background-clip: padding-box;
  position: absolute;
  content: '';
  border-radius: 28px;
  height: 28px;
  width: 28px;
  background-color: #333;//#fff;
  left: 1px;
  top: 2px;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.59, 0.01, 0.5, 0.99);
  box-shadow: 0 0 0 1px #444, 0 3px 2px rgba(0,0,0,0.25);
}
.switch--active .switch__handle {
  transition-duration: 0s;
}
input:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px darken($accent-color, 10%);//#5198db;
  background-color: darken($accent-color, 10%);//#5198db;
}
input:checked + .switch__toggle .switch__handle {
  left: 21px;
  box-shadow: 0 3px 2px rgba(0,0,0,0.25);
}
input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch__touch {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
}
.switch.switch--material {
  width: 36px;
  height: 24px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0 10px;
  min-width: 36px;
}
.switch.switch--material .switch__toggle {
  background-color: #414141;//#b0afaf;
  margin-top: 5px;
  height: 14px;
  box-shadow: none;
}
.switch.switch--material .switch__input {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: -1;
}
.switch.switch--material .switch__handle {
  background-image: -webkit-radial-gradient(#333, #2e2e2e);
  left: 0;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  border: 1px outset #424242;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
}
.switch.switch--material input:checked + .switch__toggle {
  background: desaturate(darken($accent-color, 5%), 2%);//#77c2bb;
  box-shadow: none;
}
.switch.switch--material input:checked + .switch__toggle .switch__handle {
  left: 16px;
  background-color: #383838;//#009688;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.switch.switch--material input:disabled + .switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.switch.switch--material .switch__handle::before {
  background: transparent;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.1s linear;
}
.switch.switch--material.switch--active .switch__handle::before {
  box-shadow: 0 0 0 14px rgba(0,0,0,0.12);
}
.switch.switch--material.switch--active input:checked + .switch__toggle .switch__handle::before {
  box-shadow: 0 0 0 14px darken($accent-color, 10%);
}
.switch.switch--material .switch__touch {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -15px;
  right: -15px;
}
