<!-- Footer -->
<footer id="footer">
  <link rel="stylesheet" type="text/css" href="{{ fonts/fontawesome.min.css | prepend: site.baseurl }}"/>
  <div class="left-footer">
    <span><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://brettstevenson.io/">Brett Stevenson</a><br> &amp; the <a href="{{ 'credits.html' | prepend: site.baseurl }}">contributors</a></span>
  </div>
  <div class="os-section">
    <span>Supported platforms: </span>
    <div class="os-icons">
      <a href="{{ '/download/' | prepend: site.baseurl }}"><img alt="macOS" src="./images/mac_white.png"/></a>
      <a href="{{ '/download/' | prepend: site.baseurl }}"><img alt="windows" src="./images/windows_white.png"/></a>
      <a href="{{ '/download/' | prepend: site.baseurl }}"><img alt="linux" src="./images/linux_white.png"/></a>
    </div>
  </div>
</footer>
