{% if page.layout == 'page' %}
<header id="header" class="header alt">
  <div class="wrapper-head">
{% else %}
<header id="header" class="header">
  <div class="wrapper-head">
{% endif %}
  <nav class="site-nav">
    <a class="page-link" href="{{ site.baseurl }}">home</a>
    {% assign sorted_pages = site.pages | sort: 'key' | reverse %}
    {% for page in sorted_pages %}
      {% if page.title %}{% unless page.options contains 'nomenu' %}
        <a class="page-link" href="{{ page.permalink | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endunless %}{% endif %}
    {% endfor %}
    </nav>
  </div>
</header>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
