<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <title>{% if page.title %}
    {{ page.title | append: " - Hyde" | escape | truncate: 60 }}
  {% else %}
    {{ site.title | escape }}
  {% endif %}</title>
  <meta name="description" content="{% if page.desc %}{{ page.desc | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>

  <link rel="shortcut icon" type="image/png" href="{{ site.favicon | prepend: site.baseurl }}"/>
  <link rel="stylesheet" type="text/css" href="{{ 'css/main.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" type="text/css" href="{{ 'fonts/fontawesome.min.css' | prepend: site.baseurl }}"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
</head>
