// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Variables
$base-line-height:                    1.5em;
$horizontal-spacing-unit:              50px;
$vertical-spacing-unit:                40px;
$nav-height:                         3.25em;

// portfolio tinkering
$img-spacing:                           5px;
$img-height:                          275px;
$caption-font-size:                    12px;

// Colors
$red:  #ff3636;
$orange: #f29105;
$blue: #2698ba;
$green: #11d68b;
$lime-green: #b7d12a;
$purple: #b509ac;

$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color: #666;

// Set theme color
// $theme-color: $red;


/****************************************************************/

// Basic styling
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: _font(ctrl-family);
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 100;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

// Set `margin-bottom` to maintain vertical rhythm
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $vertical-spacing-unit / 2;
}

.alignright {
  float: right;
}

a {
  text-decoration: none;
}

hr {
  /* Inset, by Dan Eden */
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



// Lists
ul, ol {
  margin-left: $horizontal-spacing-unit;
}

li {
  ul, ol {
    margin-bottom: 0;
  }
}


// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}


// Links
// a {
//     color: $text-color;
//     text-decoration: none;
//    &:visited {
//        color: darken($brand-color, 15%);
//    }
//     &:hover {
//         color: $theme-color;
//         text-decoration: none;
//     }
// }
// article a {
//   color: $theme-color;
//   font-weight: 100;
//   &:hover {
//     text-decoration: none;
//   }
// }



// Blockquotes
blockquote {
  color: $text-color;
  border-left: 10px solid $grey-color-light;
  padding-left: $horizontal-spacing-unit / 2;
  font-size: 18px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



// Code formatting
pre, code {
  font-size: 15px;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 10px 12px;
  overflow-x: scroll;
  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
.highlighter-rouge .highlight {
  background: #222527 !important;
}


// Wrapper
.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: calc($horizontal-spacing-unit/3);
  padding-left: calc($horizontal-spacing-unit/3);
  @extend %clearfix;

  // @include media-query($on-laptop) {
  //   max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
  //   max-width:         calc(800px - (#{$horizontal-spacing-unit}));
  //   padding-right: $spacing-unit / 0;
  //   padding-left: $spacing-unit / 0;
  //   .gradient {
  //     top: 2em;
  //     height: 110%;
  //   }
  // }
}


// Clearfix
%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
