@import 'libs/functions';
@import 'libs/skel';
@import 'libs/mixins';
@import 'libs/vars';
@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$bg-light: #fff;
$bg-dark: #292C33;

.cf {
  @include clearfix;
}

* {
  text-shadow: transparent 0 0 0, rgba(0,0,0,0.28) 0 0 0 !important;
}

main {
  display: block;
}

html {
  background-color: _palette(accent1, bg);
}

body {
  @include font-feature-settings('liga', 'dlig');
  font-family: _font(ctrl-family);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

/**
* Site header   **********************************************************
*/
.header.alt {
  @include vendor('transition', 'background-color #{_duration(.8s)} ease');
  @include vendor('transition', 'color #{_duration(.8s)} ease');
  display: block;
  border: 0;
  line-height: 3em;
  left: 0;
  top: 0;
  height: 3.25em;
  width: 101%;
  z-index: 9999;
  .page-link {
    color: rgba(255,255,255,0.55);
    &:hover, &:active {
      color: rgba(255,255,255,0.9);
  	}
  }
  .logo img {
    position: relative;
    height: 1.8em;
    width: auto;
    float: left;
    top: 18px;
    left: -58px;
    opacity: 0.7;
	}
}

.header {
  @include vendor('transition', 'background-color #{_duration(.2s)} ease');
  display: block;
  color: mix(#000, #fff, 50%);
  // font-size: 1.35em;
  font-size: 2.02vw;
  font-weight: 300;
  line-height: 3em;
  left: 0;
  top: 0;
  height: 2.5em;
  width: 100%;
  z-index: 9999;
  .logo {
    display: inline-block;
    position: relative;
    float: left;
    left: 4%;
    a {
      display: inline-block;
      height: 2.5em;
      width: auto;
		}
	}
}

.site-title {
  font-size: 20px;
  line-height: $nav-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  &:hover {
    text-decoration: none;
    // color: $theme-color;
	}
}

.section-title {
  margin: 0.5em 0;
}

.site-nav {
  position: absolute;
  float: right;
  line-height: $nav-height;
  right: 3.5%;
  margin-top: 4px;
  z-index: 999;
  .page-link {
    display: inline-block;
    color: rgba(55,58,65,0.4);
    line-height: $base-line-height;
    text-align: center;
    text-transform: lowercase;
    transition: color 250ms cubic-bezier(0.84, 0.17, 0.23, 0.57), font-weight 250ms cubic-bezier(0.84, 0.17, 0.23, 0.57);
    &:not(:first-child) {
      margin-left: 10px;
		}
    &::after {
      display: inline-block;
      content: attr(title);
      font-weight: 400;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    &:hover, &:active {
      color: rgba(55,58,65,0.8);
      font-weight: 400;
		}
	}
  @include media-query($on-palm) {
    // position: fixed;
    top: 0;
    right: 10px;
    text-align: right;
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
		}
    .page-link {
      display: line;
		}
	}
}

.title-container {
  display: block;
  position: relative;
  background: transparent;
  opacity: 0.75;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  padding-left: 5%;
  // padding-top: 5px;
  line-height: 2.5em;
  z-index: 25;
  h1 {
    font-family: _font(hdr-family);
    color: #01040a;
    font-size: 150px;
    font-weight: 500;
    line-height: 1.15;
	}
  h3 {
    font-family: _font(hdr-family);
    // font-size: 33px !important;
    font-size: 3.05vw !important;
    color: #101319;
    padding-left: 15px;
  }
  &.landing {
    line-height: 2em;
    h1 {
      // font-size: 200px;
      font-size: 18.5vw;
    }
    h3 {
      position: relative;
      // font-size: 33px !important;
      font-size: 3.05vw !important;
      left: 5px;
		}
	}
}

.wrapper-head {
  margin: 0 45px;
}
.wrapper {
  background-color: rgb(41,44,51);
}
.wrapper.landing {
  background-color: #fcfbfe !important;
}

.editor-section {
  height: 114vh;
  padding-top: 0.5em;
  .editor-features {
    position: absolute;
    display: inline-block;
    color: #fff;
    opacity: 0.6;
    width: 47%;
    height: auto;
    // top: 27.5em;
    top: 62%;
    left: 4%;
    padding-left: 0;
    z-index: 9;
    .feature-list {
      list-style-image: url('./img/bullet.png');
  	}
  }
}

.gradient {
  @include background-image(linear-gradient(to top, #24282d 58%, rgba(41,44,51,0.915) 64%, rgba(41,44,51,0.8) 67%, rgba(41,44,51,0.2) 80%, rgba(41,44,51,0) 86%));
  position: absolute;
  // height: 155%;
  height: 152vh;
  width: 100%;
  top: 4%;
  left: 0;
  overflow: auto;
  z-index: 0;
}

.preview-section {
  margin: 1em 0 1.5em;
  .preview-features {
    position: absolute;
    display: inline-block;
    width: 47%;
    height: auto;
    top: 182.5%;
    left: 47%;
  }
}

.feature-list {
  list-style-image:  url('./img/bullet_dark.png');
  font-family: _font(ctrl-family);
  font-size: 2.15vw;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.035em;
  li {
    padding-left: 14px;
    padding-bottom: 20px;
    &::before {
      font-size: 1.65em;
		}
	}
}

.left-img {
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
  top: 4em;
  left: 0;
  right: 50%;
  #preview-img {
    position: relative;
    float: left;
    height: 125%;
    width: 125%;
    left: 0;
    right: 100%;
	}
}

.right-img {
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
  top: 1.75em;
  left: 50%;
  right: 0;
  #editor-img {
    position: relative;
    float: right;
    height: 125%;
    width: 125%;
    right: 0;
	}
}

.repo-icons {
  position: absolute;
  font-size: 54px;
  top: 250%;
  right: 17.5%;
  a {
    span {
      color: #373a3f !important;
      padding: 0 6px;
      opacity: 0.9;
    }
  }
  #github {
    position: relative;
    font-size: 58px;
    top: 1px;
    &:hover, &:active {
      span::before {
        color: #4489ce;
      }
    }
  }
  #heart {
    span {
      position: relative;
      top: 0;
    }
    &:hover, &:active {
      span::before {
        color: #ebc;
      }
    }
  }
  #bug {
    font-size: 53px;
    &:hover, &:active {
      span::before {
        color: #d66;
      }
    }
  }
}

.tag-line {
  color: #555;
  // font-size: 29px;
  font-size: 2.71vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  width: 75%;
  margin: 1em auto 3em;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2) !important;
  opacity: 0.7;
}

.install-content {
  text-align: center;
  background: #292c33;
  h3 {
    font-size: 2.85em;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    margin: 1.25em 0 1.5em;
	}
  .gradient {
    @include background-image(linear-gradient(to top, #292c33 5%, rgba(#292c33, 0.8) 20%, rgba(#292c33, 0.6) 40%, rgba(#292c33, 0) 80%));
    top: 12%;
    height: 405px;
	}
  .install-buttons {
    margin: 3em auto 0;
    padding-top: 0.75em;
    padding-bottom: 6.25em;
    .os-image {
      display: block;
      position: relative;
      top: 0;
      width: 50%;
      height: auto;
      margin: 0 auto 2%;
		}
    span {
      display: block;
      font-size: 2em;
      font-weight: 400;
      text-align: center;
      margin-top: 8px;
		}
	}
  .os-button {
    @include background-image(radial-gradient(rgb(43, 46, 53), rgb(39, 42, 49)));
    color: rgba(255,255,255,0.45);
    width: 22%;
    height: 235px;
    border: 1px outset rgba(81, 84, 91, 0.5);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin: 10px 2% 2em;
    padding: 0.5em 1em;
    transition: all 300ms ease-in-out;
    &:hover, &:active {
      @include background-image(radial-gradient(rgb(51, 54, 62), rgb(40, 43, 50)));
      color: rgba(255,255,255,0.9);
      box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
      outline: none !important;
      span {
        text-shadow: 1px 2px 12px rgba(0,0,0,0.65) !important;
      }
		}
    span {
      text-shadow: 1px 2px 6px rgba(0,0,0,0.45) !important;
    }
	}
}

/*
* Footer **********************************************************
*/
#footer {
  background-color: rgb(33,36,43);
  height: 100px;
  @include background-image(linear-gradient(to top, #1c1e22, #2c2f35));
  // text-align: center;
  box-shadow: 0 -3px 20px rgba(0,0,0,0.5);
  padding: 1.75em 3em 0.35em !important;
  .icons {
    list-style: none;
    font-size: 2.5em;
    margin: 0 0 0.75em;
    a {
      // color: $theme-color;
      &:hover {
        // color: mix(desaturate($theme-color, 20%), #fff, 75%);
			}
		}
    li {
      @include position(relative, null null null -3px);
      position: relative;
      padding: 0 0.75em 0 0;
      left: -3px;
		}
	}
  .contact-icon {
    display: block;
    position: relative;
    font-size: 30px;
    margin: 12px auto 15px;
    a {
      position: relative;
      color: _palette(accent1, fg-light);
      padding-right: 15px;
      opacity: 0.7;
      &:first-child {
        font-size: 1.05em;
      }
      &:nth-child(3) {
        font-size: 0.9em;
      }
      &:last-child {
        font-size: 27.5px;
        padding-right: 0;
        bottom: 1.5px;
			}
      &:hover, &:active {
        color: _palette(accent1, fg);
        // color: desaturate($theme-color, 40%);
        opacity: 0.75;
			}
		}
	}
  .copyright {
    color: _palette(accent1, fg-light);
    font-size: 0.65em;
    font-weight: 300;
    letter-spacing: _size(letter-spacing-alt) !important;
    list-style: none;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 1em;
    padding: 0;
    li {
      display: inline-block !important;
      border-left: solid 1px mix(#35393d, #fff, 80%) !important;
      line-height: _font(hdr-lheight-smaller) !important;
      padding: 1px 0 1px 1em !important;

      &:first-child {
        border-left: 0 !important;
        margin-left: 0;
        padding: 0 0.55em 0 0 !important;
			}

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: _palette(white);
				}
			}
      #jekyll:hover {
        color: desaturate(_palette(accent5, bg), 20%);
      }
		}
	}
  .os-section {
    display: inline-block;
    position: relative;
    width: 20%;
    left: 84%;
    span {
      display: block;
      color: #c9c9cc;
      font-size: 0.75em;
      letter-spacing: 0.045em;
      text-align: left;
    }
    .os-icons {
      margin-top: 4px;
      img {
        display: inline-block;
        position: relative;
        color: #a9a9ac;
        height: 2.25em;
        width: auto;
        padding: 0 7px;
        opacity: 0.4;
        &:first-child {
          margin-left: 1.25em;
        }
        &:nth-child(2) {
          height: 2.05em;
          top: 1px;
        }
        &:nth-child(3) {
          height: 2.15em;
          top: 1px;
        }
      }
    }
  }
}
@include breakpoint(xsmall) {
  display: block;
  border: 0;
  line-height: _font(hdr-lheight-normal);
  margin: 0;
  padding: 0.5em 0;
}

@include breakpoint(medium) {
  @include padding(4em 3em 4em 3em);
}

@include breakpoint(small) {
  @include padding(3em 2em 3em 2em);
}

strong {
  font-weight: 500;
}

pre {
  background: #2d2d2d;
  color: rgba(255,255,255,0.6);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.6);
  border: 1px inset #3f3f3f;
  border-radius: 14px;
  margin: 25px 60px 35px 30px !important;
  padding: 10px 14px 12px;
  overflow-x: auto;
}

kbd {
  @include background-image(linear-gradient(to bottom, rgba(75,78,85,0.85), rgba(50,53,60,0.85)));
  font-size: initial;
  border: solid 1px rgb(51,54,61);
  border-bottom-color: rgb(61,64,71);
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.45);
  margin: 0 2.5px;
  padding: 1px 5px 2px 6px;
}

.document {
  &.gradient {
    background: linear-gradient(to top, #292c33 54%, rgba(41,44,51,0.85) 60%, rgba(41,44,51,0.7) 64.5%, rgba(41,44,51,0.3) 74%, rgba(41,44,51,0) 87%);
    top: -6.5em;
    height: 145%;
	}
}

.page-title {
  position: relative;
  color: rgba(255,255,255,0.75);
  font-family: _font(hdr-family);
  font-size: 150px;
  font-weight: 500 !important;
  letter-spacing: 0.03em;
  line-height: 1;
  margin: 0.15em 0.4em 0.175em;
  text-shadow: 0 3px 10px rgba(0,0,0,0.3) !important;
}

.document-section {
  position: relative;
  // background: #292c33;
  color: rgba(255,255,255,0.65);
  padding: 2em 7%;
  h2 {
    color: rgba(255,255,255,0.7);
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    margin: 0.15em 0 0.75em;
    padding-left: 0 !important;
    text-shadow: 0 3px 10px rgba(0,0,0,0.3) !important;
	}
  h3 {
    color: rgba(255,255,255,0.6);
    font-size: 2.15em;
    font-weight: 300;
    margin-bottom: 0.5em;
	}
  p {
    letter-spacing: 0.05em;
    margin: 0.5em 1.5% 1.5em;
  }
  a {
    color: rgba(255,255,255,0.7);
    font-weight: 400;
    border-bottom: 1px none transparent;
    transition: 350ms ease-in-out;
    &:hover, &:active {
      border-bottom: 1px dotted rgba(255,255,255,0.6);
		}
	}

  .document-table {
    width: 95%;
    table-layout: fixed;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    margin: 20px;
    span {
      margin-top: 1.75em;
      margin-left: 3%;
		}
    th {
      background: rgba(255,255,255,0.035);
      color: rgba(255,255,255,0.6);
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.035em;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      border: solid 1px rgba(255,255,255,0.085);
      padding: 15px;
		}
    td {
      text-align: left;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.05em;
      color: rgba(255,255,255,0.6);
      border: solid 1px rgba(255,255,255,0.1);
      border-top: 0;
      padding: 9px 9px 9px 15px;
      span {
        color: rgba(255,255,255,0.4);
        margin-left: 0;
			}
		}
    tbody {
      background: rgba(0,0,0,0.02);
    }
    .table-shortcut kbd {
      @include background-image(linear-gradient(to bottom, rgba(55,58,65,0.8), rgba(45,48,55,0.85)));
      margin: 0;
      padding: 3px 7px;
    }
	}
  &.last-child {
    padding-bottom: 4.25em;
  }
}
hr {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 140%;
  left: -20%;
  border: 0;
  box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.2);
  margin-top: 5px;
}
// #table-ops {
//   float: left;
// }
// #table-format {
//   float: right;
// }

#TOC {
  position: relative;
  color: rgba(255,255,255,0.65);
  padding: 1.75em 7.5% 0.35em 10%;
  h3 {
    color: rgba(255,255,255,0.7);
    font-size: 2.35em;
    font-weight: 300;
    margin-bottom: 0.75em;
    text-shadow: 3px 5px 10px rgba(0,0,0,0.8);
	}
  .toc-list {
    font-size: 1.5em;
    line-height: 1.6;
    list-style-image: url('./img/bullet_small.png');
    margin-left: 47px;
    padding-bottom: 1em;
    li {
      padding-left: 9px;
      padding-bottom: 5px;
      a {
        color: rgba(255,255,255,0.65);
        &:hover {
          color: rgba(255,255,255,0.75);
          font-weight: 300;
				}
			}
      &::before {
        font-size: 0.5em;
			}
		}
	}
}

#keybindings {
  h3 {
    margin: 0.5em 3% 0.85em;
	}
  .keybinding-table {
    display: inline-block;
    position: relative;
    float: left;
    width: 49%;
    margin-bottom: 4em;
    &.right {
      float: right;
  	}
    .table-shortcut {
      font-family: _font(family-fixed);
      font-size: 13px;
      text-align: center !important;
      border-left: 0;
      padding-left: 18px;
    }
  }
}

#contributing {
  padding-bottom:  4em;
}

#FAQ {
  padding: 1em 7% 2em;
  h2 {
    font-size: 3.25em;
    margin-bottom: 1em;
	}
  strong {
    font-weight: 500;
	}
  hr {
    box-shadow: inset 0 10px 10px -5px rgba(0,0,0,0.15);
    margin-bottom: 20px;
	}
  .faq-list {
    letter-spacing: 0.05em;
    list-style: none;
    margin-left: 21px;
    margin-bottom: 30px;
    .faq-question {
      font-size: 1.5em;
      font-weight: 500;
      letter-spacing: 0.02em;
      margin: 0.45em -0.15em 0.75em;
      span {
        color: rgba(215,218,225,0.4);
        margin-left: 7px;
        margin-right: 4px;
      }
		}
    .faq-answer {
      margin: 0 0.5em 2.5em;
		}
	}
}

#changelog {
  .version {
    width: 90%;
    margin: 2.75em 2.25em 1em;
    &:first-child {
      margin-top: auto !important;
    }
    .version-title {
      font-size: 2em;
      font-weight: 300;
      margin-bottom: 0.35em;
      text-shadow: 3px 5px 10px rgba(0,0,0,0.8);
      span {
        font-size: 0.85em;
        margin-right: 0.05em;
        color: rgba(255,255,255,0.5);
        padding: 0 1px 0 2px;
			}
		}
    .version-rule {
      @include background-image(linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0)));
      height: 1.5px;
      width: 100%;
      left: 0;
      box-shadow: none;
      margin: 0.25em auto 0.75em;
		}
    .version-changes {
      font-size: 1.05em;
      line-height: 2;
      margin-left: 40px;
      list-style-image: url('./img/bullet_small.png');
      li {
        padding-left: 14px;
        padding-bottom: 10px;
        &::before {
          font-size: 1.65em;
				}
			}
		}
	}
}

#credits {
  position: relative;
  background: #292c33;
  padding-bottom: 2em;
  .credits-list {
    background: #292c33;
    padding: 0 35px 12px;
    margin-left: 5em;
    margin-bottom: 1em;
    list-style-image: url('./img/bullet_small.png');
    li {
      padding-left: 9px;
      padding-bottom: 5px;
      a {
        font-size: 1.55em;
        letter-spacing: 0.05em;
        line-height: 1.5;
        color: rgba(255,255,255,0.6);
        transition: all 300ms ease;
        &:hover {
          font-weight: 500;
				}
			}
		}
	}
}

@include scrollbars(0.5em, #1b1f26, #eee);

::-webkit-scrollbar-track-piece:start {
  background: transparent url('../images/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url('../images/scrollbar.png') repeat-y !important;
}

@media (max-width: 1200px) {
  #gallery {
    @include columns(4);
	}
}
@media (max-width: 1000px) {
  #gallery {
    @include columns(3);
	}
}
@media (max-width: 775px) {
  #gallery {
    @include columns(2);
	}
}
@media (max-width: 400px) {
  #gallery {
    @include columns(1);
	}
}
// .wf-loading h1 {
//   font-family: sans-serif;
//   visibility: hidden;
// }
// .wf-inactive h1 {
//   font-family: sans-serif;
//   visibility: hidden;
// }
// .wf-active h1 {
//   font-family: _font(hdr-family);
// }
// h1 {
//   // visibility: hidden;
// }
