@import 'libs/functions';
@import 'libs/skel';
@import 'libs/mixins';
@import 'libs/vars';
@import 'bourbon/bourbon';
@import 'syntax-highlighting';


.cf {
  @include clearfix;
}

* {
  text-shadow: transparent 0 0 0, rgba(#000, 0.28) 0 0 0 !important;
}

main {
  display: block;
}

body {
  @include font-feature-settings('liga', 'dlig');
  font-family: _font(ctrl-family);
}

body.is-loading {
  @include transition(none);
}

pre code, code {
  @include font-feature-settings('liga', 'dlig');
  font-family: _font(monospace-family);
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1;
}

/**
* Site header   **********************************************************
*/
.header {
  @include vendor('transition', 'background-color #{_duration(.2s)} ease');
  display: block;
  color: tint(#000, 50%);
  font-size: 2.02vw;
  font-weight: 300;
  line-height: 3em;
  width: 100%;
  height: 2.5em;
  top: 0;
  left: 0;
  z-index: 9999;
  .logo {
    display: inline-block;
    position: relative;
    left: 4%;
    float: left;
    a {
      display: inline-block;
      width: auto;
      height: 2.5em;
		}
	}
  &.alt {
    @include vendor('transition', 'background-color #{_duration(.8s)} ease');
    @include vendor('transition', 'color #{_duration(.8s)} ease');
    display: block;
    line-height: 3em;
    width: 101%;
    height: 3em;
    top: 0;
    left: 0;
    border: 0;
    z-index: 9999;
    .title {
      display: inline-block;
      position: absolute;
      color: rgba(#fff, 0.75);
      font-family: _font(hdr-family);
      font-size: 2em;
      font-weight: 500;
      top: 0.105em;
      left: 1em;
    }
    .page-link {
      color: rgba(#fff, 0.55);
      &:hover, &:focus, &:active {
        color: rgba(#fff, 0.9);
        border: 0 !important;
        &::after {
          background: rgba(#fff, 0.3);
        }
    	}
    }
    .logo img {
      @include opacity(0.7);
      @include position(relative, 18px null null -58px);
      width: auto;
      height: 1.8em;
      float: left;
  	}
  }
}

.section-title {
  margin: 0.5em 0;
}

.site-nav {
  position: absolute;
  line-height: $nav-height;
  right: 2.5%;
  float: right;
  z-index: 999;
  .page-link {
    // @include transition(color 250ms cubic-bezier(0.84, 0.17, 0.23, 0.57), font-weight 250ms cubic-bezier(0.84, 0.17, 0.23, 0.57));
    display: inline-block;
    position: relative;
    color: rgba(#5f6269, 0.6);
    line-height: $base-line-height;
    text-transform: lowercase;
    text-align: center;
    text-shadow: transparent 0 0 0, rgba(#000, 0.4) 0 0 0 !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    &:not(:first-child) {
      margin-left: 10px;
		}
    &::after {
      @include transition(all 500ms ease 0s);
      @include position(absolute, -2px 0 null 0);
      content: '';
      width: 1px;
      height: 2px;
      margin: 0 auto 3px;
    }
    &:hover {
      @include transition(all 500ms ease 0s);
      cursor: pointer;
    }
    &:hover::after,
    &:focus::after {
      background: rgba(#5f6269, 0.15);
      width: 100%;
    }
	}
  @include media-query($on-palm) {
    text-align: right;
    top: 0;
    right: 10px;
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
		}
    .page-link {
      display: line;
		}
	}
}

.title-container {
  @include opacity(0.75);
  display: block;
  position: relative;
  background: transparent;
  line-height: 2.5em;
  text-align: left;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 5%;
  line-height: 2.5em;
  z-index: 25;
  h1 {
    color: _palette(fg-header);
    font-family: _font(hdr-family);
    font-size: 150px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.15;
	}
  h3 {
    color: lighten(_palette(fg-header),5%);
    font-family: _font(hdr-family);
    font-size: 3.05vw !important;
    padding-left: 15px;
  }
  &.landing {
    line-height: 1.5em;
    top: 1vw;
    h1 {
      font-size: 18.5vw;
    }
    h3 {
      position: relative;
      font-size: 3.35vw !important;
      font-weight: 500;
      left: 1px;
		}
	}
}

.wrapper-head {
  margin: 0 45px;
}
.wrapper {
  background-color: #292c33;
}
.wrapper.landing {
  background-color: _palette(bg-light) !important;
}

.gradient {
  @include background-image(linear-gradient(to top, _palette(bg-dark) 56%, rgba(#292c33, 0.935) 62%, rgba(#292c33, 0.8) 67%, rgba(#292c33, 0.2) 80%, rgba(#292c33, 0.1) 83%, transparent));
  position: absolute;
  width: 100%;
  height: 104vw;
  top: 9.5vh;
  left: 0;
  overflow: auto;
  z-index: 0;
}

.features {
  display: inline-block;
  width: 47vw;
  height: auto;
  z-index: 9;
  .feature-list {
    font-family: _font(ctrl-family);
    font-size: 2vw;
    font-weight: 300;
    letter-spacing: 0.035em;
    line-height: 1.35;
    li {
      font-size: 2vw;
      padding-left: 12px;
      padding-bottom: 20px;
  	}
  }
}

.editor-section {
  height: 75vw;
  padding-top: 2em;
  .editor-features {
    @include opacity(0.65);
    position: absolute;
    color: #fff;
    left: 3.5vw;
    padding-top: 13.5vw;
    padding-left: 0;
    .feature-list {
      list-style: url('./img/bullet.png');
      li {
        &::before {
          font-size: 0.5em;
        }
      }
  	}
  }
}

.preview-section {
  height: 70vw;
  margin: 0.5vw 0 2.75vw;
  .preview-features {
    position: relative;
    top: 14vw;
    right: 0.5vw;
    .feature-list {
      list-style-image: url('./img/bullet_dark.png');
    }
  }
}

.left-img {
  display: inline-block;
  position: relative;
  height: auto;
  max-width: 50%;
  top: 4.25vw;
  left: 0;
  float: left;
  #previewImg {
    position: relative;
    width: 123%;
    height: 100%;
    left: 0;
    float: left;
	}
}

.right-img {
  display: inline-block;
  position: relative;
  height: auto;
  max-width: 50%;
  top: 3.5vw;
  left: 50%;
  #editorImg {
    position: relative;
    width: 123%;
    height: 100%;
    right: 0;
    float: right;
	}
}

.repo-icons {
  position: absolute;
  font-size: 5.4vw;
  right: 25.5%;
  a {
    span {
      @include opacity(0.9);
      color: #373a3f !important;
      padding: 0 6px;
      &::before {
        @include transition(all 200ms ease-in-out 100ms);
      }
    }
  }
  #github {
    position: relative;
    font-size: 5.96vw;
    top: 1px;
    &:hover, &:active {
      span::before {
        color: #3d74c0;
      }
    }
  }
  #heart {
    span {
      position: relative;
      top: 0;
    }
    &:hover, &:active {
      span::before {
        color: #dd9dbd;
      }
    }
  }
  #bug {
    font-size: 5.2vw;
    &:hover, &:active {
      span::before {
        color: #d44;
      }
    }
  }
}

.tag-line {
  @include opacity(0.65);
  display: inline-block;
  color: #303030;
  font-size: 2.55vw;
  font-weight: 300;
  letter-spacing: 0.0075em;
  line-height: 1.45;
  text-align: center;
  width: 75%;
  text-shadow: 0 1px 2px rgba(#000, 0.25) !important;
  margin: 6.5vh 12.5% 12vh;
}

.install-content {
  text-align: center;
  h3 {
    color: rgba(#fff, 0.7);
    font-size: 2.85em;
    font-weight: 300;
    line-height: 1.5;
    margin: 0.5em 0 0.75em;
	}
  .install-buttons {
    margin: 0 auto 3em;
    padding-top: 0.1em;
    padding-bottom: 5.5em;
    .os-image {
      display: block;
      position: relative;
      width: 55%;
      height: auto;
      top: 0;
      margin: 0 auto 5%;
		}
    span {
      display: block;
      font-size: 2.15em;
      font-weight: 400;
      text-align: center;
      margin-top: 8px;
		}
	}
  .platform-button {
    @include transition(all 400ms ease-in-out 0s);
    @include background-image(radial-gradient(#282b32, #24272e));
    color: rgba(#fff, 0.45);
    width: 22%;
    height: 210px;
    border: 1px outset rgba(#51545b, 0.5);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(#000, 0.5);
    margin: 10px 2% 2em;
    padding: 0.5em 1em;
    outline: none !important;
    cursor: pointer;
    &:hover, &:active {
      @include background-image(radial-gradient(#33363e, #282b32));
      color: rgba(#fff, 0.9);
      box-shadow: 0 2px 15px rgba(#000, 0.5);
      outline: none !important;
      span {
        text-shadow: 1px 2px 12px rgba(#000, 0.65) !important;
      }
		}
    span {
      text-shadow: 1px 2px 6px rgba(#000, 0.45) !important;
    }
    figcaption {
      display: none;
    }
	}
  .alert {
    display: none;
    position: relative;
    top: -5.5em;
    span {
      display: inline-block;
      position: relative;
      color: rgba(#fff, 0.55);
      font-size: 1.5em;
      line-height: 1.3;
      margin-left: 0.45em;
      a {
        font-weight: 500;
      }
    }
    img {
      display: inline-block;
      position: relative;
      width: auto;
      height: 50px;
      top: 3px;
    }
  }
}

/*
* Footer **********************************************************
*/
#footer {
  @include background-image(linear-gradient(to top, #1c1e22, #2c2f35));
  background-color: #21242b;
  height: 100px;
  box-shadow: 0 -3px 10px rgba(#000, 0.35);
  padding: 1em 2em 0.6em !important;
  .left-footer {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 0;
    span {
      color: _palette(fg);
      font-size: 1.05em;
      font-weight: 300;
      letter-spacing: 0.02em;
      line-height: 1.7;
      i::before {
        color: rgba(#fff, 0.75);
        font-size: 1.2em;
        padding: 0 1px;
      }
      .fa-heart {
        position: relative;
        font-size: 0.9em;
        top: 0.5px;
      }
      a {
        @include transition(color 250ms ease-in-out 0s, border 350ms ease-in-out 0s);
        color: rgba(#fff, 0.75);
        &:hover, &:active {
          color: rgba(#fff, 0.9);
        }
      }
    }
  }
  .os-section {
    display: inline-block;
    position: relative;
    width: auto;
    top: 10.75%;
    left: 52.5%;
    span {
      display: block;
      color: #d3d3d6;
      font-size: 0.85em;
      font-weight: 300;
      letter-spacing: 0.03em;
      text-align: left;
    }
    .os-icons {
      margin-top: 10px;
      a {
        &:first-child img {
          margin-left: 1.15em !important;
        }
        &:hover, &:active {
          border: 0 !important;
        }
      }
      img {
        @include transition(opacity 450ms ease-in-out 0s);
        @include opacity(0.45);
        display: inline-block;
        position: relative;
        width: auto;
        height: 5.2vh;
        margin-left: 0;
        padding: 0 7px;
        &:nth-child(2) {
          height: 5.1vh;
          top: 1px;
        }
        &:nth-child(3) {
          height: 5.2vh;
          top: 3px;
        }
        &:hover, &:active {
          @include opacity(0.75);
        }
      }
    }
  }
}
@include breakpoint(xsmall) {
  display: block;
  line-height: _font(hdr-lheight-normal);
  border: 0;
  margin: 0;
  padding: 0.5em 0;
}

@include breakpoint(medium) {
  @include padding(4em 3em 4em 3em);
}

@include breakpoint(small) {
  @include padding(3em 2em 3em 2em);
}

strong {
  font-size: 1.05em;
  font-weight: 500;
}

i {
  font-weight: 400;
}

pre {
  background: #2d2d2d;
  color: rgba(#fff, 0.6);
  border: 1px inset #3f3f3f;
  border-radius: 16px;
  box-shadow: inset 0 0 8px rgba(#000, 0.6);
  margin: 20px 60px 20px 30px !important;
  padding: 10px 14px 11px;
  overflow-x: auto;
  &.multi-line {
    padding-bottom: 15px;
  }
}

kbd {
  @include background-image(linear-gradient(to bottom, rgba(#4b4e55, 0.85), rgba(#32353c, 0.85)));
  font-size: initial;
  border: solid 1px #33363d;
  border-bottom-color: #3d4047;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(#000, 0.45);
  margin: 0 2.5px;
  padding: 1px 5px 2px 6px;
}

.document {
  &.gradient {
    @include background(linear-gradient(to top, _palette(bg) 54%, rgba(#292c33, 0.85) 60%, rgba(#292c33, 0.7) 64.5%, rgba(#292c33, 0.3) 74%, rgba(#292c33, 0) 87%));
    height: 145%;
    top: -6.5em;
	}
}

.page-title {
  position: relative;
  color: rgba(#fff, 0.8);
  font-family: _font(hdr-family);
  font-size: 150px;
  font-weight: 600 !important;
  letter-spacing: 0.015em;
  line-height: 1;
  text-shadow: 0 3px 5px rgba(#000, 0.3) !important;
  margin: 0.1em 0.4em 0.175em;
  &.lg {
    font-size: 180px;
    margin-top: 0;
    margin-left: 0.35em;
  }
}

.document-section {
  position: relative;
  color: _palette(fg);
  padding: 2em 9%;
  h2 {
    color: rgba(#fff, 0.75);
    font-size: 3em;
    font-weight: 300;
    line-height: 1;
    text-shadow: 0 3px 10px rgba(#000, 0.2)  !important;
    margin: 0 0 0.55em;
    padding-left: 0 !important;
	}
  h3 {
    color: rgba(#fff, 0.6);
    font-size: 2em;
    font-weight: 300;
    margin: 1em 0 0.5em;
	}
  p {
    letter-spacing: 0.05em;
    margin: 0.5em 1.5% 1.25em;
  }
  a {
    @include transition(color 300ms ease-in-out 0s, border 400ms ease-in-out 0s);
    color: rgba(#fff, 0.75);
    font-weight: 400;
    &:hover, &:active {
      color: rgba(#fff, 0.85);
		}
	}

  .document-table {
    width: 100%;
    box-shadow: 0 3px 15px rgba(#000, 0.2);
    margin: 20px 30px 20px 10px;
    table-layout: fixed;
    span {
      margin-top: 1.75em;
      margin-left: 3%;
		}
    th {
      background: rgba(#fff, 0.035);
      color: _palette(fg);
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.035em;
      text-transform: uppercase;
      text-align: center;
      border: solid 1px rgba(#fff, 0.085);
      vertical-align: middle;
      padding: 15px;
		}
    td {
      color: _palette(fg);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.05em;
      text-align: left;
      border: solid 1px rgba(#fff, 0.1);
      border-top: 0;
      vertical-align: middle;
      padding: 9px;
      padding-left: 15px;
      span {
        color: rgba(#fff, 0.4);
        margin-left: 0;
			}
		}
    tbody {
      background: rgba(#000, 0.02);
    }
    .table-shortcut kbd {
      @include background-image(linear-gradient(to bottom, rgba(#373a41, 0.8), rgba(#2a2d34, 0.85)));
      margin: 0;
      padding: 3px 7px;
      white-space: nowrap;
    }
	}
  &.last-child {
    padding-bottom: 4.25em;
  }
}
hr {
  display: inline-block;
  position: relative;
  width: 140%;
  height: 10px;
  left: -20%;
  border: 0;
  box-shadow: inset 0 10px 10px -5px rgba(#000, 0.2);
  margin-top: 5px;
}


#toc {
  position: relative;
  color: _palette(fg);
  padding: 1.75em 7.5% 0.35em 10%;
  h3 {
    color: rgba(#fff, 0.7);
    font-size: 2.35em;
    font-weight: 300;
    text-shadow: 3px 5px 10px rgba(#000, 0.8);
    margin-bottom: 0.75em;
	}
  .toc-list {
    font-size: 1.45em;
    line-height: 1.6;
    list-style-image: url('./img/bullet_small.png');
    margin-left: 55px;
    padding-bottom: 1em;
    li {
      padding-left: 9px;
      padding-bottom: 5px;
      a {
        @include transition(color 300ms ease-in-out 0s, border 450ms ease-in-out 0s);
        &:hover {
          color: rgba(#fff, 0.85);
          font-weight: 300;
				}
			}
      &::before {
        font-size: 0.5em;
			}
		}
	}
}

#keybindings {
  padding-bottom: 1em;
  h3 {
    margin: 0.5em 3% 0.75em;
	}
  .keybinding-table {
    display: inline-block;
    position: relative;
    width: 48%;
    margin-bottom: 2em;
    &.right {
      float: right;
  	}
    .table-shortcut {
      font-family: _font(family-fixed);
      font-size: 13px;
      text-align: center !important;
      border-left: 0;
      padding: 8px 9px 10px;
    }
  }
  .key-note {
    display: block;
    position: relative;
    color: rgba(#fff, 0.5);
    font-size: 15px;
    text-align: center;
    top: -1.5vh;
    margin: 0 auto;
    code {
      font-family: _font(monospace-family);
      padding-left: 3px;
      padding-right: 1px;
    }
  }
}

#contributing {
  padding-bottom:  4em;
}

#faq {
  padding: 1.55em 6% 5em;
  h2 {
    font-size: 3.25em;
    margin-bottom: 1em;
	}
  strong {
    font-weight: 500;
	}
  hr {
    width: 109%;
    left: -3.5%;
    box-shadow: inset 0 10px 10px -5px rgba(#000, 0.15);
    margin: 10px auto 5px;
	}
  .faq-list {
    background: _palette(bg);
    letter-spacing: 0.05em;
    list-style: none;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(#000, 0.45);
    margin: 0 auto 30px;
    padding: 1.25em 3em 0.15em 2em;
    .faq-question {
      @include transition(all 500ms ease 0s);
      display: inline-block;
      color: _palette(fg);
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0.02em;
      line-height: 1.3;
      max-width: 90%;
      margin: 0 -0.15em 0.5em;
      cursor: pointer;
      span {
        color: rgba(#d7dae1, 0.4);
        margin-left: 7px;
        margin-right: 4px;
      }
		}
    .expand {
      @include transition(all 600ms ease 0s);
      @include opacity(0.2);
      display: inline-block;
      position: relative;
      background-image: url('./img/plus.svg');
      fill: #fff;
      width: 20px;
      height: 20px;
      top: 6px;
      left: 25px;
      float: right;
      cursor: pointer;
    }
    .answer-container {
      @include transition(height 600ms ease 0s, opacity 50ms ease 700s);
      height: 0;
      overflow: hidden;
    }
    .faq-answer {
      display: block;
      color: _palette(fg);
      letter-spacing: 0.05em;
      height: auto;
      margin-bottom: 20px;
    }
    li:last-child {
      .faq-question {
        margin-bottom: 0;
      }
      .answer-container {
        margin-bottom: 1.5em;
      }
      hr {
        display: none !important;
        box-shadow: none;
        margin: 0;
      }
    }
    .faq-item.active {
      .faq-question {
        @include transition(all 500ms ease 0s);
        color: rgba(#fff, 0.75);
        font-size: 1.6em;
        margin: 0 -0.25em 0.75em;
      }
      .expand {
        @include transform(rotate(-46deg));
        @include transition(all 600ms ease 0s);
        @include opacity(0.6);
      }
      .answer-container {
        margin-bottom: 1em;
        .faq-answer {
          @include opacity(1);
          overflow: hidden;
        }
      }
      hr {
        width: 109%;
        left: -3.5%;
        box-shadow: inset 0 -10px 10px -5px rgba(#000, 0.2);
      }
    }
	}
}

#changelog {
  .version {
    width: 90%;
    margin: 2.75em 2.25em 1em;
    &:first-child {
      margin-top: auto !important;
    }
    .version-title {
      font-size: 2em;
      font-weight: 300;
      letter-spacing: -2px;
      text-shadow: 3px 5px 10px rgba(#000, 0.8);
      margin-bottom: 0.35em;
      span {
        color: rgba(#fff, 0.5);
        font-size: 0.85em;
        margin-right: 0.175em;
        padding: 0 1px 0 2px;
			}
		}
    .version-rule {
      @include background-image(linear-gradient(to right, rgba(#fff, 0.2), rgba(#fff, 0)));
      width: 100%;
      height: 1.5px;
      left: 0;
      box-shadow: none;
      margin: 0.25em auto 0.75em;
		}
    .version-changes {
      font-size: 1.05em;
      line-height: 2;
      list-style-image: url('./img/bullet_small.png');
      margin-left: 40px;
      li {
        padding-left: 14px;
        padding-bottom: 5px;
        &::before {
          font-size: 1.65em;
				}
			}
		}
	}
}

#credits {
  position: relative;
  background: _palette(bg);
  width: 90%;
  margin: 0 auto 3em;
  padding-bottom: 2em;
  span {
    display: block;
    color: _palette(fg);
    font-size: 1.5em;
    letter-spacing: 0.03em;
    line-height: 1.5;
    width: 95%;
    margin: 0 auto 1.25em;
  }
  .credits-list {
    background: _palette(bg);
    font-size: 0.9em;
    letter-spacing: 0.06em;
    list-style-image: url('./img/bullet_small.png');
    margin: 0 3em;
    padding: 0 35px;
    ul {
      margin-left: 25px;
    }
    li {
      padding-left: 9px;
      padding-bottom: 5px;
      a {
        @include transition(all 300ms ease 0s);
        font-size: 1.5em;
        letter-spacing: 0.05em;
        line-height: 1.5;
        &:hover, &:active {
          color: rgba(#fff, 0.7);
        }
			}
		}
	}
}

@include scrollbars(0.5em, #1b1f26, #eee);

::-webkit-scrollbar-track-piece:start {
  background: transparent url('../images/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url('../images/scrollbar.png') repeat-y !important;
}

// @media (max-width: 1200px) {
//   #gallery {
//     @include columns(4);
// 	}
// }
// @media (max-width: 1000px) {
//   #gallery {
//     @include columns(3);
// 	}
// }
// @media (max-width: 775px) {
//   #gallery {
//     @include columns(2);
// 	}
// }
// @media (max-width: 400px) {
//   #gallery {
//     @include columns(1);
// 	}
// }
