/**
 * Syntax highlighting styles
 */

$base:       #282c33;
$text:       #abb2bf;
$subtle:     #5c6370;
$highlight:  #f8f8f2;
$red:        #e06c75;
$orange:     #d19a66;
$yellow:     #e5c07b;
$green:      #98c379;
$blue:       #56b6c2;
$purple:     #c678dd;
$pink:       #f92672;
$err:        #960050;

.highlight,
pre.highlight {
  background: $base;
  color: $text;
}

.highlight {
  @extend %vertical-rhythm;
  background: $base;

  .highlighter-rouge & {
    background: $base;
  }

  pre { background: $base; }
  .hll { background: $base; }
  .c { color: $subtle; font-style: italic; }
  .err { color: $err; }
  .k { color: $purple; }
  .l { color: $green; }
  .n { color: $text; }
  .o { color: $text; }
  .p { color: $text; }
  .cm { color: $subtle; font-style: italic; }
  .cp { color: $subtle; font-style: italic; }
  .c1 { color: $subtle; font-style: italic; }
  .cs { color: $subtle; font-style: italic; }
  .ge { font-style: italic; }
  .gs { font-weight: 700; }
  .kc { color: $purple; }
  .kd { color: $purple; }
  .kn { color: $purple; }
  .kp { color: $purple; }
  .kr { color: $purple; }
  .kt { color: $purple; }
  .ld { color: $green; }
  .m { color: $orange; }
  .s { color: $green; }
  .na { color: $orange; }
  .nb { color: $yellow; }
  .nc { color: $yellow; }
  .no { color: $yellow; }
  .nd { color: $yellow; }
  .ni { color: $yellow; }
  .ne { color: $yellow; }
  .nf { color: $text; }
  .nl { color: $yellow; }
  .nn { color: $text; }
  .nx { color: $text; }
  .py { color: $yellow; }
  .nt { color: $red; }
  .nv { color: $yellow; }
  .ow { font-weight: 700; }
  .w { color: $highlight; }
  .mf { color: $orange; }
  .mh { color: $orange; }
  .mi { color: $orange; }
  .mo { color: $orange; }
  .sb { color: $green; }
  .sc { color: $green; }
  .sd { color: $green; }
  .s2 { color: $green; }
  .se { color: $green; }
  .sh { color: $green; }
  .si { color: $green; }
  .sx { color: $green; }
  .sr { color: $blue; }
  .s1 { color: $green; }
  .ss { color: $blue; }
  .bp { color: $yellow; }
  .vc { color: $yellow; }
  .vg { color: $yellow; }
  .vi { color: $red; }
  .il { color: $orange; }
  .gu { color: #75715e; }
  .gd { color: $pink; }
  .gi { color: #a6e22e; }
}
