
.cm-header-1 {
  font-size: 1.85em;
}

.cm-header-2 {
  font-size: 1.65em;
}

.cm-header-3 {
  font-size: 1.5em;
}

.cm-header-4 {
  font-size: 1.375em;
}

.cm-header-5, .cm-header-6 {
  font-size: 1.25em;
}

.cm-strong {
  font-weight: 900 !important;
  letter-spacing: 0.045em;
}

.cm-em {
  font-style: italic !important;
}

span.cm-em.cm-strong {
  font-weight: 800 !important;
  font-style: italic !important;
}

.cm-strikethrough {
  text-decoration: line-through !important;
}

.cm-hr {
  letter-spacing: -0.275vw;
}
