@media print {
  body {
    /*background: white;*/
    /*color: black !important;*/
    font-size: 50%;
    margin: 0; padding: 0;
  }

  #appMenu, #metacity, #toolbar, #sidebar, .bottom-bar,
  #leftPanel, #rightFade {
    display: none;
  }

  #rightPanel {
    display: block !important;
    width: 100%;
  }

  #previewPanel {
    padding: 0 8px !important;
    overflow: visible;
  }

  #mdPreview > h3 {
    line-height: 0.5 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  #mdPreview > p, #mdPreview > ul li {
    font-size: 11.5pt !important;
  }

  #mdPreview > p {
    line-height: 1.5;
    margin: 0 0 6px !important;
  }

  #mdPreview > ul {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  #mdPreview > li {
    line-height: 1.75;
  }

  #mdPreview > img {
    max-width: 95%;
    margin: 0 auto 0.5em !important;
    padding: 0 !important;
  }

  #mdPreview > pre code {
    font-family: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace !important;
    background: #424242 !important;
    color: $text-color;
    letter-spacing: 0.045em;
    border-radius: 10px;
    box-shadow: inset 0 -2px 20px rgba(0,0,0,0.6);
  }

  * {
    font-family: "Open Sans","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: 0.01em;
  }

  h1 {
    letter-spacing: 0.02em !important;
  }

  strong {
    font-weight: 700;
  }

  pre {
    display: block;
    background-color: #424242 !important;
    color: rgba(255, 255, 255, 0.75) !important;
    font-family: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace;
    border: 1px inset #a2a2a2 !important;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.6) !important;
    margin: 15px 0;
    padding: 9.5px 18px;
  }

  pre:after {
    font-family: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace !important;
    background: #424242 !important;
    color: rgba(255,255,255,0.75) !important;
    white-space: nowrap;
    letter-spacing: 0.05em;
  }

  pre:before {
    font-family: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace !important;
    background: #424242 !important;
    color: rgba(255,255,255,0.75) !important;
    white-space: nowrap;
    letter-spacing: 0.05em;
  }

  code {
    font-family: "Source Code Pro","Monaco","Ubuntu Mono","Dejavu Sans Mono","Consolas",monospace !important;
    background: #424242 !important;
    color: rgba(255,255,255,0.75) !important;
    white-space: nowrap;
    letter-spacing: 0.05em;
  }

  a {
    color: #1c74a0 !important;
    text-decoration: none;
  }

  img {
    max-width: 95%;
    vertical-align: middle;
    box-sizing: content-box;
    margin: 0.2em 0;
  }

  ul, li {
    letter-spacing: 0.01em;
  }

  /*a:hover, a:active {
    color: #42a7da !important;
    text-decoration: none;
    border-bottom: 1px dotted #42a7da;
  }*/

  a:after {
    display: none;
  }
}
