.alert {
  display: table;
  min-width: 250px !important;
  max-width: 375px !important;
  border-radius: 4px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none !important;
  margin-top: 20px !important;
  margin-right: 4px !important;
  padding: 0 0 7px 10px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none !important;
  vertical-align: middle;
  cursor: pointer; }
  .alert:hover {
    box-shadow: -1px 3px 12px rgba(0, 0, 0, 0.35); }
  .alert .alert-sidebar {
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 101%;
    top: 0;
    left: -1px;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.85; }
    .alert .alert-sidebar .alert-icon {
      position: relative;
      color: rgba(255, 255, 255, 0.85);
      font-size: 1.05em;
      top: 4px;
      left: 11px;
      text-shadow: 1px 0 5px rgba(0, 0, 0, 0.4); }
  .alert .alert-title {
    font-size: 1.0125em;
    width: 92%;
    border-top-right-radius: 5px;
    margin-left: 25px;
    padding: 3.5px 0 1.5px 8px; }
    .alert .alert-title strong {
      font-size: 1.15em !important;
      letter-spacing: 0.055em; }
  .alert .alert-message {
    position: relative;
    max-width: 100% !important;
    line-height: 1.2em;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 7px 10px 1px 33px;
    margin-right: -1em;
    padding-right: 1em; }
    .alert .alert-message.expand {
      display: block; }
  .alert span {
    display: table-cell;
    letter-spacing: 0.04em !important;
    float: left !important; }
    .alert span:nth-child(2) {
      position: relative;
      top: 1px;
      font-size: 1.05em;
      height: auto !important;
      margin: auto; }
    .alert span:before {
      position: relative !important;
      font-size: 1.5em !important;
      top: 1.65px;
      left: -2px;
      margin-right: 1px !important; }
  .alert .close {
    top: 4px !important;
    right: 5px !important;
    height: auto !important;
    width: 18px !important;
    border-radius: 100px;
    outline: none !important;
    font-size: 18px !important;
    text-shadow: none;
    padding: 1px;
    opacity: 0.8; }
    .alert .close:hover {
      font-size: 16px !important;
      color: rgba(255, 255, 255, 0.975) !important;
      transition: background-color 200ms linear;
      transition: color 250ms linear;
      opacity: 0.5; }

.alert-success {
  background: rgba(176, 227, 181, 0.95);
  color: #3c763d; }
  .alert-success:hover {
    background: #b0e3b5; }
  .alert-success .alert-sidebar {
    background: #33a033; }
  .alert-success .alert-title {
    background: rgba(112, 183, 119, 0.25);
    border-bottom: 1px solid rgba(60, 118, 61, 0.25); }
  .alert-success .close {
    color: #298129; }
    .alert-success .close:hover {
      background: rgba(51, 160, 51, 0.65) !important; }

.alert-info {
  background: rgba(182, 218, 252, 0.95); }
  .alert-info:hover {
    background: #b6dafc; }
  .alert-info .alert-sidebar {
    background: #3088ef; }
  .alert-info .alert-title {
    background: rgba(114, 183, 223, 0.2);
    border-bottom: 1px solid rgba(158, 178, 187, 0.8); }
  .alert-info .close {
    color: #3088ef !important; }
    .alert-info .close:hover {
      background: rgba(48, 136, 239, 0.55) !important; }

.alert-warning {
  background: rgba(240, 224, 164, 0.95);
  color: #b57317 !important; }
  .alert-warning:hover {
    background: #f0e0a4; }
  .alert-warning .alert-sidebar {
    background: #dd9d30; }
    .alert-warning .alert-sidebar .alert-icon {
      font-size: 0.95em; }
  .alert-warning .alert-title {
    background: rgba(208, 181, 106, 0.2);
    border-bottom: 1px solid rgba(181, 115, 23, 0.25); }
  .alert-warning .close {
    color: #b57317 !important; }
    .alert-warning .close:hover {
      background: rgba(221, 157, 48, 0.75) !important; }

.alert-danger {
  background: rgba(229, 151, 151, 0.95);
  color: #be2424 !important; }
  .alert-danger:hover {
    background: #e59797; }
  .alert-danger .alert-sidebar {
    background: #d03132; }
    .alert-danger .alert-sidebar .alert-icon {
      text-shadow: 1px 0 5px rgba(0, 0, 0, 0.35); }
  .alert-danger .alert-title {
    background: rgba(224, 144, 144, 0.75);
    border-bottom: 1px solid rgba(190, 36, 36, 0.25); }
  .alert-danger .close {
    color: #be2424 !important; }
    .alert-danger .close:hover {
      background: rgba(208, 49, 50, 0.75) !important; }
