#markdown {
  color: #2a2a2a;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13.5;
  letter-spacing: 0.0375em;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  overflow: none;
  margin-top: 0;
}
#markdown h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.45;
  border-bottom: 1px solid #e1e3ea;
  margin-top: 0;
  margin-bottom: 25px;
}
#markdown h2 {
  color: #333;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.4;
  border-bottom: 1px solid #e1e3ea;
  margin-bottom: 22px;
}
#markdown h3 {
  color: #333;
  font-size: 1.42em;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 15px;
}
#markdown h4 {
  color: #333;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 16px;
}
#markdown h5 {
  color: #666;
  font-size: 1.12em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 14px;
}
#markdown img {
  max-width: 95%;
  vertical-align: middle;
  box-sizing: content-box;
}
#markdown ol, #markdown ul {
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 35px;
}
#markdown ol ol, #markdown ol ul, #markdown ul ol, #markdown ul ul {
  padding-left: 27px;
}
#markdown ol ol ol, #markdown ol ol ul, #markdown ol ul ol, #markdown ol ul ul, #markdown ul ol ol, #markdown ul ol ul, #markdown ul ul ol, #markdown ul ul ul {
  padding-left: 35px;
}
#markdown li {
  /*letter-spacing: 0.0275em;*/
  margin-bottom: 5px;
}
#markdown ul li p {
  margin-bottom: 0 !important;
}
#markdown a {
  color: #1c74a0;
  text-decoration: none;
  transition: 300ms ease;
}
#markdown a:hover, #markdown a:focus, #markdown a:active {
  color: #60b0da;
  text-decoration: none;
}
#markdown hr {
  border-top: 1px solid #ddd;
}
#markdown p {
  letter-spacing: 0.0375em;
  line-height: 1.5;
  margin: 0 0 16px;
}
#markdown pre {
  background: #3a393b;
  color: rgba(255, 255, 255, 0.7);
  border: 1px inset #fff;
  border-radius: 10px;
  margin: 15px 0 20px;
  padding: 10px 18px;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
}
#markdown pre code {
  font-family: "Source Code Pro","Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12.5px;
  letter-spacing: 0.045em;
  border-radius: 10px;
  padding: 2px 4px 3px;
}
#markdown blockquote {
  display: flex;
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.65);
  font-size: 13.5px;
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 15px 10px;
  padding: 10px 20px 11px;
}
#markdown blockquote > p {
  margin-bottom: 0;
}
#markdown table {
  border-collapse: collapse;
  margin: 20px 10px;
}
#markdown table tr {
  background-color: #f4f5f6;
  border: 1px solid #b6bbc1;
}
#markdown table tr:nth-child(2n - 1) {
  background-color: #eeeff0;
}
#markdown table th {
  background-color: #f4f5f6;
  font-size: 10.5pt;
  font-weight: 600;
}
#markdown table th, #markdown table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
#markdown table thead tr {
  line-height: 1.5;
}
#markdown kbd {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  color: rgba(0, 0, 0, 0.7);
  font-size: 8pt;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 4px;
  box-shadow: 0 0.5px 2px rgba(0,0,0,0.25);
}
#markdown .MathJax_Display {
  display: flex !important;
  text-align: left !important;
}
#markdown *:first-child {
  margin-top: 0 !important;
}
#markdown *:last-child {
  margin-bottom: 0 !important;
}

.hljs-built_in { color: hsl(180, 49%, 60%); }
.hljs-title { color: hsl(207, 82%, 66%); }
.hljs-keyword { color: hsl(286, 60%, 67%); }
.hljs-class { color: hsl(25, 54%, 61%) !important; }
.hljs-name { color: hsl(355, 65%, 65%); }
.hljs-number { color: hsl(25, 54%, 61%); }
.hljs-attr { color: hsl(25, 54%, 61%); }
.hljs-meta { color: hsl(355, 65%, 65%); }
.hljs-string { color: hsl(95, 38%, 62%); }
.hljs-literal { color: hsl(207, 82%, 66%); }
.hljs-subst { color: hsl(355, 65%, 65%); }
.hljs-params { color: rgba(255, 255, 255, 0.75) !important; }
.hljs-comment { color: rgba(255, 255, 255, 0.3) !important; }
.bash .hljs-built_in { color: rgba(255, 255, 255, 0.75) !important; }
