#markdown {
  color: #232224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  margin-top: 0;
  overflow: auto;
}
#markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
}
#markdown h1 {
  font-size: 2.1em;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.3em;
}
#markdown h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.3em;
}
#markdown h3 {
  font-size: 1.25em;
}
#markdown h4 {
  font-size: 1em;
}
#markdown h5 {
  font-size: 1em;
}
#markdown h6 {
  font-size: 0.85em;
  color: #737373;
}
#markdown img {
  background: transparent;
  max-width: 95%;
  vertical-align: middle;
  box-sizing: content-box;
  border-style: none;
}
#markdown ol, #markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}
#markdown ol ol, #markdown ol ul, #markdown ul ol, #markdown ul ul {
  padding-left: 27px;
}
#markdown ol ol ol, #markdown ol ol ul, #markdown ol ul ol, #markdown ol ul ul, #markdown ul ol ol, #markdown ul ol ul, #markdown ul ul ol, #markdown ul ul ul {
  padding-left: 35px;
}
#markdown li {
  font-size: 2.4vh;
  letter-spacing: 0.0275em;
  margin-bottom: 5px;
}
#markdown li + li {
  margin-top: 0.25em;
}
#markdown a {
  color: #0366d6;
  text-decoration: none;
  transition: 300ms ease;
}
#markdown a:hover, #markdown a:focus, #markdown a:active {
  color: #0366d6;
  text-decoration: underline;
}
#markdown hr {
  background: #e4e4e4;
  height: 0.25em;
  border: none;
  margin: 24px 0;
  padding: 0;
}
#markdown p {
  font-size: 2.4vh;
  letter-spacing: 0.0275em;
  line-height: 1.5;
  margin: 0 0 16px !important;
}
#markdown pre {
  background: #ececec;
  color: #24292e;
  font-family: "SFMono-Regular", Consolas, "Inconsolata", "Liberation Mono", Menlo, monospace;
  font-size: 85%;
  line-height: 1.45;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: none;
  margin-bottom: 16px;
  word-wrap: normal;
  word-break: normal;
  overflow: auto;
}
#markdown pre code {
  font-family: "SFMono-Regular", Consolas, "Inconsolata", "Liberation Mono", Menlo, monospace;
  background: transparent;
  letter-spacing: 0.045em;
}
#markdown pre code:before, #markdown pre code:after {
  letter-spacing: -0.2em;
  content: "";
}
#markdown code {
  background-color: rgba(20, 20, 20, 0.05);
  color: #24292e;
  font-family: "SFMono-Regular", Consolas, "Inconsolata", "Liberation Mono", Menlo, monospace;
  font-size: 85%;
  border-radius: 5px;
  margin: 0;
  padding: 0.2em 0;
}
#markdown code:before, #markdown code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
#markdown blockquote {
  background: rgba(0, 0, 0, 0.05);
  color: #6a737d;
  font-size: 13.5px;
  border-left: 0.25em solid #dfe2e5;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 1em;
}
#markdown blockquote > p {
  margin-bottom: 0;
}
#markdown table {
  border-collapse: collapse;
  margin-left: 10px;
}
#markdown table tr {
  background-color: #f8f7f5;
  border: 1px solid #c6cbd1;
}
#markdown table tr:nth-child(2n) {
  background-color: #ecedee;
}
#markdown table th {
  font-size: 10.5pt;
  font-weight: 600;
  padding: 8px 13px !important;
}
#markdown table th, #markdown table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}
#markdown table thead tr {
  line-height: 1.5;
}
#markdown kbd {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  color: rgba(0, 0, 0, 0.7);
  font-size: 8pt;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 4px;
  box-shadow: inset 0 -0.5px 0 #959da5;
}
#markdown *:first-child {
  margin-top: 0 !important;
}
#markdown *:last-child {
  margin-bottom: 0 !important;
}
