@font-face {
    font-family: 'Lora';
    src: url('./Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('./Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lora';
    src: url('./Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('./Lora-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
