<!DOCTYPE html>

<html>
  {% include head.html %}
  <body class="is-loading">
    <div class="page-content">
      {% if page.layout == "page" %}
        <div id="page-wrapper" class="wrapper">
          {% include header.html %}
          {{ content }}
        </div>
      {% elsif page.layout == "default" %}
        <div id="page-wrapper" class="wrapper landing">
          {% include header.html %}
          {{ content }}
        </div>
      {% endif %}
    </div>
    {% unless page.options contains "nofooter" %}{% include footer.html %}{% endunless %}
    {% include scripts.html %}
  </body>
</html>
