#mdPreview {
  color: #222;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.0375em;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  overflow: hidden;
  margin-top: 0;
}

#mdPreview h1, #mdPreview h2, #mdPreview h3, #mdPreview h4 {
  color: #333;
  font-weight: 700;
  letter-spacing: 0.0035em;
}

#mdPreview h1, #mdPreview h2 {
  border-bottom: 1px solid #e1e3ea;
}

#mdPreview h1 {
  font-size: 2.5em;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 20px;
}

#mdPreview h2 {
  font-size: 2em;
  line-height: 1.4;
  margin-bottom: 18px;
}

#mdPreview h3 {
  font-size: 1.55em;
  line-height: 1.3;
  margin-bottom: 12px;
}

#mdPreview h4 {
  font-size: 1.45em;
  letter-spacing: 0.01em;
  line-height: 1.25;
  margin-bottom: 9px;
}

#mdPreview h5 {
  color: #666;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 9px;
}

#mdPreview h6 {
  color: #666;
  font-size: 1.08em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 9px;
}

#mdPreview img {
  max-width: 95%;
  height: auto;
  vertical-align: middle;
  box-sizing: content-box;
}

#mdPreview ol, #mdPreview ul {
  line-height: 1.55;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 35px;
}

#mdPreview ol ol, #mdPreview ol ul, #mdPreview ul ol, #mdPreview ul ul {
  padding-top: 4px;
  padding-left: 25px;
}

#mdPreview ol ol ol, #mdPreview ol ol ul, #mdPreview ol ul ol, #mdPreview ol ul ul, #mdPreview ul ol ol, #mdPreview ul ol ul, #mdPreview ul ul ol, #mdPreview ul ul ul {
  padding-left: 35px;
}

#mdPreview ol p, #mdPreview ul p {
  margin-bottom: 0 !important;
}

#mdPreview ol {
  counter-reset: item;
}

#mdPreview ol li {
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  list-style-type: none;
  counter-increment: item;
}

#mdPreview ol li::before {
  font-family: "Lora", Garamond, Times, Georgia, serif;
  padding-right: 6px;
  content: counter(item) ".";
}

#mdPreview li {
  letter-spacing: 0.04em;
  margin-bottom: 5px;
}

#mdPreview .task-list-item {
  margin-bottom: 12px;
}

#mdPreview a {
  color: #1a6b9a;
  text-decoration: none;
  transition: 200ms ease;
}

#mdPreview a:hover, #mdPreview a:focus, #mdPreview a:active {
  color: #30abda;
  text-decoration: none;
}

#mdPreview hr {
  border-top: 2px solid #ddd;
}

#mdPreview p {
  color: #222;
  letter-spacing: 0.03em;
  margin: 0 0 16px 2px;
}

#mdPreview strong {
  font-size: 105%;
  font-weight: 700;
}

#mdPreview .break {
  height: 0;
  margin-bottom: 16px;
}

#mdPreview pre {
  background: #333237;
  color: rgba(255, 255, 255, 0.7);
  border: 1px inset #fff;
  border-radius: 10px;
  margin: 15px 5px 20px;
  padding: 12px 16px;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#mdPreview pre code {
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 95%;
  letter-spacing: 0.045em;
  line-height: 1.7;
  border-radius: 10px;
  padding: 2px 0 3px;
  white-space: pre-wrap;
}

#mdPreview code {
  background: #414345;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Source Code Pro", "Monaco", "Ubuntu Mono", "Dejavu Sans Mono", "Consolas", monospace !important;
  font-size: 90%;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin: 0 2px;
  padding: 4px 5px 2.5px 6px;
  white-space: nowrap;
}

#mdPreview blockquote {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.65);
  font-size: 95%;
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 15px 10px 25px;
  padding: 10px 20px 13px;
}

#mdPreview blockquote > p {
  margin-bottom: 0;
  line-height: 1.65;
}

#mdPreview table {
  border-collapse: collapse;
  margin: 20px 10px;
}

#mdPreview table tr {
  background-color: #f8f8fa;
  border: 1px solid #c6c8d1;
}

#mdPreview table tr:nth-child(2n) {
  background-color: #f0f1f3;
}

#mdPreview table th {
  background-color: #f0f1f3;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.03em;
}

#mdPreview table th, #mdPreview table td {
  border: 1px solid #dadada;
  padding: 6px 13px;
}

#mdPreview table thead tr {
  line-height: 1.5;
}

#mdPreview kbd {
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e0e0e0);
  color: #303030;
  font-size: 75%;
  border: 1px outset #ccc;
  border-bottom-color: #ddd;
  border-radius: 4px;
  padding: 2px 4px 2.25px;
  box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.15);
}

#mdPreview .emoji {
  font-size: 1.2em;
}

#mdPreview *:first-child {
  margin-top: 0 !important;
}

#mdPreview *:last-child {
  margin-bottom: 0 !important;
}

.hljs-built_in {
  color: #67cbcb;
}

.hljs-title {
  color: #61afef;
}

.hljs-keyword {
  color: #c678dd;
}

.hljs-class {
  color: #d19366 !important;
}

.hljs-name {
  color: #e06c75;
}

.hljs-number {
  color: #d19366;
}

.hljs-attr {
  color: #d19366;
}

.hljs-meta {
  color: #e06c75;
}

.hljs-string {
  color: #98c379;
}

.hljs-literal {
  color: #61afef;
}

.hljs-subst {
  color: #e06c75;
}

.hljs-params {
  color: rgba(255, 255, 255, 0.75) !important;
}

.hljs-comment {
  color: rgba(255, 255, 255, 0.3) !important;
}
